# Calcul des variables explicatives : Les facteurs de production

( relatif à la partie ***3.3 - Les variables explicatives*** du rapport)

In [492]:
# importation des packages
import os 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [493]:
# Importations des bases :
path_ISA = r'D:/Données/ENSAE/2A/Stat_App/ISA.csv'
ISA=pd.read_csv(path_ISA ,sep=',', encoding='latin-1')

# Pour la variable explicative, les bases qui nous intéressent sont les bases Q20,Q21,Q22 et Q23
path_Q20 = r'D:/Données/ENSAE/2A/Stat_App/SAE_2019/SAE 2019 Bases statistiques - formats SAS-CSV/Bases statistiques/Bases CSV/Q20_2019r.csv'
Q20=pd.read_csv(path_Q20 ,sep=';', encoding='latin-1')
path_Q22 = r'D:/Données/ENSAE/2A/Stat_App/SAE_2019/SAE 2019 Bases statistiques - formats SAS-CSV/Bases statistiques/Bases CSV/Q22_2019r.csv'
Q22=pd.read_csv(path_Q22 ,sep=';', encoding='latin-1')
path_Q23 = r'D:/Données/ENSAE/2A/Stat_App/SAE_2019/SAE 2019 Bases statistiques - formats SAS-CSV/Bases statistiques/Bases CSV/Q23_2019r.csv'
Q23=pd.read_csv(path_Q23 ,sep=';', encoding='latin-1')

C:\Users\Vinciane\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

A partir de maintenant, on **supprime les établissements hors France métropolitaine**. On pourrait les étudier à part dans un second temps.

Arguments : 
- différences multiples avec les hopitaux en France métropolitaine
- moins de réponses à l'enquête SAE (notamment sur la base Q20)

In [494]:
ISA = ISA[~ISA['Numero_finess'].astype(str).str.startswith('97')] #Suppression des établissements dans des départements d'Outre-Mer
ISA = ISA[~ISA['Numero_finess'].astype(str).str.startswith('98')]

In [495]:
ISA

     Numero_finess     Points_ISA  stjr
0        010008407  165054.798333     1
1        010009132    5715.170000     1
2        010780054  791902.263333     1
3        010780062  188558.060000     1
4        010780096   90756.543333     1
...            ...            ...   ...
1184     950300244  127641.666667     2
1185     950300277  141080.941667     2
1186     950300301    6779.931667     2
1187     950300350   11099.390000     2
1188     950807982  177620.576667     2

[1173 rows x 3 columns]

In [496]:
ISA['Numero_finess'].nunique()

1173

La base ISA compte désormais 1173 établissements, tous situés en France Métropolitaine.

## 1)  Effectuer la jonction entre la table ISA et les tables Q20,Q21,Q22 et Q23

Tout d'abord, nous souhaitons ne garder que les établissements qui nous intéressent, ie ceux qui sont également dans la base ISA. Pour avoir un même "Numero_finess" sur toutes nos bases, on reprend le travail effectué pour la variable d'intérêt.

#### A) Jointure entre la base Q20 (personnel médical) et la base ISA

La base ISA comporte 1173 établissements en France métropolitaine. Certains établissements de la base ISA sont représentés dans les bases Q20, Q22 et Q23 de la SAE par le numéro finess (fi) et d'autres par le numero finess de l'entité juridique(fi_ej).

In [497]:
Q20["FI"] = Q20["FI"].astype(str)
Q20["FI_EJ"] = Q20["FI_EJ"].astype(str)
Q20["PERSO"] = Q20["PERSO"].astype(str)

In [498]:
#On va essayant en comparant avec une colonne crée de toutes pièces, pour bien avoir des lignes où FI et PERSO sont différents
Q20["FI_PERSO"] = Q20["FI"] + Q20["PERSO"]
Q20["FI_EJ_PERSO"] = Q20["FI_EJ"] + Q20["PERSO"]

In [499]:
Q20.columns

Index(['BOR', 'AN', 'FI', 'FI_EJ', 'PERSO', 'EFFSALPLH', 'EFFSALPLF',
       'EFFSALPAH', 'EFFSALPAF', 'EFFLIBPLH', 'EFFLIBPLF', 'EFFLIBPAH',
       'EFFLIBPAF', 'ETPSALH', 'ETPSALF', 'ETP_PU', 'ETP_PH', 'ETP_AS',
       'ETP_HU', 'ETP_AT', 'ETP_AU', 'EFFSAL', 'ETPSAL', 'EFFLIB', 'FI_PERSO',
       'FI_EJ_PERSO'],
      dtype='object')

In [500]:
print("fi : ",Q20["FI_PERSO"].size,'\n',"fi uniques :",Q20["FI_PERSO"].nunique())
# On remarque qu'il y a des doublons

fi :  33731
 fi uniques : 33731

In [501]:
print("fi_ej : ",Q20["FI_EJ_PERSO"].size,'\n',"fi_ej uniques :",Q20["FI_EJ_PERSO"].nunique())
# On remarque qu'il y a des doublons

fi_ej :  33731
 fi_ej uniques : 26557

In [502]:
### Cette cellule est à modifier TOUT est à modifier
for i in Q20['FI_EJ_PERSO'].unique():
    moyenne_EFFSALPLH = Q20[Q20['FI_EJ_PERSO']==i]['EFFSALPLH'].mean()
    moyenne_EFFSALPLF = Q20[Q20['FI_EJ_PERSO']==i]['EFFSALPLF'].mean()
    moyenne_EFFSALPAH = Q20[Q20['FI_EJ_PERSO']==i]['EFFSALPAH'].mean()
    moyenne_EFFSALPAF = Q20[Q20['FI_EJ_PERSO']==i]['EFFSALPAF'].mean()
    moyenne_ETPSALH = Q20[Q20['FI_EJ_PERSO']==i]['ETPSALH'].mean()
    moyenne_ETPSALF = Q20[Q20['FI_EJ_PERSO']==i]['ETPSALF'].mean()
    moyenne_ETP_PU = Q20[Q20['FI_EJ_PERSO']==i]['ETP_PU'].mean()
    moyenne_ETP_PH = Q20[Q20['FI_EJ_PERSO']==i]['ETP_PH'].mean()
    moyenne_ETP_AS = Q20[Q20['FI_EJ_PERSO']==i]['ETP_AS'].mean()
    moyenne_ETP_HU = Q20[Q20['FI_EJ_PERSO']==i]['ETP_HU'].mean()
    moyenne_ETP_AT = Q20[Q20['FI_EJ_PERSO']==i]['ETP_AT'].mean()
    moyenne_ETP_AU = Q20[Q20['FI_EJ_PERSO']==i]['ETP_AU'].mean()
    moyenne_EFFSAL = Q20[Q20['FI_EJ_PERSO']==i]['EFFSAL'].mean()
    moyenne_ETPSAL = Q20[Q20['FI_EJ_PERSO']==i]['ETPSAL'].mean()
    moyenne_EFFLIB = Q20[Q20['FI_EJ_PERSO']==i]['EFFLIB'].mean()
    
    Indexs_Q20 = Q20[Q20['FI_EJ_PERSO']==i].index
    Q20['EFFSALPLH'][Indexs_Q20] = float(moyenne_EFFSALPLH)
    Q20['EFFSALPLF'][Indexs_Q20] = float(moyenne_EFFSALPLF)
    Q20['EFFSALPAH'][Indexs_Q20] = float(moyenne_EFFSALPAH)
    Q20['EFFSALPAF'][Indexs_Q20] = float(moyenne_EFFSALPAF)
    Q20['ETPSALH'][Indexs_Q20] = float(moyenne_ETPSALH)
    Q20['ETPSALF'][Indexs_Q20] = float(moyenne_ETPSALF)
    Q20['ETP_PU'][Indexs_Q20] = float(moyenne_ETP_PU)
    Q20['ETP_PH'][Indexs_Q20] = float(moyenne_ETP_PH)
    Q20['ETP_AS'][Indexs_Q20] = float(moyenne_ETP_AS)
    Q20['ETP_HU'][Indexs_Q20] = float(moyenne_ETP_HU)
    Q20['ETP_AT'][Indexs_Q20] = float(moyenne_ETP_AT)
    Q20['ETP_AU'][Indexs_Q20] = float(moyenne_ETP_AU)
    Q20['EFFSAL'][Indexs_Q20] = float(moyenne_EFFSAL)
    Q20['ETPSAL'][Indexs_Q20] = float(moyenne_ETPSAL)
    Q20['EFFLIB'][Indexs_Q20] = float(moyenne_EFFLIB)
    
Q20.head(10)

C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,BOR,AN,FI,FI_EJ,PERSO,EFFSALPLH,EFFSALPLF,EFFSALPAH,EFFSALPAF,EFFLIBPLH,...,ETP_PH,ETP_AS,ETP_HU,ETP_AT,ETP_AU,EFFSAL,ETPSAL,EFFLIB,FI_PERSO,FI_EJ_PERSO
0,Q20,2019,010000024,010780054,M1010,5.0,9.0,3.0,9.0,NaN,...,13.30,NaN,NaN,1.560,3.88,26.0,18.740,7.0,010000024M1010,010780054M1010
1,Q20,2019,010000024,010780054,M1020,1.0,2.0,NaN,NaN,NaN,...,2.33,1.00,NaN,NaN,NaN,3.0,3.330,NaN,010000024M1020,010780054M1020
2,Q20,2019,010000024,010780054,M1030,8.0,3.0,1.0,4.0,NaN,...,10.10,0.66,NaN,0.565,2.40,16.0,7.145,NaN,010000024M1030,010780054M1030
3,Q20,2019,010000024,010780054,M1031,5.0,1.0,1.0,1.0,NaN,...,5.25,0.58,NaN,0.100,0.80,8.0,6.730,NaN,010000024M1031,010780054M1031
4,Q20,2019,010000024,010780054,M1040,1.0,NaN,NaN,NaN,NaN,...,0.50,1.00,NaN,0.660,NaN,1.0,2.160,2.0,010000024M1040,010780054M1040
5,Q20,2019,010000024,010780054,M1050,NaN,1.0,1.0,NaN,NaN,...,1.00,NaN,NaN,0.100,NaN,2.0,1.100,NaN,010000024M1050,010780054M1050
6,Q20,2019,010000024,010780054,M1070,1.0,NaN,1.0,2.0,NaN,...,2.60,NaN,NaN,NaN,0.40,4.0,3.000,NaN,010000024M1070,010780054M1070
7,Q20,2019,010000024,010780054,M1090,3.0,1.0,NaN,NaN,NaN,...,4.00,NaN,NaN,NaN,NaN,4.0,4.000,NaN,010000024M1090,010780054M1090
8,Q20,2019,010000024,010780054,M1100,1.0,1.0,1.0,1.0,NaN,...,1.08,NaN,NaN,1.200,0.15,4.0,2.430,NaN,010000024M1100,010780054M1100
9,Q20,2019,010000024,010780054,M1110,2.0,2.0,NaN,1.0,NaN,...,3.00,NaN,NaN,0.400,0.58,5.0,3.980,NaN,010000024M1110,010780054M1110

In [503]:
df_Q20_fi = pd.DataFrame(Q20)
df_Q20_fi.drop_duplicates(subset= "FI_PERSO", keep = 'first', inplace=True)

In [504]:
Q20_fi=pd.merge(ISA, df_Q20_fi, left_on = ['Numero_finess'], right_on = ['FI'],how='inner')
Q20_fi

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFSALPLH,EFFSALPLF,...,ETP_PH,ETP_AS,ETP_HU,ETP_AT,ETP_AU,EFFSAL,ETPSAL,EFFLIB,FI_PERSO,FI_EJ_PERSO
0,050007533,3032.015000,3,Q20,2019,050007533,130784127,M1170,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,4.5,4.78,NaN,050007533M1170,130784127M1170
1,050007533,3032.015000,3,Q20,2019,050007533,130784127,M9999,69.0,45.0,...,NaN,NaN,NaN,NaN,NaN,127.0,96.05,NaN,050007533M9999,130784127M9999
2,060000528,363000.313000,3,Q20,2019,060000528,060780962,M1010,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,3.44,NaN,060000528M1010,060780962M1010
3,060000528,363000.313000,3,Q20,2019,060000528,060780962,M1020,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,4.0,3.90,NaN,060000528M1020,060780962M1020
4,060000528,363000.313000,3,Q20,2019,060000528,060780962,M1030,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,10.0,9.32,NaN,060000528M1030,060780962M1030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11042,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,950807982M3011,950001636M3011
11043,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,950807982M3020,950001636M3020
11044,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3040,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.00,NaN,950807982M3040,950001636M3040
11045,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3050,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,2.00,NaN,950807982M3050,950001636M3050
11046,950807982,177620.576667,2,Q20,2019,950807982,950001636,M9999,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,5.0,4.30,143.0,950807982M9999,950001636M9999

In [505]:
df_Q20_fiej = pd.DataFrame(Q20)
df_Q20_fiej.drop_duplicates(subset= "FI_EJ_PERSO", keep = 'first', inplace=True)

In [506]:
Q20_fiej=pd.merge(ISA, df_Q20_fiej, left_on = ['Numero_finess'], right_on = ['FI_EJ'],how='inner')
Q20_fiej

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFSALPLH,EFFSALPLF,...,ETP_PH,ETP_AS,ETP_HU,ETP_AT,ETP_AU,EFFSAL,ETPSAL,EFFLIB,FI_PERSO,FI_EJ_PERSO
0,010008407,1.650548e+05,1,Q20,2019,010005239,010008407,M1010,3.666667,1.0,...,1.086667,0.00,0.0,0.126667,4.046667,6.0,5.26,0.0,010005239M1010,010008407M1010
1,010008407,1.650548e+05,1,Q20,2019,010005239,010008407,M1030,2.000000,0.0,...,0.600000,0.83,0.0,0.000000,3.900000,5.0,5.33,0.0,010005239M1030,010008407M1030
2,010008407,1.650548e+05,1,Q20,2019,010005239,010008407,M1040,0.000000,0.0,...,0.600000,0.00,0.0,0.000000,0.000000,1.0,0.60,0.0,010005239M1040,010008407M1040
3,010008407,1.650548e+05,1,Q20,2019,010005239,010008407,M1090,1.000000,0.0,...,1.000000,0.00,0.0,0.500000,0.000000,2.0,1.50,0.0,010005239M1090,010008407M1090
4,010008407,1.650548e+05,1,Q20,2019,010005239,010008407,M1120,0.000000,0.0,...,0.000000,0.00,0.0,0.600000,0.000000,1.0,0.60,0.0,010005239M1120,010008407M1120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10539,950110080,1.204575e+06,1,Q20,2019,950000364,950110080,M3030,1.000000,0.0,...,1.000000,0.00,0.0,0.700000,0.000000,6.0,1.70,NaN,950000364M3030,950110080M3030
10540,950110080,1.204575e+06,1,Q20,2019,950000364,950110080,M3040,1.000000,0.0,...,1.000000,0.00,0.0,0.000000,0.000000,1.0,1.00,NaN,950000364M3040,950110080M3040
10541,950110080,1.204575e+06,1,Q20,2019,950000364,950110080,M3050,5.000000,1.0,...,6.000000,0.18,0.0,0.000000,0.820000,7.0,7.00,NaN,950000364M3050,950110080M3050
10542,950110080,1.204575e+06,1,Q20,2019,950000364,950110080,M3070,2.000000,4.0,...,3.000000,0.98,0.0,0.230000,1.310000,9.0,5.52,NaN,950000364M3070,950110080M3070
10543,950110080,1.204575e+06,1,Q20,2019,950000364,950110080,M9999,145.000000,142.0,...,176.290000,33.92,0.0,49.950000,23.570000,428.0,284.73,NaN,950000364M9999,950110080M9999

In [507]:
Q20_good= pd.concat([Q20_fiej, Q20_fi] )
Q20_good

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFSALPLH,EFFSALPLF,...,ETP_PH,ETP_AS,ETP_HU,ETP_AT,ETP_AU,EFFSAL,ETPSAL,EFFLIB,FI_PERSO,FI_EJ_PERSO
0,010008407,165054.798333,1,Q20,2019,010005239,010008407,M1010,3.666667,1.0,...,1.086667,0.00,0.0,0.126667,4.046667,6.0,5.26,0.0,010005239M1010,010008407M1010
1,010008407,165054.798333,1,Q20,2019,010005239,010008407,M1030,2.000000,0.0,...,0.600000,0.83,0.0,0.000000,3.900000,5.0,5.33,0.0,010005239M1030,010008407M1030
2,010008407,165054.798333,1,Q20,2019,010005239,010008407,M1040,0.000000,0.0,...,0.600000,0.00,0.0,0.000000,0.000000,1.0,0.60,0.0,010005239M1040,010008407M1040
3,010008407,165054.798333,1,Q20,2019,010005239,010008407,M1090,1.000000,0.0,...,1.000000,0.00,0.0,0.500000,0.000000,2.0,1.50,0.0,010005239M1090,010008407M1090
4,010008407,165054.798333,1,Q20,2019,010005239,010008407,M1120,0.000000,0.0,...,0.000000,0.00,0.0,0.600000,0.000000,1.0,0.60,0.0,010005239M1120,010008407M1120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11042,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,950807982M3011,950001636M3011
11043,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,950807982M3020,950001636M3020
11044,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3040,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.00,NaN,950807982M3040,950001636M3040
11045,950807982,177620.576667,2,Q20,2019,950807982,950001636,M3050,1.000000,1.0,...,NaN,NaN,NaN,NaN,NaN,2.0,2.00,NaN,950807982M3050,950001636M3050
11046,950807982,177620.576667,2,Q20,2019,950807982,950001636,M9999,2.000000,1.0,...,NaN,NaN,NaN,NaN,NaN,5.0,4.30,143.0,950807982M9999,950001636M9999

In [508]:
print("Il nous manque:", ISA[~ISA["Numero_finess"].isin(Q20_good["Numero_finess"])]["Numero_finess"].shape[0], "établissements.")

Il nous manque: 6 établissements.

Lorsque l'on effectue la jointure, 6 établissements présents sur la base ISA disparaissent et ne sont plus sur la nouvelle table. Nous devons les regarder, pour savoir à quoi est due cette disparition

- Observation des données manquantes :

In [426]:
ISA_6 = ISA[~ISA["Numero_finess"].isin(Q20_good["Numero_finess"])]
ISA_6

     Numero_finess    Points_ISA  stjr
485      670020098  12157.103000     3
743      100000157   4551.390000     2
841      330780255  22251.530000     2
894      440000651   6613.990000     2
896      440024982  31024.516667     2
1087     780300364  14503.930000     2

En comparant avec la liste des établissements de santé dont les enquêtes sont facultatives, on retrouve de nombreux hopitaux. Je n'ai trouvé que la liste de 2014, disponible sur ce lien : https://www.fehap.fr/jcms/liste-des-etablissements-pour-lesquels-l-enquete-est-facultative-fehap_115923. Pour transférer cette base et pouvoir l'utiliser, il faut supprimer les deux premières lignes, et l'enregistrer au format CSV avec comme séparateur le point-virgule.

In [427]:
path_facult = r'D:/Données/ENSAE/2A/Stat_App/enquetes_facultatives_2014.csv'
facult=pd.read_csv(path_facult ,sep=';', encoding='latin-1')

In [428]:
facult

,Nbre,Finess PMSI,Nb séjours,Libellé Finess
0,1.0,010007987,8.0,CENTRE HOSPITALIER PUBLIC HAUTEVILLE-LOMPNES
1,2.0,010009132,21.0,CTRE HOSP INTERCOM AIN VAL DE SAONE
2,3.0,010780120,2.0,HOPITAL LOCAL DE MEXIMIEUX
3,4.0,010780138,12.0,HOPITAL LOCAL PONT-DE-VAUX
4,5.0,020000048,42.0,CTRE HOSP GERONTOLOGIQUE
...,...,...,...,...
312,313.0,970421038,13.0,CENTRE HOSPITALIER GABRIEL MARTIN
313,314.0,970462073,1.0,CLINIQUE DURIEUX
314,315.0,970462081,1.0,CLINIQUE DES ORCHIDÉES
315,316.0,970462107,5.0,CLINIQUE SAINTE CLOTILDE
316,NaN,NaN,NaN,NaN

In [429]:
ISA_facult=pd.merge(ISA_6, facult , left_on = ['Numero_finess'], right_on = ['Finess PMSI'],how='inner')
ISA_facult

,Numero_finess,Points_ISA,stjr,Nbre,Finess PMSI,Nb séjours,Libellé Finess
0,100000157,4551.39,2,37.0,100000157,57.0,CLINIQUE DES URSULINES

Sur les 6 établissements qui posent problèmes, 1 fait partie de ceux pour qui les enquêtes SAE étaient facultatives en 2014. On peut supposer qu'en 2019, ces enquêtes étaient encore facultatives pour cet établissements, et qu'il s'agit également de cela pour les 5 autres établissements.

In [430]:
# Voici les 5 établissements restants
ISA_5 = ISA_6[~ISA_6["Numero_finess"].isin(ISA_facult["Numero_finess"])]
ISA_5

     Numero_finess    Points_ISA  stjr
485      670020098  12157.103000     3
841      330780255  22251.530000     2
894      440000651   6613.990000     2
896      440024982  31024.516667     2
1087     780300364  14503.930000     2

**Analyse détaillée des établissements** : 
-  *670020098* :Groupement de coopération sanitaire de moyens - Exploitant, ouvert le 18 novembre 2019
- *330780255* : Etablissement de Soins Chirurgicaux : N° FINESS de l'entité juridique de rattachement :	33 001 005 9
- *440000651* : Etablissement de Soins Chirurgicaux : N° FINESS de l'entité juridique de rattachement :	44 000 121 2
- *440024982* : Etablissement de Soins Pluridisciplinaire : N° FINESS de l'entité juridique de rattachement :	33 000 004 3
- *780300364* : Etablissement de Soins Pluridisciplinaire : N° FINESS de l'entité juridique de rattachement :	78 000 367 97

On peut supprimer de la base ISA l'établissement 670020098, qui n'était pas créé au début 2019.

In [431]:
ISA = ISA[~ISA['Numero_finess'].astype(str).str.startswith('670020098')]
# La base ISA compte désormais 1172 établissements

Pour la suite, on fait l'hypothèse que ces établissements sont d'autres établissements qui n'ont pas à répondre à la partie Q20 de l'enquête SAE. Pour la base Q20, on peut donc garder ***Q20_good*** qui correspond à la base Q20 avec les différents numéro finess.

#### B) ISA et la base Q22

On utilise directement la méthode présenté au dessus pour avoir le même numéro finess avec la base Q22, présentant les données sur les internes.

In [432]:
Q22['FI'].nunique()

1072

 => on a 1072 numéro finess différents, soient autant que dans ISA MAIS si ca se trouve se sont des établissements qui ne font pas partis de notre champ d'étude

In [433]:
ISA['Numero_finess'].nunique()

1172

In [434]:
print("fi: ",Q22["FI"].size,'\n',"fi uniques :",Q22["FI"].nunique())

fi:  1072
 fi uniques : 1072

In [435]:
# On retire les lignes identiques pour la fusion
df_Q22_fi = pd.DataFrame(Q22)
df_Q22_fi.drop_duplicates(subset ="FI", keep = 'first', inplace=True)

In [436]:
# On fusionne ISA et Q22, pour avoir les mêmes numéros FINESS
Q22_fi=pd.merge(ISA, df_Q22_fi, left_on = ['Numero_finess'], right_on = ['FI'],how='inner')
Q22_fi.head(5)

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
0,060000528,363000.313000,3,Q22,2019,060000528,060780962,28.0,2.0,NaN,NaN,NaN,NaN,30
1,060780947,174552.540000,3,Q22,2019,060780947,060800174,41.0,NaN,NaN,6.0,NaN,NaN,47
2,060791811,146432.633333,3,Q22,2019,060791811,060010808,2.0,0.0,0.0,3.0,1.0,0.0,6
3,060794013,238173.260000,3,Q22,2019,060794013,060790797,4.0,NaN,NaN,NaN,NaN,NaN,4
4,130001647,859415.438000,3,Q22,2019,130001647,130784127,68.0,7.0,NaN,NaN,NaN,6.0,81

test en ne gardant que ceux qui n'ont pas été gardé dans le premier merge

In [437]:
print("fi_ej : ",Q22["FI_EJ"].size,'\n',"fi_ej uniques :",Q22["FI_EJ"].nunique())
# On remarque qu'il y a des doublons

fi_ej :  1072
 fi_ej uniques : 743

In [438]:
# Avant de supprimer les doublons, on fait la moyenne de leur valeurs pour qu'ils soient le plus représentatifs des hopitaux qui les concernent
for i in Q22['FI_EJ'].unique():
    moyenne_INTTOT = Q22[Q22['FI_EJ']==i]['INTTOT'].mean()
    moyenne_INTMED = Q22[Q22['FI_EJ']==i]['INTMED'].mean()
    moyenne_INTPHA = Q22[Q22['FI_EJ']==i]['INTPHA'].mean()
    moyenne_INTODO = Q22[Q22['FI_EJ']==i]['INTODO'].mean()
    moyenne_INTGEN = Q22[Q22['FI_EJ']==i]['INTGEN'].mean()
    moyenne_INTURG = Q22[Q22['FI_EJ']==i]['INTURG'].mean()
    moyenne_FFI = Q22[Q22['FI_EJ']==i]['FFI'].mean()
    Indexs_Q22 = Q22[Q22['FI_EJ']==i].index
    Q22['INTTOT'][Indexs_Q22] = float(moyenne_INTTOT)
    Q22['INTMED'][Indexs_Q22] = float(moyenne_INTMED)
    Q22['INTPHA'][Indexs_Q22] = float(moyenne_INTPHA)
    Q22['INTODO'][Indexs_Q22] = float(moyenne_INTODO)
    Q22['INTGEN'][Indexs_Q22] = float(moyenne_INTGEN)
    Q22['INTURG'][Indexs_Q22] = float(moyenne_INTURG)
    Q22['FFI'][Indexs_Q22] = float(moyenne_FFI)
Q22.head(10)

C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,BOR,AN,FI,FI_EJ,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
0,Q22,2019,010000024,010780054,24.0,3.0,NaN,19.0,5.0,15.0,66.0
1,Q22,2019,010000032,010780062,NaN,NaN,NaN,5.0,NaN,NaN,5.0
2,Q22,2019,010000065,010780096,NaN,NaN,NaN,0.0,NaN,2.0,2.0
3,Q22,2019,010000198,010007987,NaN,NaN,NaN,1.0,NaN,NaN,1.0
4,Q22,2019,010000495,010783009,4.0,NaN,NaN,NaN,NaN,3.0,7.0
5,Q22,2019,020000089,020000022,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,Q22,2019,020000162,020000063,19.5,5.0,0.0,22.0,1.0,22.0,44.5
7,Q22,2019,020000394,020000253,0.5,0.0,0.0,1.5,0.0,13.0,15.0
8,Q22,2019,020000519,020000261,4.0,NaN,NaN,4.0,NaN,23.0,31.0
9,Q22,2019,020000535,020000287,NaN,NaN,NaN,6.0,NaN,6.0,12.0

In [439]:
Q22.sort_values(by="FI_EJ").head(10)

,BOR,AN,FI,FI_EJ,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
3,Q22,2019,010000198,010007987,NaN,NaN,NaN,1.0,NaN,NaN,1.0
0,Q22,2019,010000024,010780054,24.0,3.0,NaN,19.0,5.0,15.0,66.0
1,Q22,2019,010000032,010780062,NaN,NaN,NaN,5.0,NaN,NaN,5.0
2,Q22,2019,010000065,010780096,NaN,NaN,NaN,0.0,NaN,2.0,2.0
4,Q22,2019,010000495,010783009,4.0,NaN,NaN,NaN,NaN,3.0,7.0
5,Q22,2019,020000089,020000022,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,Q22,2019,020000162,020000063,19.5,5.0,0.0,22.0,1.0,22.0,44.5
13,Q22,2019,020006664,020000063,19.5,5.0,0.0,22.0,1.0,22.0,44.5
7,Q22,2019,020000394,020000253,0.5,0.0,0.0,1.5,0.0,13.0,15.0
12,Q22,2019,020003877,020000253,0.5,0.0,0.0,1.5,0.0,13.0,15.0

In [440]:
# On retire les lignes identiques dans FIEJ pour la fusion
df_Q22_fiej = pd.DataFrame(Q22)
df_Q22_fiej.drop_duplicates(subset ="FI_EJ", keep = 'first', inplace=True)

In [441]:
Q22_fiej=pd.merge(ISA, df_Q22_fiej, left_on = ['Numero_finess'], right_on = ['FI_EJ'],how='inner')
Q22_fiej

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
0,010780054,7.919023e+05,1,Q22,2019,010000024,010780054,24.0,3.0,NaN,19.0,5.0,15.0,66.0
1,010780062,1.885581e+05,1,Q22,2019,010000032,010780062,NaN,NaN,NaN,5.0,NaN,NaN,5.0
2,010780096,9.075654e+04,1,Q22,2019,010000065,010780096,NaN,NaN,NaN,0.0,NaN,2.0,2.0
3,020000022,2.967046e+04,1,Q22,2019,020000089,020000022,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,020000063,8.703914e+05,1,Q22,2019,020000162,020000063,19.5,5.0,0.0,22.0,1.0,22.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,950013870,7.777992e+05,1,Q22,2019,950000323,950013870,18.0,NaN,NaN,25.0,NaN,59.0,102.0
381,950015289,1.831389e+04,1,Q22,2019,950000349,950015289,NaN,NaN,NaN,3.0,NaN,NaN,3.0
382,950110015,1.082422e+06,1,Q22,2019,950000307,950110015,40.0,4.0,NaN,32.0,4.0,28.0,108.0
383,950110049,6.828193e+05,1,Q22,2019,950000331,950110049,13.0,0.0,0.0,28.0,5.0,50.0,96.0
384,950110080,1.204575e+06,1,Q22,2019,950000364,950110080,27.0,0.0,0.0,9.0,5.0,60.0,101.0

In [442]:
# On a bien dans Q22_fiej je même nombre de ligne uniques 
Q22_fiej['Numero_finess'].nunique()

385

In [443]:
Q22_good= pd.concat([Q22_fiej, Q22_fi] )
Q22_good

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
0,010780054,791902.263333,1,Q22,2019,010000024,010780054,24.0,3.0,NaN,19.0,5.0,15.0,66.0
1,010780062,188558.060000,1,Q22,2019,010000032,010780062,NaN,NaN,NaN,5.0,NaN,NaN,5.0
2,010780096,90756.543333,1,Q22,2019,010000065,010780096,NaN,NaN,NaN,0.0,NaN,2.0,2.0
3,020000022,29670.455000,1,Q22,2019,020000089,020000022,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,020000063,870391.406333,1,Q22,2019,020000162,020000063,19.5,5.0,0.0,22.0,1.0,22.0,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,920300365,56956.460000,2,Q22,2019,920300365,920815388,2.0,0.0,0.0,0.0,0.0,NaN,2.0
161,920300753,425375.070000,2,Q22,2019,920300753,920810736,4.0,NaN,NaN,NaN,NaN,NaN,4.0
162,940006679,102715.460000,2,Q22,2019,940006679,940017338,1.0,NaN,NaN,NaN,NaN,NaN,1.0
163,940300270,119908.980000,2,Q22,2019,940300270,940000771,1.0,NaN,NaN,NaN,NaN,NaN,1.0
164,940300445,58792.300000,2,Q22,2019,940300445,940000854,5.0,NaN,NaN,NaN,NaN,NaN,5.0

In [444]:
Q22_good["Numero_finess"].nunique()

550

In [445]:
print("Il nous manque:", ISA[~ISA["Numero_finess"].isin(Q22_good["Numero_finess"])]["Numero_finess"].shape[0], "établissements.")

Il nous manque: 622 établissements.

 On n'a que 550 établissements lorsque l'on joint les bases ISA et Q22, soit moins de la moitié par rapport à ceux de la base ISA.
    
Etudions les établissements manquants :

In [446]:
ISA[~ISA["Numero_finess"].isin(Q22_good["Numero_finess"])]["Numero_finess"]

0       010008407
1       010009132
6       020000048
7       020000055
9       020000071
          ...
1184    950300244
1185    950300277
1186    950300301
1187    950300350
1188    950807982
Name: Numero_finess, Length: 622, dtype: object

 Cela est sûrement dû au fait que tous les établissements n'accueillent pas des internes (étudiants). En 
 effet, en se penchant sur la documentation : https://drees.solidarites-sante.gouv.fr/sites/default/files/2021-03/6-8.pdf, 
 On ne trouve pas trop de réponse à nos questions.

#### C) ISA et la base Q23

In [447]:
ISA['Numero_finess'].nunique()

1172

In [448]:
Q23["FI"] = Q23["FI"].astype(str)
Q23["FI_EJ"] = Q23["FI_EJ"].astype(str)
Q23["PERSO"] = Q23["PERSO"].astype(str)

In [449]:
#On va essayant en comparant avec une colonne crée de toutes pièces, pour bien avoir des lignes où FI et PERSO sont différents
Q23["FI_PERSO"] = Q23["FI"] + Q23["PERSO"]
Q23["FI_EJ_PERSO"] = Q23["FI_EJ"] + Q23["PERSO"]

In [450]:
print("fi_perso : ",Q23["FI_PERSO"].size,'\n',"fi_perso uniques :",Q23["FI_PERSO"].nunique())
# On remarque qu'il n'y a pas de doublons

fi_perso :  77320
 fi_perso uniques : 77320

In [451]:
print("fi_ej_perso : ",Q23["FI_EJ_PERSO"].size,'\n',"fi_ej_perso uniques :",Q23["FI_EJ_PERSO"].nunique())
# On remarque qu'il y a des doublons

fi_ej_perso :  77320
 fi_ej_perso uniques : 52074

In [452]:
#On moyenne pour les doublons

In [453]:
Q23

,BOR,AN,FI,FI_EJ,PERSO,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM,FI_PERSO,FI_EJ_PERSO
0,Q23,2019,010000024,010780054,N1000,17.0,17.34,47.0,31.22,185.41,199.0,263.0,233.97,010000024N1000,010780054N1000
1,Q23,2019,010000024,010780054,N1100,1.0,1.10,NaN,NaN,5.19,6.0,7.0,6.29,010000024N1100,010780054N1100
2,Q23,2019,010000024,010780054,N1210,NaN,0.17,3.0,3.86,95.56,99.0,102.0,99.59,010000024N1210,010780054N1210
3,Q23,2019,010000024,010780054,N1220,16.0,16.07,44.0,27.36,83.66,93.0,153.0,127.09,010000024N1220,010780054N1220
4,Q23,2019,010000024,010780054,N1400,NaN,NaN,NaN,NaN,1.00,1.0,1.0,1.00,010000024N1400,010780054N1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77315,Q23,2019,980501258,970407250.0,N2510,2.0,1.13,NaN,NaN,NaN,NaN,2.0,1.13,980501258N2510,970407250.0N2510
77316,Q23,2019,980501258,970407250.0,N5000,NaN,0.62,NaN,NaN,NaN,NaN,NaN,0.62,980501258N5000,970407250.0N5000
77317,Q23,2019,980501258,970407250.0,N5110,NaN,0.05,NaN,NaN,NaN,NaN,NaN,0.05,980501258N5110,970407250.0N5110
77318,Q23,2019,980501258,970407250.0,N5130,NaN,0.57,NaN,NaN,NaN,NaN,NaN,0.57,980501258N5130,970407250.0N5130
77319,Q23,2019,980501258,970407250.0,N9999,6.0,4.20,1.0,0.57,NaN,NaN,7.0,4.77,980501258N9999,970407250.0N9999

In [454]:


#Attention, lancer cette cellule prend environ 15min
# Avant de supprimer les doublons, on fait la moyenne de leur valeurs pour qu'ils soient le plus représentatifs des hopitaux qui les concernent
#moyenne que pour les doublons, sinon ça prend trop de temps
for i in Q23['FI_EJ_PERSO'].unique(): # par rapport à hier j'ai remplacé Q23_2 par Q23
    moyenne_EFFCDI = Q23[Q23['FI_EJ_PERSO']==i]['EFFCDI'].mean()
    moyenne_ETPCDI = Q23[Q23['FI_EJ_PERSO']==i]['ETPCDI'].mean()
    moyenne_EFFCDD = Q23[Q23['FI_EJ_PERSO']==i]['EFFCDD'].mean()
    moyenne_ETPCDD = Q23[Q23['FI_EJ_PERSO']==i]['ETPCDD'].mean()
    moyenne_ETPTIT = Q23[Q23['FI_EJ_PERSO']==i]['ETPTIT'].mean()
    moyenne_EFFTIT = Q23[Q23['FI_EJ_PERSO']==i]['EFFTIT'].mean()
    moyenne_EFFPNM = Q23[Q23['FI_EJ_PERSO']==i]['EFFPNM'].mean()
    moyenne_ETPPNM = Q23[Q23['FI_EJ_PERSO']==i]['ETPPNM'].mean()
    
    Indexs_Q23 = Q23[Q23['FI_EJ_PERSO']==i].index
    Q23['EFFCDI'][Indexs_Q23] = float(moyenne_EFFCDI)
    Q23['ETPCDI'][Indexs_Q23] = float(moyenne_ETPCDI)
    Q23['EFFCDD'][Indexs_Q23] = float(moyenne_EFFCDD)
    Q23['ETPCDD'][Indexs_Q23] = float(moyenne_ETPCDD)
    Q23['ETPTIT'][Indexs_Q23] = float(moyenne_ETPTIT)
    Q23['EFFTIT'][Indexs_Q23] = float(moyenne_EFFTIT)
    Q23['EFFPNM'][Indexs_Q23] = float(moyenne_EFFPNM)
    Q23['ETPPNM'][Indexs_Q23] = float(moyenne_ETPPNM)
    
Q23.head(10)

C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Vinciane\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,BOR,AN,FI,FI_EJ,PERSO,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM,FI_PERSO,FI_EJ_PERSO
0,Q23,2019,010000024,010780054,N1000,17.0,17.340000,47.0,31.220000,94.325000,102.000000,134.000000,118.605000,010000024N1000,010780054N1000
1,Q23,2019,010000024,010780054,N1100,1.0,1.100000,NaN,NaN,5.190000,6.000000,7.000000,6.290000,010000024N1100,010780054N1100
2,Q23,2019,010000024,010780054,N1210,NaN,0.170000,3.0,3.860000,49.200000,51.000000,52.500000,51.215000,010000024N1210,010780054N1210
3,Q23,2019,010000024,010780054,N1220,16.0,16.070000,44.0,27.360000,42.030000,47.500000,77.500000,63.745000,010000024N1220,010780054N1220
4,Q23,2019,010000024,010780054,N1400,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,010000024N1400,010780054N1400
5,Q23,2019,010000024,010780054,N2000,13.0,8.193333,48.0,44.016667,336.380000,365.333333,426.333333,388.590000,010000024N2000,010780054N2000
6,Q23,2019,010000024,010780054,N2120,1.0,1.000000,NaN,NaN,11.890000,13.000000,13.333333,12.223333,010000024N2120,010780054N2120
7,Q23,2019,010000024,010780054,N2210,2.0,1.000000,19.5,22.095000,138.553333,152.666667,166.333333,153.616667,010000024N2210,010780054N2210
8,Q23,2019,010000024,010780054,N2310,NaN,NaN,NaN,NaN,25.060000,28.000000,28.000000,25.060000,010000024N2310,010780054N2310
9,Q23,2019,010000024,010780054,N2320,NaN,NaN,1.0,0.520000,25.350000,28.000000,29.000000,25.870000,010000024N2320,010780054N2320

In [455]:
df_Q23_fi = pd.DataFrame(Q23)
df_Q23_fi.drop_duplicates(subset= "FI_PERSO", keep = 'first', inplace=True)

In [456]:
df_Q23_fiej = pd.DataFrame(Q23)
df_Q23_fiej.drop_duplicates(subset= "FI_EJ_PERSO", keep = 'first', inplace=True)

In [457]:
Q23_fi=pd.merge(ISA, df_Q23_fi, left_on = ['Numero_finess'], right_on = ['FI'],how='inner')
Q23_fi

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM,FI_PERSO,FI_EJ_PERSO
0,050007533,3032.015000,3,Q23,2019,050007533,130784127,N4000,129.0,119.620,36.0,35.43,NaN,NaN,147.0,137.335,050007533N4000,130784127N4000
1,050007533,3032.015000,3,Q23,2019,050007533,130784127,N4180,4.0,3.595,NaN,NaN,NaN,NaN,4.0,3.595,050007533N4180,130784127N4180
2,050007533,3032.015000,3,Q23,2019,050007533,130784127,N9999,604.5,560.605,135.0,141.12,NaN,NaN,672.0,631.165,050007533N9999,130784127N9999
3,060000528,363000.313000,3,Q23,2019,060000528,060780962,N1000,142.0,133.310,7.0,10.04,2.61,2.0,151.0,145.960,060000528N1000,060780962N1000
4,060000528,363000.313000,3,Q23,2019,060000528,060780962,N1100,4.0,4.090,NaN,NaN,1.00,1.0,5.0,5.090,060000528N1100,060780962N1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14081,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N4160,2.0,2.000,NaN,NaN,NaN,NaN,2.0,2.000,950807982N4160,950001636.0N4160
14082,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N5000,6.0,6.000,NaN,NaN,NaN,NaN,6.0,6.000,950807982N5000,950001636.0N5000
14083,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N511A,4.0,4.000,NaN,NaN,NaN,NaN,4.0,4.000,950807982N511A,950001636.0N511A
14084,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N5120,2.0,2.000,NaN,NaN,NaN,NaN,2.0,2.000,950807982N5120,950001636.0N5120
14085,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N9999,308.0,285.910,151.0,78.14,NaN,NaN,459.0,364.050,950807982N9999,950001636.0N9999

In [458]:
Q23_fiej=pd.merge(ISA, df_Q23_fiej, left_on = ['Numero_finess'], right_on = ['FI_EJ'],how='inner')
Q23_fiej

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM,FI_PERSO,FI_EJ_PERSO
0,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1000,1.0,1.153333,4.666667,3.65,16.393333,17.666667,23.333333,21.196667,010005239N1000,010008407N1000
1,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1100,0.0,0.000000,0.000000,0.00,2.000000,2.000000,2.000000,2.000000,010005239N1100,010008407N1100
2,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1210,0.0,0.000000,0.000000,0.00,7.955000,8.000000,8.000000,7.955000,010005239N1210,010008407N1210
3,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1220,1.0,1.153333,7.000000,3.65,10.156667,11.666667,17.333333,14.960000,010005239N1220,010008407N1220
4,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1400,0.0,0.000000,0.000000,0.00,0.800000,0.000000,0.000000,0.800000,010005239N1400,010008407N1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14576,940016819,59833.080000,1,Q23,2019,750006538,940016819,N3121,0.0,0.000000,0.000000,0.00,1.190000,1.000000,1.000000,1.190000,750006538N3121,940016819N3121
14577,940016819,59833.080000,1,Q23,2019,750006538,940016819,N3130,0.0,0.000000,1.000000,0.50,1.990000,2.000000,3.000000,2.490000,750006538N3130,940016819N3130
14578,940016819,59833.080000,1,Q23,2019,750006538,940016819,N5000,0.0,0.000000,0.000000,0.00,1.000000,1.000000,1.000000,1.000000,750006538N5000,940016819N5000
14579,940016819,59833.080000,1,Q23,2019,750006538,940016819,N5130,0.0,0.000000,0.000000,0.00,1.000000,1.000000,1.000000,1.000000,750006538N5130,940016819N5130
14580,940016819,59833.080000,1,Q23,2019,750006538,940016819,N9999,60.0,51.500000,37.000000,27.75,513.020000,525.000000,622.000000,592.270000,750006538N9999,940016819N9999

In [459]:
Q23_good= pd.concat([Q23_fiej, Q23_fi])
Q23_good

,Numero_finess,Points_ISA,stjr,BOR,AN,FI,FI_EJ,PERSO,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM,FI_PERSO,FI_EJ_PERSO
0,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1000,1.0,1.153333,4.666667,3.65,16.393333,17.666667,23.333333,21.196667,010005239N1000,010008407N1000
1,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1100,0.0,0.000000,0.000000,0.00,2.000000,2.000000,2.000000,2.000000,010005239N1100,010008407N1100
2,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1210,0.0,0.000000,0.000000,0.00,7.955000,8.000000,8.000000,7.955000,010005239N1210,010008407N1210
3,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1220,1.0,1.153333,7.000000,3.65,10.156667,11.666667,17.333333,14.960000,010005239N1220,010008407N1220
4,010008407,165054.798333,1,Q23,2019,010005239,010008407,N1400,0.0,0.000000,0.000000,0.00,0.800000,0.000000,0.000000,0.800000,010005239N1400,010008407N1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14081,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N4160,2.0,2.000000,NaN,NaN,NaN,NaN,2.000000,2.000000,950807982N4160,950001636.0N4160
14082,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N5000,6.0,6.000000,NaN,NaN,NaN,NaN,6.000000,6.000000,950807982N5000,950001636.0N5000
14083,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N511A,4.0,4.000000,NaN,NaN,NaN,NaN,4.000000,4.000000,950807982N511A,950001636.0N511A
14084,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N5120,2.0,2.000000,NaN,NaN,NaN,NaN,2.000000,2.000000,950807982N5120,950001636.0N5120
14085,950807982,177620.576667,2,Q23,2019,950807982,950001636.0,N9999,308.0,285.910000,151.000000,78.14,NaN,NaN,459.000000,364.050000,950807982N9999,950001636.0N9999

In [460]:
# Pas très intéressant, trouver un truc mieux à afficher
Q23_good.groupby(by="Numero_finess").sum()

,Points_ISA,stjr,AN,EFFCDI,ETPCDI,EFFCDD,ETPCDD,ETPTIT,EFFTIT,EFFPNM,ETPPNM
Numero_finess,,,,,,,,,,,
010007300,3.028768e+04,16,16152,27.000000,18.600000,6.000000,0.750000,0.000000,0.000000,33.000000,19.350000
010008407,5.281754e+06,32,64608,18.666667,19.033333,97.166667,86.115000,410.248333,464.000000,577.500000,515.396667
010009132,1.485944e+05,26,52494,76.500000,49.675000,100.500000,45.380000,109.720000,147.500000,316.500000,200.445000
010780054,3.088419e+07,39,78741,142.166667,118.163333,386.666667,323.295000,1809.393333,1957.666667,2387.833333,2174.445000
010780062,6.599532e+06,35,70665,246.000000,254.100000,249.000000,226.080000,981.810000,924.000000,1419.000000,1461.990000
...,...,...,...,...,...,...,...,...,...,...,...
950300277,3.809185e+06,54,54513,924.000000,778.080000,636.000000,253.800000,0.000000,0.000000,1560.000000,1031.880000
950300301,1.559384e+05,46,46437,393.000000,338.730000,165.000000,61.590000,0.000000,0.000000,558.000000,400.320000
950300350,1.442921e+05,26,26247,90.000000,76.575000,3.000000,3.000000,0.000000,0.000000,92.500000,79.075000
950630012,6.488678e+05,93,62589,447.500000,412.193333,76.333333,57.053333,0.000000,0.000000,509.166667,459.208333
950807982,4.440514e+06,50,50475,924.000000,857.730000,453.000000,234.420000,0.000000,0.000000,1377.000000,1092.150000

In [265]:
print("Il nous manque", ISA[~ISA["Numero_finess"].isin(Q23_good["Numero_finess"])]["Numero_finess"].shape[0], "établissements.")

Il nous manque 77 établissements.

In [266]:
ISA[~ISA["Numero_finess"].isin(Q23_good["Numero_finess"])].head(50)

    Numero_finess    Points_ISA  stjr
91      140030891  8.832980e+02     3
212     330781303  4.590819e+04     1
229     350000063  1.288987e+04     3
296     440048700  3.831100e+02     3
337     500021944  2.722300e+03     3
344     520004680  1.269914e+05     3
345     520004714  7.737587e+04     3
380     560029068  1.292853e+05     3
387     570000455  7.996753e+03     3
394     570003079  6.615191e+04     3
485     670020098  1.215710e+04     3
495     670798636  3.456565e+04     3
499     680000882  1.001238e+04     3
537     710978347  4.255631e+05     3
575     750810798  6.417440e+03     1
631     840000079  5.098133e+03     1
632     840000087  3.141641e+05     1
633     840000111  4.721047e+04     1
634     840000129  3.409912e+04     1
637     840006597  1.365669e+06     1
638     840019053  2.536030e+03     3
639     850000019  1.520738e+06     1
640     850000035  1.584291e+05     1
641     850000084  3.106070e+05     1
643     850025867  6.508290e+03     1
644     860013382  4.141135e+05     1
645     860014208  2.667091e+06     1
646     870000015  2.165763e+06     1
647     870000023  1.946016e+05     1
648     870000031  7.818473e+04     1
649     870014248  5.098133e+03     1
650     870014503  2.299154e+04     1
651     880007059  4.971535e+05     1
652     880007299  3.101996e+05     1
653     880780069  5.715170e+03     1
654     880780077  3.464711e+05     1
655     880780093  3.708579e+05     1
656     880780325  2.339030e+03     1
657     890000037  7.928982e+05     1
658     890000409  5.214050e+04     1
659     890000417  9.277847e+04     1
660     890000433  3.974700e+04     1
661     890970569  6.446729e+05     1
663     910002773  1.374868e+06     1
664     910019447  3.704685e+05     1
665     910110014  2.528562e+05     1
666     910110055  8.762687e+05     1
676     920009909  3.589447e+05     1
677     920026374  3.146735e+05     1
678     920110020  1.900133e+05     1

### 2) Regroupement des bases en un unique dataframe

On souhaite vérifier que les hopitaux contenus Q22 et Q23 sont également dans Q20, et sinon regarder plus précisément de quel établissement il s'agit.

#### A) Traitement des trois Q20_good, Q22_good, Q23_good avant le merge

In [461]:
Q20_good.columns

Index(['Numero_finess', 'Points_ISA', 'stjr', 'BOR', 'AN', 'FI', 'FI_EJ',
       'PERSO', 'EFFSALPLH', 'EFFSALPLF', 'EFFSALPAH', 'EFFSALPAF',
       'EFFLIBPLH', 'EFFLIBPLF', 'EFFLIBPAH', 'EFFLIBPAF', 'ETPSALH',
       'ETPSALF', 'ETP_PU', 'ETP_PH', 'ETP_AS', 'ETP_HU', 'ETP_AT', 'ETP_AU',
       'EFFSAL', 'ETPSAL', 'EFFLIB', 'FI_PERSO', 'FI_EJ_PERSO'],
      dtype='object')

In [462]:
Q22_good.columns

Index(['Numero_finess', 'Points_ISA', 'stjr', 'BOR', 'AN', 'FI', 'FI_EJ',
       'INTMED', 'INTPHA', 'INTODO', 'INTGEN', 'INTURG', 'FFI', 'INTTOT'],
      dtype='object')

In [463]:
Q22_good.columns

Index(['Numero_finess', 'Points_ISA', 'stjr', 'BOR', 'AN', 'FI', 'FI_EJ',
       'INTMED', 'INTPHA', 'INTODO', 'INTGEN', 'INTURG', 'FFI', 'INTTOT'],
      dtype='object')

In [464]:
#On ne garde que quelques colonnes, pour mieux joindre les bases de données après
Q20_good = Q20_good[["Numero_finess","PERSO","EFFSAL","EFFLIB"]]
Q20_good = Q20_good[Q20_good['PERSO'] != "M9999"] #On supprime la catégorie "total", qui regroupe l'ensemble du personnel médical
Q22_good = Q22_good[["Numero_finess","INTTOT"]]
Q23_good = Q23_good[["Numero_finess","PERSO","EFFPNM"]]
ISA = ISA[["Numero_finess","Points_ISA","stjr"]]

- **Q20_good**

On souhaite que la colonne Perso soit verticale, pour pouvoir avoir toutes les informations d'un établissement sur la même ligne

In [465]:
Q20_good_pivot = Q20_good.pivot_table(index='Numero_finess', columns='PERSO', values=['EFFLIB', 'EFFSAL'])
Q20_good_pivot

              EFFLIB                                                        \
PERSO          M1010 M1020 M1030 M1031 M1040 M1050 M1070 M1090 M1100 M1110
Numero_finess
010007300        NaN   NaN   6.0   NaN   1.0   NaN   NaN   1.0   NaN   NaN
010008407        0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010009132        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010780054        7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010780062        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...              ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
950300277        NaN   2.0   6.0   NaN  10.0   1.0   2.0   6.0   NaN   6.0
950300301        NaN   NaN   NaN   NaN   2.0   NaN   1.0   NaN   NaN   NaN
950300350        NaN   NaN   1.0   NaN   3.0   NaN   NaN   1.0   NaN   3.0
950630012        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
950807982        NaN   NaN  14.0   NaN   7.0   NaN   1.0  13.0   1.0   3.0

               ... EFFSAL                                                  \
PERSO          ...  M2140 M2150 M3011 M3012 M3020 M3030 M3040 M3050 M3060
Numero_finess  ...
010007300      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010008407      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010009132      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010780054      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010780062      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...            ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
950300277      ...    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN
950300301      ...    NaN   NaN   NaN   NaN   1.0   NaN   1.0   1.0   NaN
950300350      ...    NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN
950630012      ...    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN
950807982      ...    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN


PERSO         M3070
Numero_finess
010007300       NaN
010008407       NaN
010009132       NaN
010780054       NaN
010780062       NaN
...             ...
950300277       NaN
950300301       NaN
950300350       NaN
950630012       NaN
950807982       NaN

[1160 rows x 92 columns]

- **Q23_good**

In [466]:
Q23_good_pivot = Q23_good.pivot_table(index='Numero_finess', columns='PERSO', values=['EFFPNM'])
Q23_good_pivot

                   EFFPNM                                                      \
PERSO               N1000 N1100      N1210      N1220 N1300 N1400       N2000
Numero_finess
010007300        3.000000   1.0   2.000000        NaN   NaN   NaN    8.000000
010008407       23.333333   2.0   8.000000  17.333333   NaN   0.0  110.666667
010009132        9.500000   1.5   3.500000   4.500000   NaN   NaN   73.500000
010780054      134.000000   7.0  52.500000  77.500000   NaN   1.0  426.333333
010780062       62.000000   2.0  10.000000  50.000000   NaN   NaN  312.000000
...                   ...   ...        ...        ...   ...   ...         ...
950300277       96.000000   9.0  38.000000  48.000000   NaN   1.0  397.000000
950300301       28.000000   3.0  10.000000  14.000000   NaN   1.0  150.000000
950300350        8.000000   NaN   3.000000   5.000000   NaN   NaN   19.000000
950630012       16.666667   2.0   3.333333  11.000000   NaN   1.0  108.333333
950807982       72.000000   3.0   6.000000  63.000000   NaN   NaN  370.000000

                                            ...                                \
PERSO              N2120 N2130       N2210  ... N4170 N4180 N4190       N5000
Numero_finess                               ...
010007300            NaN   NaN    6.000000  ...   NaN   NaN   NaN         NaN
010008407       3.000000   NaN   38.333333  ...   NaN   NaN   NaN   28.000000
010009132       3.000000   NaN   16.000000  ...   NaN   NaN   NaN   17.500000
010780054      13.333333   NaN  166.333333  ...   NaN   2.0   NaN  116.000000
010780062      12.000000   2.0   98.000000  ...   NaN   NaN   NaN   61.000000
...                  ...   ...         ...  ...   ...   ...   ...         ...
950300277       8.000000   NaN  158.000000  ...   NaN   NaN   NaN   16.000000
950300301       5.000000   NaN   48.000000  ...   NaN   NaN   NaN    3.000000
950300350       1.000000   NaN   13.500000  ...   NaN   NaN   NaN    1.000000
950630012       4.333333   1.0   32.000000  ...   NaN   NaN   NaN    9.333333
950807982       8.000000   4.0  183.000000  ...   NaN   NaN   NaN    6.000000


PERSO         N5110      N511A N5120      N5130 N5140       N9999
Numero_finess
010007300       NaN        NaN   NaN        NaN   NaN   11.000000
010008407       2.0   7.000000   NaN  22.500000   2.0  165.333333
010009132       1.5   3.000000   NaN  13.000000   NaN  104.500000
010780054      10.0  34.000000   4.0  86.000000  12.0  635.000000
010780062       6.0   6.000000   NaN  42.000000   7.0  473.000000
...             ...        ...   ...        ...   ...         ...
950300277       NaN   3.000000   1.0  12.000000   NaN  520.000000
950300301       NaN   3.000000   NaN        NaN   NaN  186.000000
950300350       NaN   1.000000   NaN        NaN   NaN   25.000000
950630012       NaN   2.666667   1.0   5.666667   1.0  153.333333
950807982       NaN   4.000000   2.0        NaN   NaN  459.000000

[1116 rows x 53 columns]

#### 2) On merge nos données pour obtenir une unique base :

- **la base complète**

In [467]:
# On merge d'abord ceux avec un pivot
result1 = pd.merge(Q20_good_pivot, Q23_good_pivot, on="Numero_finess", how ="outer")

# Puis on ajoute ISA pour avoir les points ISA
result2 = pd.merge(result1, ISA, on="Numero_finess" )

C:\Users\Vinciane\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [468]:
#On ajoute les internes
VAR_EXPL = pd.merge(result2, Q22_good, on=["Numero_finess"], how= "outer" )
VAR_EXPL

,Numero_finess,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)",...,"(EFFPNM, N5000)","(EFFPNM, N5110)","(EFFPNM, N511A)","(EFFPNM, N5120)","(EFFPNM, N5130)","(EFFPNM, N5140)","(EFFPNM, N9999)",Points_ISA,stjr,INTTOT
0,010007300,NaN,NaN,6.0,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,3785.960000,2.0,NaN
1,010008407,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,2.0,7.0,NaN,22.5,2.0,165.333333,165054.798333,1.0,NaN
2,010009132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,1.5,3.0,NaN,13.0,NaN,104.500000,5715.170000,1.0,NaN
3,010780054,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.0,10.0,34.0,4.0,86.0,12.0,635.000000,791902.263333,1.0,66.0
4,010780062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,6.0,6.0,NaN,42.0,7.0,473.000000,188558.060000,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,370000085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.0,NaN,NaN,1.0,18.0,NaN,488.000000,205133.725000,2.0,NaN
1165,440048700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,588.500000,383.110000,3.0,NaN
1166,450000237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.000000,43718.735000,2.0,NaN
1167,780300364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,NaN,4.0,NaN,NaN,NaN,183.500000,14503.930000,2.0,NaN
1168,890000409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [469]:
VAR_EXPL.head(50)

,Numero_finess,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)",...,"(EFFPNM, N5000)","(EFFPNM, N5110)","(EFFPNM, N511A)","(EFFPNM, N5120)","(EFFPNM, N5130)","(EFFPNM, N5140)","(EFFPNM, N9999)",Points_ISA,stjr,INTTOT
0,010007300,NaN,NaN,6.0,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,3.785960e+03,2.0,NaN
1,010008407,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,2.00,7.0,NaN,22.5,2.000000,165.333333,1.650548e+05,1.0,NaN
2,010009132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.500000,1.50,3.0,NaN,13.0,NaN,104.500000,5.715170e+03,1.0,NaN
3,010780054,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.000000,10.00,34.0,4.0,86.0,12.000000,635.000000,7.919023e+05,1.0,66.0
4,010780062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.000000,6.00,6.0,NaN,42.0,7.000000,473.000000,1.885581e+05,1.0,5.0
5,010780096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.500000,1.00,4.5,NaN,10.5,NaN,155.000000,9.075654e+04,1.0,2.0
6,010780195,2.0,NaN,12.0,NaN,10.0,NaN,NaN,3.0,NaN,...,12.000000,NaN,9.0,1.0,2.0,NaN,294.000000,1.795728e+05,2.0,NaN
7,010780203,8.0,NaN,4.0,NaN,NaN,NaN,1.0,2.0,NaN,...,6.000000,NaN,1.0,NaN,NaN,5.000000,117.000000,1.224635e+05,2.0,NaN
8,020000022,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.000000,NaN,3.0,NaN,18.0,NaN,209.000000,2.967046e+04,1.0,1.0
9,020000048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,1.00,NaN,2.0,15.0,NaN,143.000000,2.097850e+04,1.0,NaN
10,020000055,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,NaN,3.0,NaN,15.0,NaN,85.000000,9.384483e+03,1.0,NaN
11,020000063,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.000000,13.00,44.0,NaN,119.0,5.000000,689.000000,8.703914e+05,1.0,44.5
12,020000071,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.000000,NaN,NaN,NaN,16.0,NaN,95.000000,2.186656e+04,1.0,NaN
13,020000253,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.500000,3.00,11.0,7.0,35.0,18.000000,317.000000,3.222179e+05,1.0,15.0
14,020000261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.000000,2.50,10.0,NaN,150.0,5.000000,636.000000,5.368898e+05,1.0,31.0
15,020000287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.000000,1.00,5.0,NaN,77.0,NaN,622.000000,2.145146e+05,1.0,12.0
16,020000360,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,2.000000,NaN,NaN,NaN,2.0,NaN,47.000000,3.707552e+04,2.0,NaN
17,020004404,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.000000,5.00,9.0,NaN,69.0,3.000000,633.000000,3.736874e+05,1.0,10.0
18,020004495,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.000000,NaN,3.0,NaN,26.0,6.000000,222.000000,8.081945e+04,1.0,NaN
19,020010047,1.0,1.0,7.0,NaN,2.0,NaN,NaN,7.0,1.0,...,7.000000,NaN,6.0,1.0,NaN,NaN,274.000000,1.315631e+05,2.0,NaN
20,030002158,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.500000,NaN,4.0,NaN,17.5,4.000000,118.500000,3.026320e+03,1.0,NaN
21,030780092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,224.000000,10.00,32.0,NaN,176.0,6.000000,1865.000000,5.578822e+05,1.0,49.0
22,030780100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104.500000,7.00,31.0,2.0,71.5,26.000000,694.000000,6.610525e+05,1.0,23.0
23,030780118,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,209.000000,10.00,23.0,10.0,161.0,5.000000,1746.000000,6.959053e+05,1.0,53.0
24,030780548,3.0,12.0,3.0,NaN,2.0,NaN,NaN,1.0,NaN,...,5.000000,NaN,4.0,1.0,NaN,NaN,316.000000,5.954522e+04,2.0,NaN
25,030781116,1.0,10.0,5.0,NaN,4.0,NaN,NaN,5.0,NaN,...,11.000000,NaN,6.0,2.0,3.0,NaN,358.000000,1.519919e+05,2.0,1.0
26,030785430,NaN,NaN,4.0,NaN,2.0,NaN,NaN,3.0,NaN,...,3.000000,NaN,2.0,1.0,NaN,NaN,136.000000,7.169301e+04,2.0,NaN
27,040780215,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.000000,5.00,9.0,NaN,43.0,NaN,663.000000,3.877572e+05,1.0,10.0
28,040780470,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,NaN,...,1.500000,NaN,NaN,NaN,1.5,NaN,71.500000,3.539980e+04,2.0,NaN
29,040788879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.000000,2.00,15.0,NaN,94.0,10.000000,906.000000,2.212255e+05,1.0,5.0
30,050000090,1.0,NaN,6.0,NaN,6.0,NaN,1.0,4.0,NaN,...,3.000000,NaN,NaN,NaN,3.0,NaN,129.000000,7.488948e+04,2.0,NaN
31,050000116,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.000000,3.00,10.0,NaN,44.0,NaN,505.000000,1.473133e+05,1.0,6.0
32,050000124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.000000,NaN,4.0,NaN,45.0,NaN,220.000000,1.324963e+04,1.0,2.0
33,050002948,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.000000,3.50,12.5,NaN,74.5,1.000000,705.500000,6.215969e+05,1.0,13.0
34,050007533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,672.000000,3.032015e+03,3.0,NaN
35,060000528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.000000,7.00,13.0,4.0,17.0,NaN,700.000000,3.630003e+05,3.0,30.0
36,060021417,NaN,NaN,8.0,NaN,NaN,NaN,NaN,8.0,1.0,...,6.000000,NaN,6.0,NaN,NaN,NaN,179.000000,1.096958e+05,2.0,NaN
37,060780442,1.0,4.0,4.0,NaN,2.0,1.0,NaN,NaN,NaN,...,7.000000,1.00,NaN,NaN,6.0,NaN,104.000000,2.284238e+04,2.0,NaN
38,060780491,NaN,10.0,14.0,NaN,21.0,1.0,2.0,12.0,1.0,...,5.333333,NaN,3.0,NaN,9.0,NaN,180.000000,3.724104e+05,3.0,NaN
39,060780517,4.0,2.0,13.0,NaN,4.0,3.0,2.0,7.0,3.0,...,18.000000,3.00,11.0,2.0,2.0,NaN,409.000000,2.168966e+05,2.0,NaN
40,060780590,NaN,NaN,5.0,NaN,1.0,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,67.000000,6.078105e+04,2.0,NaN
41,060780715,5.0,7.0,22.0,NaN,35.0,1.0,1.0,11.0,1.0,...,21.000000,1.00,16.0,4.0,NaN,NaN,549.000000,3.423529e+05,2.0,NaN
42,060780723,2.0,NaN,11.0,NaN,8.0,NaN,NaN,12.0,NaN,...,13.000000,NaN,4.0,NaN,9.0,NaN,137.000000,9.906407e+04,2.0,NaN
43,060780756,NaN,5.0,6.0,NaN,NaN,NaN,NaN,11.0,NaN,...,5.000000,NaN,1.0,NaN,4.0,NaN,182.000000,7.679082e+04,2.0,NaN
44,060780897,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.500000,8.00,25.0,9.0,56.5,NaN,549.500000,4.671112e+05,1.0,25.0
45,060780947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.000000,NaN,NaN,6.0,13.0,2.000000,605.000000,1.745525e+05,3.0,47.0
46,060780954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.000000,7.00,10.0,1.0,66.0,NaN,1300.000000,6.233092e+05,1.0,23.0
47,060780988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,211.000000,13.00,23.0,6.0,166.0,3.000000,844.500000,7.626526e+05,1.0,47.0
48,060781200,3.0,10.0,6.0,NaN,5.0,1.0,2.0,8.0,1.0,...,12.000000,NaN,5.0,NaN,7.0,NaN,128.000000,9.766489e+04,2.0,NaN
49,060785011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177.200000,48.25,24.0,2.0,133.5,19.666667,1185.800000,2.516502e+06,1.0,70.5

In [470]:
# On voit que les erreurs sont liées à INTTOT => on reregarde notre importation des données

In [471]:
VAR_EXPL.groupby(by="Numero_finess").sum()

,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)","(EFFLIB, M1110)",...,"(EFFPNM, N5000)","(EFFPNM, N5110)","(EFFPNM, N511A)","(EFFPNM, N5120)","(EFFPNM, N5130)","(EFFPNM, N5140)","(EFFPNM, N9999)",Points_ISA,stjr,INTTOT
Numero_finess,,,,,,,,,,,,,,,,,,,,,
010007300,0.0,0.0,6.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,11.000000,3785.960000,2.0,0.0
010008407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.000000,2.0,7.000000,0.0,22.500000,2.0,165.333333,165054.798333,1.0,0.0
010009132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17.500000,1.5,3.000000,0.0,13.000000,0.0,104.500000,5715.170000,1.0,0.0
010780054,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,116.000000,10.0,34.000000,4.0,86.000000,12.0,635.000000,791902.263333,1.0,66.0
010780062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61.000000,6.0,6.000000,0.0,42.000000,7.0,473.000000,188558.060000,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950300277,0.0,2.0,6.0,0.0,10.0,1.0,2.0,6.0,0.0,6.0,...,16.000000,0.0,3.000000,1.0,12.000000,0.0,520.000000,141080.941667,2.0,0.0
950300301,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,...,3.000000,0.0,3.000000,0.0,0.000000,0.0,186.000000,6779.931667,2.0,0.0
950300350,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,3.0,...,1.000000,0.0,1.000000,0.0,0.000000,0.0,25.000000,11099.390000,2.0,0.0
950630012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.333333,0.0,2.666667,1.0,5.666667,1.0,153.333333,20931.220000,3.0,1.0
950807982,0.0,0.0,14.0,0.0,7.0,0.0,1.0,13.0,1.0,3.0,...,6.000000,0.0,4.000000,2.0,0.000000,0.0,459.000000,177620.576667,2.0,0.0

In [472]:
VAR_EXPL_GROUP = VAR_EXPL.groupby(by="Numero_finess").sum()

In [473]:
VAR_EXPL_GROUP.reset_index()

,Numero_finess,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)",...,"(EFFPNM, N5000)","(EFFPNM, N5110)","(EFFPNM, N511A)","(EFFPNM, N5120)","(EFFPNM, N5130)","(EFFPNM, N5140)","(EFFPNM, N9999)",Points_ISA,stjr,INTTOT
0,010007300,0.0,0.0,6.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,11.000000,3785.960000,2.0,0.0
1,010008407,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.000000,2.0,7.000000,0.0,22.500000,2.0,165.333333,165054.798333,1.0,0.0
2,010009132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17.500000,1.5,3.000000,0.0,13.000000,0.0,104.500000,5715.170000,1.0,0.0
3,010780054,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,116.000000,10.0,34.000000,4.0,86.000000,12.0,635.000000,791902.263333,1.0,66.0
4,010780062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61.000000,6.0,6.000000,0.0,42.000000,7.0,473.000000,188558.060000,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,950300277,0.0,2.0,6.0,0.0,10.0,1.0,2.0,6.0,0.0,...,16.000000,0.0,3.000000,1.0,12.000000,0.0,520.000000,141080.941667,2.0,0.0
1165,950300301,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,...,3.000000,0.0,3.000000,0.0,0.000000,0.0,186.000000,6779.931667,2.0,0.0
1166,950300350,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,1.000000,0.0,1.000000,0.0,0.000000,0.0,25.000000,11099.390000,2.0,0.0
1167,950630012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.333333,0.0,2.666667,1.0,5.666667,1.0,153.333333,20931.220000,3.0,1.0
1168,950807982,0.0,0.0,14.0,0.0,7.0,0.0,1.0,13.0,1.0,...,6.000000,0.0,4.000000,2.0,0.000000,0.0,459.000000,177620.576667,2.0,0.0

On passe de 1388 lignes à 1165, alors que dès le premier merge, on devrait avoir le nombre de lignes de Q20_good, soit 1165.
On cherche à quoi c'est dû :

- **la base par catégorie**

Dans la base Q20, trois catégories semblent se distinguer 
    - M1000 Médecine (Médecine, Neurologie, Anesthésie, Pédiatrie...)
    - M2000 Chirurgie, Ophtamologies, Gynécologie, Oto-Rhino-laryngologie
    - M3000 Autres métiers médicaux (Pharmacie, Psychiatrie, Odontologie...)

In [474]:
Q20_good_red = Q20_good.copy()
Q20_good_red['PERSO'].loc[Q20_good_red['PERSO'].astype(str).str.startswith('M1')] = "M1000"
Q20_good_red['PERSO'].loc[Q20_good_red['PERSO'].astype(str).str.startswith('M2')] = "M2000"
Q20_good_red['PERSO'].loc[Q20_good_red['PERSO'].astype(str).str.startswith('M3')] = "M3000"

C:\Users\Vinciane\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [475]:
Q20_good_red

      Numero_finess  PERSO  EFFSAL  EFFLIB
0         010008407  M1000    16.0     0.0
1         010008407  M1000     1.0     0.0
2         010008407  M1000     1.0     0.0
3         010009132  M1000     4.0     NaN
4         010009132  M1000     1.0     NaN
...             ...    ...     ...     ...
11041     950807982  M2000     NaN     1.0
11042     950807982  M3000     NaN     6.0
11043     950807982  M3000     NaN     1.0
11044     950807982  M3000     1.0     NaN
11045     950807982  M3000     2.0     NaN

[11403 rows x 4 columns]

In [476]:
Q20_good_red[Q20_good_red['Numero_finess'] == "010008407"]

  Numero_finess  PERSO  EFFSAL  EFFLIB
0     010008407  M1000    16.0     0.0
1     010008407  M1000     1.0     0.0
2     010008407  M1000     1.0     0.0

In [477]:
Q20_good_red =  Q20_good_red.groupby(by=['Numero_finess','PERSO']).sum()

In [478]:
Q20_good_red_pivot = Q20_good_red.pivot_table(index='Numero_finess', columns='PERSO', values=['EFFSAL', 'EFFLIB'])
Q20_good_red_pivot

              EFFLIB             EFFSAL
PERSO          M1000 M2000 M3000  M1000 M2000 M3000
Numero_finess
010007300        9.0   6.0   NaN    0.0   0.0   NaN
010008407        0.0   NaN   NaN   18.0   NaN   NaN
010009132        0.0   NaN   NaN    5.0   NaN   NaN
010780054        7.0   NaN   NaN   26.0   NaN   NaN
010780062        0.0   NaN   NaN   13.0   NaN   NaN
...              ...   ...   ...    ...   ...   ...
950300277       59.0  32.0   0.0   11.0   0.0   3.0
950300301        4.0   NaN   1.0   12.0   NaN   3.0
950300350       11.0  12.0   1.0    1.0   0.0   1.0
950630012        0.0   NaN   0.0   13.0   NaN   3.0
950807982       66.0  70.0   7.0    2.0   0.0   3.0

[1167 rows x 6 columns]

In [479]:
#On réduit Q23_good pour ne conserver que les secteurs d'activités pour les métiers et pas chaque mtier individuellement
Q23_good_red = Q23_good[Q23_good['PERSO'].isin(['N1000','N2000', 'N3000','N4000', 'N5000'])]
Q23_good_red_pivot = Q23_good_red.pivot_table(index='Numero_finess', columns='PERSO', values=['EFFPNM'])

In [480]:
# On merge les bases avec des pivots
result1_red = pd.merge(Q20_good_red_pivot, Q23_good_red_pivot, on="Numero_finess", how ="outer")

# Puis on ajoute ISA pour avoir les points ISA
result2_red = pd.merge(result1_red, ISA, on="Numero_finess" )

C:\Users\Vinciane\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [481]:
VAR_EXPL_CAT = pd.merge(result2_red, Q22_good, on=["Numero_finess"], how= "outer" )
VAR_EXPL_CAT

,Numero_finess,"(EFFLIB, M1000)","(EFFLIB, M2000)","(EFFLIB, M3000)","(EFFSAL, M1000)","(EFFSAL, M2000)","(EFFSAL, M3000)","(EFFPNM, N1000)","(EFFPNM, N2000)","(EFFPNM, N3000)","(EFFPNM, N4000)","(EFFPNM, N5000)",Points_ISA,stjr,INTTOT
0,010007300,9.0,6.0,NaN,0.0,0.0,NaN,3.000000,8.000000,NaN,NaN,NaN,3785.960000,2,NaN
1,010008407,0.0,NaN,NaN,18.0,NaN,NaN,23.333333,110.666667,2.333333,10.333333,28.000000,165054.798333,1,NaN
2,010009132,0.0,NaN,NaN,5.0,NaN,NaN,9.500000,73.500000,2.500000,1.500000,17.500000,5715.170000,1,NaN
3,010780054,7.0,NaN,NaN,26.0,NaN,NaN,134.000000,426.333333,8.500000,109.000000,116.000000,791902.263333,1,66.0
4,010780062,0.0,NaN,NaN,13.0,NaN,NaN,62.000000,312.000000,6.000000,32.000000,61.000000,188558.060000,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,950630012,0.0,NaN,0.0,13.0,NaN,3.0,16.666667,108.333333,16.333333,4.000000,9.333333,20931.220000,3,1.0
1166,950807982,66.0,70.0,7.0,2.0,0.0,3.0,72.000000,370.000000,2.000000,9.000000,6.000000,177620.576667,2,NaN
1167,100000157,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,119.000000,NaN,3.000000,3.000000,4551.390000,2,NaN
1168,330780255,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,22251.530000,2,NaN
1169,780300364,NaN,NaN,NaN,NaN,NaN,NaN,31.500000,143.000000,NaN,NaN,4.500000,14503.930000,2,NaN

In [482]:
VAR_EXPL_CAT.groupby(by="Numero_finess").sum()

,"(EFFLIB, M1000)","(EFFLIB, M2000)","(EFFLIB, M3000)","(EFFSAL, M1000)","(EFFSAL, M2000)","(EFFSAL, M3000)","(EFFPNM, N1000)","(EFFPNM, N2000)","(EFFPNM, N3000)","(EFFPNM, N4000)","(EFFPNM, N5000)",Points_ISA,stjr,INTTOT
Numero_finess,,,,,,,,,,,,,,
010007300,9.0,6.0,0.0,0.0,0.0,0.0,3.000000,8.000000,0.000000,0.000000,0.000000,3785.960000,2,0.0
010008407,0.0,0.0,0.0,18.0,0.0,0.0,23.333333,110.666667,2.333333,10.333333,28.000000,165054.798333,1,0.0
010009132,0.0,0.0,0.0,5.0,0.0,0.0,9.500000,73.500000,2.500000,1.500000,17.500000,5715.170000,1,0.0
010780054,7.0,0.0,0.0,26.0,0.0,0.0,134.000000,426.333333,8.500000,109.000000,116.000000,791902.263333,1,66.0
010780062,0.0,0.0,0.0,13.0,0.0,0.0,62.000000,312.000000,6.000000,32.000000,61.000000,188558.060000,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950300277,59.0,32.0,0.0,11.0,0.0,3.0,96.000000,397.000000,2.000000,9.000000,16.000000,141080.941667,2,0.0
950300301,4.0,0.0,1.0,12.0,0.0,3.0,28.000000,150.000000,2.000000,3.000000,3.000000,6779.931667,2,0.0
950300350,11.0,12.0,1.0,1.0,0.0,1.0,8.000000,19.000000,0.000000,3.000000,1.000000,11099.390000,2,0.0
950630012,0.0,0.0,0.0,13.0,0.0,3.0,16.666667,108.333333,16.333333,4.000000,9.333333,20931.220000,3,1.0
950807982,66.0,70.0,7.0,2.0,0.0,3.0,72.000000,370.000000,2.000000,9.000000,6.000000,177620.576667,2,0.0

En tout on a 1165 établissements, soit autant que dans Q20, ce qui est cool, mais pourquoi on a 1392 lignes avant.. problème de merge

# BROUILLON EN DESSOUS

#### C) Concatener toute la base en une unique base

### 2) Le problème des effectifs libéraux

On cehrche à savoir s'il y a dupersonnel libéral dans notre base de données restreinte avec les FINESS des établissements MCO. L'inconvénient du personnel libéral, c'est que nous n'avons pas les **ETP, ie Equivalents Temps Plein** pour ce type de personnel, alors que nous l'avons pour tous les autres.

In [39]:
Q20_good = Q20_good[['Numero_finess','stjr','EFFSAL','EFFLIB']]
Q20_good

      Numero_finess  stjr  EFFSAL  EFFLIB
0         010008407     1     NaN     NaN
1         010009132     1     NaN     NaN
2         010780054     1     NaN     NaN
3         010780062     1     NaN     NaN
4         010780096     1     NaN     NaN
...             ...   ...     ...     ...
11063     970100012     2     NaN     8.0
11064     970100012     2     NaN     1.0
11065     970100012     2     NaN     5.0
11066     970100012     2     NaN     3.0
11067     970100012     2     NaN     2.0

[11579 rows x 4 columns]

In [40]:
Q20_good_lib = Q20_good.fillna(0)
Q20_good_lib = Q20_good_lib[Q20_good_lib["EFFLIB"]!=0]
Q20_good_lib.groupby(by=['stjr', "Numero_finess"]).sum()

                    EFFSAL  EFFLIB
stjr Numero_finess
2    010007300         0.0    30.0
     010780195         2.0   192.0
     010780203         7.0    86.0
     020000360         1.0    66.0
     020010047         4.0   128.0
...                    ...     ...
3    830200523        40.0     6.0
     840000350        30.0    94.0
     910150010        22.0     2.0
     910150028       103.0    28.0
     920300787        54.0   544.0

[533 rows x 2 columns]

Au total, **533 établissements de catégories privé lucratif et privé non lucratif emploient du personnel libéral**. 
Comme nous n'avons pas les ETP pour le personnel libéral, nous allons devoir nous pencher sur **les effectifs**, pour toutes les catégories de personnel.

In [41]:
Q22_good

,Numero_finess,Points_ISA,stjr,FI_EJ,BOR,AN,FI,INTMED,INTPHA,INTODO,INTGEN,INTURG,FFI,INTTOT
0,010780054,791902.263333,1,010780054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,010780062,188558.060000,1,010780062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,010780096,90756.543333,1,010780096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,020000022,29670.455000,1,020000022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,020000063,870391.406333,1,020000063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,940006679,102715.460000,2,940017338,Q22,2019.0,940006679,1.0,NaN,NaN,NaN,NaN,NaN,1.0
163,940300270,119908.980000,2,940000771,Q22,2019.0,940300270,1.0,NaN,NaN,NaN,NaN,NaN,1.0
164,940300445,58792.300000,2,940000854,Q22,2019.0,940300445,5.0,NaN,NaN,NaN,NaN,NaN,5.0
165,970100020,31982.676667,2,970100152,Q22,2019.0,970100020,NaN,NaN,NaN,2.0,NaN,NaN,2.0
166,970102596,17963.580000,2,970100491,Q22,2019.0,970102596,2.0,NaN,NaN,NaN,NaN,NaN,2.0

### 3) Les effectifs de chaque profession

Dans la réalisation des variables explicatives selon l'effectif du personnel, deux possibilités s'offrent à nous, que nous présentons ici : 
- garder tous les métiers précisément
- garder seulement des grandes catégories de métiers
essayons de regrouper certains métiers ensemble. 

Dans la base SAE, trois catégories semblent se distinguer 
    - M1000 Médecine (Médecine, Neurologie, Anesthésie, Pédiatrie...)
    - M2000 Chirurgie, Ophtamologies, Gynécologie, Oto-Rhino-laryngologie
    - M3000 Autres métiers médicaux (Pharmacie, Psychiatrie, Odontologie...)

### 1) Le cas où l'on conserve des effectifs précis et détaillés

In [715]:
EFF = Q20[['FI','PERSO','EFFLIB','EFFSAL']]
EFFINT = Q22[['FI','INTTOT']]
# à voir après : jointure FI_EJ nécessaire ou pas?

In [717]:
EFF = EFF[EFF['PERSO'] != "M9999"] 
EFF

              FI  PERSO  EFFLIB  EFFSAL
0      010000024  M1010     7.0    26.0
1      010000024  M1020     NaN     3.0
2      010000024  M1030     NaN    16.0
3      010000024  M1031     NaN     8.0
4      010000024  M1040     2.0     1.0
...          ...    ...     ...     ...
33724  980500011  M3040     NaN     8.0
33725  980500011  M3050     NaN    14.0
33726  980500011  M3060     NaN     1.0
33728  980500763  M1110     NaN     2.0
33729  980500763  M3050     NaN     1.0

[30046 rows x 4 columns]

In [718]:
EFF = EFF.pivot(index='FI', columns='PERSO', values=['EFFLIB', 'EFFSAL'])
EFF

          EFFLIB                                                        ...  \
PERSO      M1010 M1020 M1030 M1031 M1040 M1050 M1070 M1090 M1100 M1110  ...
FI                                                                      ...
970100012    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
970100020    3.0   NaN   2.0   NaN   3.0   2.0   NaN   3.0   NaN   1.0  ...
970100111    NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN  ...
970100129    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
970100137    NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950806307    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0  ...
950807982    NaN   NaN  14.0   NaN   7.0   NaN   1.0  13.0   1.0   3.0  ...
950808949    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
970100012    4.0   1.0   1.0   NaN   8.0   1.0   3.0   6.0   NaN   NaN  ...

          EFFSAL
PERSO      M2140 M2150 M3011 M3012 M3020 M3030 M3040 M3050 M3060 M3070
FI
970100012    NaN   NaN   NaN   NaN   NaN   NaN   NaN   2.0   NaN   NaN
970100020    NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   NaN   NaN
970100111    NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN
970100129    NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN
970100137    NaN   NaN   NaN   NaN   NaN   NaN   NaN   1.0   NaN   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
950806307    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
950807982    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN   NaN
950808949    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
970100012    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[3686 rows x 92 columns]

In [33]:
EFF_TOT = pd.merge(EFF,EFFINT,left_on="FI", right_on='FI',how='inner')
EFF_TOT

C:\Users\Vinciane\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

,FI,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)",...,"(EFFSAL, M2150)","(EFFSAL, M3011)","(EFFSAL, M3012)","(EFFSAL, M3020)","(EFFSAL, M3030)","(EFFSAL, M3040)","(EFFSAL, M3050)","(EFFSAL, M3060)","(EFFSAL, M3070)",INTTOT
0,010000024,7.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,NaN,2.0,2.0,11.0,NaN,NaN,66
1,010000032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5
2,010000065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,2
3,010000198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,010000495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.0,1.0,1.0,2.0,1.0,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,950000364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,11.0,NaN,26.0,6.0,1.0,7.0,NaN,9.0,101
1035,950000398,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20.0,NaN,1.0,1.0,NaN,NaN,1
1036,950002568,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,44.0,NaN,NaN,2.0,NaN,NaN,1
1037,950630012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1
1038,950806166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

### 2) Le cas avec des grandes catégories d'emploi

In [34]:
EFF = Q20[['FI','PERSO','EFFLIB','EFFSAL']]
EFFINT = Q22[['FI','INTTOT']]
EFF_NONMED = Q23[['FI', 'PERSO','EFFPNM']]

# à voir après : jointure FI_EJ nécessaire ou pas?

In [35]:
# Le traitement de EFF
EFF = EFF[EFF['PERSO'] != "M9999"] 
EFF

              FI  PERSO  EFFLIB  EFFSAL
0      010000024  M1010     7.0    26.0
1      010000024  M1020     NaN     3.0
2      010000024  M1030     NaN    16.0
3      010000024  M1031     NaN     8.0
4      010000024  M1040     2.0     1.0
...          ...    ...     ...     ...
33724  980500011  M3040     NaN     8.0
33725  980500011  M3050     NaN    14.0
33726  980500011  M3060     NaN     1.0
33728  980500763  M1110     NaN     2.0
33729  980500763  M3050     NaN     1.0

[30046 rows x 4 columns]

In [25]:
EFF = EFF.PERSO.str.replace('M1010', 'M1000')
EFF

0        M1000
1        M1020
2        M1030
3        M1031
4        M1040
         ...
33724    M3040
33725    M3050
33726    M3060
33728    M1110
33729    M3050
Name: PERSO, Length: 30046, dtype: object

In [45]:

PERSO_str = EFF.PERSO.astype(str)

AttributeError: 'str' object has no attribute 'PERSO'

In [41]:
EFF  = EFF.loc[EFF["PERSO"].str.startswith('M1')] = "M1000"

AttributeError: 'str' object has no attribute 'loc'

In [42]:
EFF['PERSO'] = EFF['PERSO'].apply(
    lambda x: "M1000" if x.startswith('M1') else x).apply(
    lambda x: "M2000" if x.startswith('M2') else x).apply (
    lambda x: "M3000" if x.startswith('M3') else x).apply(
    lambda x: "M4000" if x.startsxith('M4') else x)

TypeError: string indices must be integers

In [40]:
EFF

              FI  PERSO  EFFLIB  EFFSAL
0      010000024  M1010     7.0    26.0
1      010000024  M1020     NaN     3.0
2      010000024  M1030     NaN    16.0
3      010000024  M1031     NaN     8.0
4      010000024  M1040     2.0     1.0
...          ...    ...     ...     ...
33710  980500011  M1160     NaN     4.0
33711  980500011  M1190     NaN     1.0
33712  980500011  M1200     NaN     1.0
33713  980500011  M1340     NaN    34.0
33728  980500763  M1110     NaN     2.0

[16677 rows x 4 columns]

In [48]:
criteria = EFF['PERSO'].map(lambda x: x.startswith("M"))
EFF = EFF[criteria]

TypeError: string indices must be integers

In [73]:
EFF = EFF.loc[EFF['PERSO'].isin(["M1010", "M1020"])] = "Medecins"
EFF

AttributeError: 'str' object has no attribute 'loc'

Pour les catégories du personnel non médical, je reprends les différences proposées dans la base SAE,
    - N1000 : Total personnels de direction et administratifs 
    - N2000 : Total personnels des services de soin
    - N3000 : Total personnels éducatifs et sociaux
    - N4000 : Total personnels médico-techniques
    - N5000 : Total personnels techniques et ouvriers

In [54]:
EFF_NONMED = EFF_NONMED[EFF_NONMED['PERSO'].isin(['N1000','N2000', 'N3000','N4000'])]

In [55]:
EFF_NONMED = EFF_NONMED.pivot(index='FI', columns='PERSO', values=['EFFPNM'])
EFF_NONMED

          EFFPNM
PERSO      N1000  N2000 N3000 N4000
FI
840000434   11.0   55.0   5.0   2.0
840000467   13.0   70.0   NaN   NaN
840000483   86.0  437.0   4.0  34.0
840000491   24.0  235.0   2.0   8.0
840000509   10.0   54.0   1.0   NaN
...          ...    ...   ...   ...
840000376    7.0   35.0   NaN   1.0
840000392   64.0  300.0   5.0   8.0
840000400   23.0   85.0   1.0  11.0
840000418   58.0  245.0   3.0  24.0
840000426    5.0   20.0   NaN   1.0

[3807 rows x 4 columns]

In [56]:
EFF_TOT_CAT = pd.merge(EFF_TOT,EFF_NONMED,left_on="FI", right_on='FI',how='inner')
EFF_TOT_CAT

C:\Users\Vinciane\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,FI,"(EFFLIB, M1010)","(EFFLIB, M1020)","(EFFLIB, M1030)","(EFFLIB, M1031)","(EFFLIB, M1040)","(EFFLIB, M1050)","(EFFLIB, M1070)","(EFFLIB, M1090)","(EFFLIB, M1100)",...,"(EFFSAL, M3030)","(EFFSAL, M3040)","(EFFSAL, M3050)","(EFFSAL, M3060)","(EFFSAL, M3070)",INTTOT,"(EFFPNM, N1000)","(EFFPNM, N2000)","(EFFPNM, N3000)","(EFFPNM, N4000)"
0,010000024,7.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,2.0,2.0,11.0,NaN,NaN,66,263.0,1128.0,15.0,109.0
1,010000032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,5,62.0,312.0,6.0,32.0
2,010000065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,1.0,NaN,2,27.0,174.0,7.0,10.0
3,010000198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,6.0,45.0,1.0,NaN
4,010000495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,1.0,NaN,7,134.0,842.0,53.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,830206298,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,2.0,25.0,0.0,NaN
905,840000343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,3,35.0,173.0,2.0,13.0
906,840000350,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,1.0,6.0,NaN,NaN,2,104.0,187.0,2.0,104.0
907,840000392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,3.0,NaN,NaN,7,64.0,300.0,5.0,8.0
908,840000418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,1.0,5,58.0,245.0,3.0,24.0

## Si on ne prend que les effectifs de chaque personnel dans la variable explicative

In [13]:
EFF= pd.merge(Q20,Q22[["FI", "INTTOT"]],left_on="FI", right_on='FI',how='inner')
EFF

,BOR,AN,FI,FI_EJ,PERSO,EFFSALPLH,EFFSALPLF,EFFSALPAH,EFFSALPAF,EFFLIBPLH,...,ETP_PU,ETP_PH,ETP_AS,ETP_HU,ETP_AT,ETP_AU,EFFSAL,ETPSAL,EFFLIB,INTTOT
0,Q20,2019,010000024,010780054,M1010,5.0,9.0,3.0,9.0,NaN,...,NaN,13.30,NaN,NaN,1.56,3.88,26.0,18.74,7.0,66
1,Q20,2019,010000024,010780054,M1020,1.0,2.0,NaN,NaN,NaN,...,NaN,2.33,1.00,NaN,NaN,NaN,3.0,3.33,NaN,66
2,Q20,2019,010000024,010780054,M1030,8.0,3.0,1.0,4.0,NaN,...,NaN,10.10,0.66,NaN,1.00,2.40,16.0,14.16,NaN,66
3,Q20,2019,010000024,010780054,M1031,5.0,1.0,1.0,1.0,NaN,...,NaN,5.25,0.58,NaN,0.10,0.80,8.0,6.73,NaN,66
4,Q20,2019,010000024,010780054,M1040,1.0,NaN,NaN,NaN,NaN,...,NaN,0.50,1.00,NaN,0.66,NaN,1.0,2.16,2.0,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17065,Q20,2019,950630012,750721334,M3050,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.00,NaN,1
17066,Q20,2019,950630012,750721334,M9999,3.0,10.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,13.80,NaN,1
17067,Q20,2019,950806166,950001453,M1130,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1
17068,Q20,2019,950806166,950001453,M1170,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1
17069,Q20,2019,950806166,950001453,M9999,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,1

In [14]:
# Pour cette variable explicative, on souhaite le nombre de tous les effectifs de chaque personnel : nombre de radiologues, de pédiatres, etc
EFF = EFF[['FI','FI_EJ','PERSO','EFFLIB','EFFSAL']]

In [15]:
EFF = EFF[EFF['PERSO'] != "M9999"] # On enlève le total du nombre de tous le personnel médical d'un hopital

In [16]:
EFF

              FI      FI_EJ  PERSO  EFFLIB  EFFSAL  INTTOT
0      010000024  010780054  M1010     7.0    26.0      66
1      010000024  010780054  M1020     NaN     3.0      66
2      010000024  010780054  M1030     NaN    16.0      66
3      010000024  010780054  M1031     NaN     8.0      66
4      010000024  010780054  M1040     2.0     1.0      66
...          ...        ...    ...     ...     ...     ...
17063  950630012  750721334  M1200     NaN     1.0       1
17064  950630012  750721334  M3040     NaN     1.0       1
17065  950630012  750721334  M3050     NaN     2.0       1
17067  950806166  950001453  M1130     2.0     NaN       1
17068  950806166  950001453  M1170     4.0     NaN       1

[16031 rows x 6 columns]

In [17]:
# test
EFF = EFF.pivot(index='FI', columns='PERSO', values=['EFFLIB', 'EFFSAL'])
EFF

          EFFLIB                                                        ...  \
PERSO      M1010 M1020 M1030 M1031 M1040 M1050 M1070 M1090 M1100 M1110  ...
FI                                                                      ...
010000024    7.0   NaN   NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN  ...
010000032    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000065    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000198    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000495    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
950000364    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950000398    0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950002568    2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950630012    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

          EFFSAL
PERSO      M2140 M2150 M3011 M3012 M3020 M3030 M3040 M3050 M3060 M3070
FI
010000024    NaN   NaN   NaN   6.0   NaN   2.0   2.0  11.0   NaN   NaN
010000032    NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   NaN   NaN
010000065    NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   1.0   NaN
010000198    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010000495    NaN   NaN   NaN   NaN  48.0   1.0   1.0   2.0   1.0   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
950000364    NaN   3.0  11.0   NaN  26.0   6.0   1.0   7.0   NaN   9.0
950000398    NaN   NaN   NaN   NaN  20.0   NaN   1.0   1.0   NaN   NaN
950002568    NaN   NaN   NaN   NaN  44.0   NaN   NaN   2.0   NaN   NaN
950630012    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN   NaN
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[1039 rows x 92 columns]

In [18]:
EFF

          EFFLIB                                                        ...  \
PERSO      M1010 M1020 M1030 M1031 M1040 M1050 M1070 M1090 M1100 M1110  ...
FI                                                                      ...
010000024    7.0   NaN   NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN  ...
010000032    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000065    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000198    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
010000495    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
950000364    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950000398    0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950002568    2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950630012    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

          EFFSAL
PERSO      M2140 M2150 M3011 M3012 M3020 M3030 M3040 M3050 M3060 M3070
FI
010000024    NaN   NaN   NaN   6.0   NaN   2.0   2.0  11.0   NaN   NaN
010000032    NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   NaN   NaN
010000065    NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   1.0   NaN
010000198    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
010000495    NaN   NaN   NaN   NaN  48.0   1.0   1.0   2.0   1.0   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
950000364    NaN   3.0  11.0   NaN  26.0   6.0   1.0   7.0   NaN   9.0
950000398    NaN   NaN   NaN   NaN  20.0   NaN   1.0   1.0   NaN   NaN
950002568    NaN   NaN   NaN   NaN  44.0   NaN   NaN   2.0   NaN   NaN
950630012    NaN   NaN   NaN   NaN   NaN   NaN   1.0   2.0   NaN   NaN
950806166    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[1039 rows x 92 columns]

In [19]:
EFF= EFF.groupby(by = ['FI']).sum()

In [247]:
EFF.sort_values('INTTOT').tail(50)

           EFFLIB  EFFSAL  INTTOT
FI
940000573     0.0   406.0    4902
920100039     0.0   300.0    5148
690007539     0.0   409.0    5740
510002447     0.0   347.0    5858
590811279     0.0   306.0    6060
450002613    32.0   412.0    6068
680004546     0.0   408.0    6120
910020254     0.0   409.0    6256
330783648     0.0   283.0    6279
720000033     0.0   350.0    6327
750100042     0.0   584.0    6390
590000618     0.0   453.0    6424
570026682     0.0   391.0    6437
680000684     0.0   422.0    6498
370000861     0.0   491.0    6528
690784152     0.0   453.0    6697
340785161     0.0   420.0    6789
750100208     0.0   815.0    7424
290004324     0.0   381.0    7524
750803447     0.0   651.0    7744
310783048     0.0   476.0    8192
690783154     0.0   668.0    8322
630000404     4.0   459.0    8676
690784137     0.0   607.0    9072
750100166     0.0  1006.0    9344
130780521     0.0   377.0    9912
870000064     0.0   496.0   10416
940100027     0.0   924.0   10730
670783273     0.0   539.0   11268
420785354     0.0   597.0   11388
670000025     0.0   731.0   11808
310783055     0.0   544.0   11865
540002698     2.0   610.0   11970
300782117    14.0   645.0   12645
750100232     0.0   662.0   12818
350000741    17.0   724.0   13160
440000271     0.0   855.0   14703
590796975     0.0   777.0   14872
130783293     0.0   760.0   15252
490000049     0.0   725.0   15293
800006124     0.0   734.0   16790
860000223     6.0   652.0   16968
940100043     0.0   679.0   17325
140000209     0.0   644.0   18018
750100125     0.0  1493.0   18120
250006954     0.0   675.0   19307
380000067    12.0   969.0   20340
210987558     9.0   535.0   25896
330781360     0.0   819.0   26403
760000158     0.0   811.0   27552

# Avant que je me rende compte qu'il y avait déjà la catégorie que je cherchais

In [172]:
Q20_EFF_SAL = Q20[['FI','PERSO','EFFSALPLH','EFFSALPLF', 'EFFSALPAH', 'EFFSALPAF', 'EFFLIBPAH','EFFLIBPAF', 'EFFLIBPLH','EFFLIBPLF']]

In [ ]:
# On ne garde pas l'information consernant le genre des salariés
Q20_EFF_SAL['EFFSALPL'] = Q20_EFF_SAL[['EFFSALPLH','EFFSALPLF']].sum(axis=1)
Q20_EFF_SAL['EFFSALPA'] = Q20_EFF_SAL[['EFFSALPAH','EFFSALPAF']].sum(axis=1)
Q20_EFF_SAL['EFFLIBPL'] = Q20_EFF_SAL[['EFFLIBPLH','EFFLIBPLF']].sum(axis=1)
Q20_EFF_SAL['EFFLIBPA'] = Q20_EFF_SAL[['EFFLIBPAH','EFFLIBPAF']].sum(axis=1)

In [176]:
Q20_EFF_SAL = Q20_EFF_SAL.drop(['EFFSALPLF', 'EFFSALPLH', 'EFFSALPAF','EFFSALPAH', 'EFFLIB'], axis=1)
Q20_EFF_SAL = Q20_EFF_SAL[Q20_EFF_SAL['PERSO'] != "M9999"]

In [178]:
Q20_EFF_SAL = Q20_EFF_SAL.groupby(by = ['FI', 'PERSO']).sum()