# Identification des variables de contrôle

( relatif à la partie ***3.4 -Les variables de controle*** du rapport)

L'objectif de ce notebook est de créer un Dataframe identifiant une ligne par établissement de santé, lié aux variables de contrôle : 
- Idenfitication de l'établissement 
    - Le statut juridique de l'établissement |
    - Le département |
    - La commune |
- Le capital : 
    - Nombre de lits |
    - Matériel & Equipement |
    - Capital innovation ( brevet, recherche ) ?  Hospidiag : pas assez de valeurs 
    - Medicaments : https://www.atih.sante.fr/nomenclatures-de-recueil-de-l-information/medicaments ( Pas acces ? )   
- Les séjours :
    - Nombre de séjours |
    - Durée des séjours |
    - Taux de mortalité, réadmission ?
- Données sociodémographiques :
    - taux de chomage dans le département |
    - couleur politique dans la commune |
    - richesse 
- Qualité https://hospidiag.atih.sante.fr/cgi-bin/broker?_service=hospidiag&_debug=0&_program=hd.accueil_hd.sas 
- Hopitaux universitaires ou non-universitaires ?

Peut aussi interesser : 
- Base BLOC : nombre total d'acte chir en hospitalisation complete 
- Pour la télémédecine: il y a encore des variables relatives au nombre de consultation en télémedecine et si l'hopital a des ETP particuliers pour la telemed

In [711]:
# Importation des packages 
import os 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [712]:
# Les bases : 

# Bases de la SAE : 
path_SAE = 'C:/Users/louis/OneDrive/Documents/ENSAE/2A/Stat_app/SAE_2019/Bases_statistiques/Bases_CSV/'

ID=pd.read_csv(path_SAE+'ID_2019r.csv' ,sep=';', encoding='latin-1')
MCO=pd.read_csv(path_SAE+'MCO_2019r.csv' ,sep=';', encoding='latin-1')
BLOC=pd.read_csv(path_SAE+ 'BLOCS_2019r.csv' ,sep=';', encoding='latin-1')
IMAGES = pd.read_csv(path_SAE+ 'IMAGES_2019r.csv' ,sep=';', encoding='latin-1')
BIO = pd.read_csv(path_SAE+ 'BIO_2019r.csv' ,sep=';', encoding='latin-1')
TELEMED =  pd.read_csv(path_SAE+ 'TELEMED_2019r.csv' ,sep=';', encoding='latin-1')

# Base créée :
path_ISA= r'C:\Users\louis\OneDrive\Documents\ENSAE\2A\Stat_app\ISA.csv'
ISA=pd.read_csv(path_ISA ,sep=',')


# Bases complémentaires :
  #Taux de chomage : https://www.insee.fr/fr/statistiques/2134411
path_tx_chomage=r'C:\Users\louis\OneDrive\Documents\ENSAE\2A\Stat_app\Bases_complementaires\TCRD_087.xls'
tx_chomage = pd.read_excel(path_tx_chomage)

 # Partis politiques : https://www.data.gouv.fr/fr/datasets/election-presidentielle-des-23-avril-et-7-mai-2017-resultats-definitifs-du-1er-tour-par-communes/   
path_presidentielles = 'C:/Users/louis/OneDrive/Documents/ENSAE/2A/Stat_app/Bases_complementaires/Presidentielle_2017_Resultats_Communes_Tour_1_c.xls'
presidentielles = pd.read_excel(path_presidentielles, skiprows= 3)

In [713]:
ISA

     Numero_finess     Points_ISA  stjr
0        010008407  165054.798333     1
1        010009132    5715.170000     1
2        010780054  787929.068333     1
3        010780062  188174.950000     1
4        010780096   90756.543333     1
...            ...            ...   ...
1188     970462024   20018.590000     2
1189     970462073   81023.520000     2
1190     970462081   92668.675000     2
1191     970462107  306221.841667     2
1192     970466751    7336.790000     2

[1193 rows x 3 columns]

## Identification de l'établissement

### Le statut juridique

Le statut juridique est déja présent dans la base ISA puisque qu'il a été utile pour la création de la variable d'interet ( tarifs GHS différents pour le public et le privé)

### Le département

In [714]:
# Code département présent dans la base ID 
ID['dep']

0       01
1       01
2       01
3       01
4       01
        ..
4013    9F
4014    9F
4015    9F
4016    9F
4017    9F
Name: dep, Length: 4018, dtype: object

In [715]:
dep_fi = pd.merge (ISA, ID[['fi','dep']], left_on='Numero_finess', right_on='fi',how='inner')
dep_fi

    Numero_finess     Points_ISA  stjr         fi dep
0       060000528  356892.030000     3  060000528  06
1       060780491  372410.435000     3  060780491  06
2       060780947  174552.540000     3  060780947  06
3       060791811  146432.633333     3  060791811  06
4       060794013  238173.260000     3  060794013  06
..            ...            ...   ...        ...  ..
663     970462024   20018.590000     2  970462024  9D
664     970462073   81023.520000     2  970462073  9D
665     970462081   92668.675000     2  970462081  9D
666     970462107  306221.841667     2  970462107  9D
667     970466751    7336.790000     2  970466751  9D

[668 rows x 5 columns]

In [716]:
dep_fi.fi.nunique()

668

Le numéro finess est bien unique

In [717]:
dep_fiej = pd.merge (ISA, ID[['fi_ej','dep']], left_on='Numero_finess', right_on='fi_ej',how='inner')
dep_fiej

     Numero_finess    Points_ISA  stjr      fi_ej dep
0        010008407  1.650548e+05     1  010008407  01
1        010008407  1.650548e+05     1  010008407  01
2        010008407  1.650548e+05     1  010008407  01
3        010009132  5.715170e+03     1  010009132  01
4        010009132  5.715170e+03     1  010009132  01
...            ...           ...   ...        ...  ..
1084     970408589  2.697187e+06     1  970408589  9D
1085     970408589  2.697187e+06     1  970408589  9D
1086     970408589  2.697187e+06     1  970408589  9D
1087     970421038  5.785114e+05     1  970421038  9D
1088     980500003  3.842392e+05     1  980500003  9F

[1089 rows x 5 columns]

In [718]:
dep_fiej.fi_ej.nunique()

525

Le numéro finess de l'entité juridique n'est pas unique. On supprime les doubes

In [719]:
dep_fiej.drop_duplicates(subset ='fi_ej', keep = 'first', inplace=True)

In [720]:
dep_fiej

     Numero_finess    Points_ISA  stjr      fi_ej dep
0        010008407  1.650548e+05     1  010008407  01
3        010009132  5.715170e+03     1  010009132  01
5        010780054  7.879291e+05     1  010780054  01
8        010780062  1.881749e+05     1  010780062  01
9        010780096  9.075654e+04     1  010780096  01
...            ...           ...   ...        ...  ..
1078     970305629  9.421212e+04     1  970305629  9C
1079     970403606  3.325696e+05     1  970403606  9D
1081     970408589  2.697187e+06     1  970408589  9D
1087     970421038  5.785114e+05     1  970421038  9D
1088     980500003  3.842392e+05     1  980500003  9F

[525 rows x 5 columns]

In [721]:
Var_CTRL = pd.concat([dep_fi, dep_fiej])
Var_CTRL

     Numero_finess    Points_ISA  stjr         fi dep      fi_ej
0        060000528  3.568920e+05     3  060000528  06        NaN
1        060780491  3.724104e+05     3  060780491  06        NaN
2        060780947  1.745525e+05     3  060780947  06        NaN
3        060791811  1.464326e+05     3  060791811  06        NaN
4        060794013  2.381733e+05     3  060794013  06        NaN
...            ...           ...   ...        ...  ..        ...
1078     970305629  9.421212e+04     1        NaN  9C  970305629
1079     970403606  3.325696e+05     1        NaN  9D  970403606
1081     970408589  2.697187e+06     1        NaN  9D  970408589
1087     970421038  5.785114e+05     1        NaN  9D  970421038
1088     980500003  3.842392e+05     1        NaN  9F  980500003

[1193 rows x 6 columns]

In [722]:
(ISA.shape[0],Var_CTRL.shape[0] )

(1193, 1193)

On a bien récupéré l'ensemble de nos hopitaux

### Commune

In [723]:
# Code commune présent dans la base ID 
ID['COMINSEE']

0       01451
1       01034
2       01427
3       01173
4       01244
        ...
4013    9F611
4014    9F611
4015    9F611
4016    9F606
4017    9F606
Name: COMINSEE, Length: 4018, dtype: object

In [724]:
com_fi = pd.merge (Var_CTRL, ID[['fi','COMINSEE']], left_on='Numero_finess', right_on='fi',how='inner')
com_fi

,Numero_finess,Points_ISA,stjr,fi_x,dep,fi_ej,fi_y,COMINSEE
0,060000528,356892.030000,3,060000528,06,NaN,060000528,06088
1,060780491,372410.435000,3,060780491,06,NaN,060780491,06123
2,060780947,174552.540000,3,060780947,06,NaN,060780947,06088
3,060791811,146432.633333,3,060791811,06,NaN,060791811,06088
4,060794013,238173.260000,3,060794013,06,NaN,060794013,06123
...,...,...,...,...,...,...,...,...
663,970462024,20018.590000,2,970462024,9D,NaN,970462024,9D407
664,970462073,81023.520000,2,970462073,9D,NaN,970462073,9D422
665,970462081,92668.675000,2,970462081,9D,NaN,970462081,9D407
666,970462107,306221.841667,2,970462107,9D,NaN,970462107,9D411
667,970466751,7336.790000,2,970466751,9D,NaN,970466751,9D407

In [725]:
com_fiej = pd.merge (Var_CTRL, ID[['fi_ej','COMINSEE']], left_on='Numero_finess', right_on='fi_ej',how='inner')
com_fiej

     Numero_finess    Points_ISA  stjr   fi dep    fi_ej_x    fi_ej_y COMINSEE
0        010008407  1.650548e+05     1  NaN  01  010008407  010008407    01283
1        010008407  1.650548e+05     1  NaN  01  010008407  010008407    01269
2        010008407  1.650548e+05     1  NaN  01  010008407  010008407    01283
3        010009132  5.715170e+03     1  NaN  01  010009132  010009132    01306
4        010009132  5.715170e+03     1  NaN  01  010009132  010009132    01420
...            ...           ...   ...  ...  ..        ...        ...      ...
1084     970408589  2.697187e+06     1  NaN  9D  970408589  970408589    9D424
1085     970408589  2.697187e+06     1  NaN  9D  970408589  970408589    9D412
1086     970408589  2.697187e+06     1  NaN  9D  970408589  970408589    9D422
1087     970421038  5.785114e+05     1  NaN  9D  970421038  970421038    9D415
1088     980500003  3.842392e+05     1  NaN  9F  980500003  980500003    9F611

[1089 rows x 8 columns]

In [726]:
com_fiej.drop_duplicates(subset ='fi_ej_x', keep = 'first', inplace=True)

In [727]:
com_fiej

     Numero_finess    Points_ISA  stjr   fi dep    fi_ej_x    fi_ej_y COMINSEE
0        010008407  1.650548e+05     1  NaN  01  010008407  010008407    01283
3        010009132  5.715170e+03     1  NaN  01  010009132  010009132    01306
5        010780054  7.879291e+05     1  NaN  01  010780054  010780054    01451
8        010780062  1.881749e+05     1  NaN  01  010780062  010780062    01034
9        010780096  9.075654e+04     1  NaN  01  010780096  010780096    01427
...            ...           ...   ...  ...  ..        ...        ...      ...
1078     970305629  9.421212e+04     1  NaN  9C  970305629  970305629    9C304
1079     970403606  3.325696e+05     1  NaN  9D  970403606  970403606    9D410
1081     970408589  2.697187e+06     1  NaN  9D  970408589  970408589    9D411
1087     970421038  5.785114e+05     1  NaN  9D  970421038  970421038    9D415
1088     980500003  3.842392e+05     1  NaN  9F  980500003  980500003    9F611

[525 rows x 8 columns]

In [728]:
Var_CTRL = pd.concat([com_fi, com_fiej])
Var_CTRL

,Numero_finess,Points_ISA,stjr,fi_x,dep,fi_ej,fi_y,COMINSEE,fi,fi_ej_x,fi_ej_y
0,060000528,3.568920e+05,3,060000528,06,NaN,060000528,06088,NaN,NaN,NaN
1,060780491,3.724104e+05,3,060780491,06,NaN,060780491,06123,NaN,NaN,NaN
2,060780947,1.745525e+05,3,060780947,06,NaN,060780947,06088,NaN,NaN,NaN
3,060791811,1.464326e+05,3,060791811,06,NaN,060791811,06088,NaN,NaN,NaN
4,060794013,2.381733e+05,3,060794013,06,NaN,060794013,06123,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1078,970305629,9.421212e+04,1,NaN,9C,NaN,NaN,9C304,NaN,970305629,970305629
1079,970403606,3.325696e+05,1,NaN,9D,NaN,NaN,9D410,NaN,970403606,970403606
1081,970408589,2.697187e+06,1,NaN,9D,NaN,NaN,9D411,NaN,970408589,970408589
1087,970421038,5.785114e+05,1,NaN,9D,NaN,NaN,9D415,NaN,970421038,970421038
1088,980500003,3.842392e+05,1,NaN,9F,NaN,NaN,9F611,NaN,980500003,980500003

In [729]:
Var_CTRL= Var_CTRL.drop(['fi_x','fi_y','fi_ej_x', 'fi_ej_y', 'fi_ej','fi'], axis=1)

## Capital

### Le nombre de lits

On souhaite obtenir pour chaque établissement, le nombre de lits associés. 

On commence par fusionner en fonction du numéro finess :

In [730]:
lits_fi = pd.merge (Var_CTRL, MCO[['FI','LIT_MCO']], left_on='Numero_finess', right_on='FI',how='inner')
lits_fi

    Numero_finess     Points_ISA  stjr dep COMINSEE         FI  LIT_MCO
0       060000528  356892.030000     3  06    06088  060000528    128.0
1       060780491  372410.435000     3  06    06123  060780491    128.0
2       060780947  174552.540000     3  06    06088  060780947    105.0
3       060791811  146432.633333     3  06    06088  060791811     91.0
4       060794013  238173.260000     3  06    06123  060794013     68.0
..            ...            ...   ...  ..      ...        ...      ...
663     970462024   20018.590000     2  9D    9D407  970462024     38.0
664     970462073   81023.520000     2  9D    9D422  970462073     69.0
665     970462081   92668.675000     2  9D    9D407  970462081     45.0
666     970462107  306221.841667     2  9D    9D411  970462107    266.0
667     970466751    7336.790000     2  9D    9D407  970466751      NaN

[668 rows x 7 columns]

In [731]:
lits_fi.Numero_finess.nunique()

668

Le numero finess est bien unique. 

On fusionne en fonction du numéro finess de l'entité juridique :

In [732]:
lits_fiej = pd.merge (Var_CTRL, MCO[['FI_EJ','LIT_MCO']], left_on='Numero_finess', right_on='FI_EJ',how='inner')
lits_fiej

    Numero_finess    Points_ISA  stjr dep COMINSEE      FI_EJ  LIT_MCO
0       010008407  1.650548e+05     1  01    01283  010008407    102.0
1       010009132  5.715170e+03     1  01    01306  010009132     12.0
2       010009132  5.715170e+03     1  01    01306  010009132      8.0
3       010780054  7.879291e+05     1  01    01451  010780054    369.0
4       010780062  1.881749e+05     1  01    01034  010780062     93.0
..            ...           ...   ...  ..      ...        ...      ...
743     970408589  2.697187e+06     1  9D    9D411  970408589     47.0
744     970408589  2.697187e+06     1  9D    9D411  970408589     15.0
745     970408589  2.697187e+06     1  9D    9D411  970408589     44.0
746     970421038  5.785114e+05     1  9D    9D415  970421038    276.0
747     980500003  3.842392e+05     1  9F    9F611  980500003    364.0

[748 rows x 7 columns]

In [733]:
lits_fiej.FI_EJ.nunique()

525

Le numéro finess de l'entité juridique n'est pas unique. On peut afficher ces doublons avant de les traiter :

In [734]:
# Affichage des duplicatas 
lits_fiej[lits_fiej.duplicated(subset ='Numero_finess')]

    Numero_finess    Points_ISA  stjr dep COMINSEE      FI_EJ  LIT_MCO
2       010009132  5.715170e+03     1  01    01306  010009132      8.0
25      050002948  6.212138e+05     1  04    04209  050002948    246.0
30      060785011  2.515840e+06     1  06    06088  060785011    576.0
31      060785011  2.515840e+06     1  06    06088  060785011     50.0
32      060785011  2.515840e+06     1  06    06088  060785011    425.0
..            ...           ...   ...  ..      ...        ...      ...
736     970211207  1.597206e+06     1  9B    9B209  970211207    147.0
742     970408589  2.697187e+06     1  9D    9D411  970408589    547.0
743     970408589  2.697187e+06     1  9D    9D411  970408589     47.0
744     970408589  2.697187e+06     1  9D    9D411  970408589     15.0
745     970408589  2.697187e+06     1  9D    9D411  970408589     44.0

[223 rows x 7 columns]

In [735]:
# On effectue la moyenne :
df_fiunique_lits = pd.DataFrame({'Numero_finess':lits_fiej.groupby('FI_EJ', as_index=False).mean()['FI_EJ'], 'FI_EJ':lits_fiej.groupby('FI_EJ', as_index=False).mean()['FI_EJ'], 'stjr':lits_fiej.groupby('FI_EJ', as_index=False).mean()['stjr'],'LIT_MCO': lits_fiej.groupby('FI_EJ', as_index=False).mean()['LIT_MCO'] })
# On retire les doublons 
lits_fiej.drop_duplicates(subset ='Numero_finess', keep = 'first', inplace=True)
# On fusionne
lits_fiej_final = pd.merge (df_fiunique_lits,lits_fiej[['Numero_finess','Points_ISA','dep','COMINSEE']], left_on='Numero_finess', right_on='Numero_finess',how='inner')
lits_fiej_final

    Numero_finess      FI_EJ  stjr  LIT_MCO    Points_ISA dep COMINSEE
0       010008407  010008407     1    102.0  1.650548e+05  01    01283
1       010009132  010009132     1     10.0  5.715170e+03  01    01306
2       010780054  010780054     1    369.0  7.879291e+05  01    01451
3       010780062  010780062     1     93.0  1.881749e+05  01    01034
4       010780096  010780096     1     59.0  9.075654e+04  01    01427
..            ...        ...   ...      ...           ...  ..      ...
520     970305629  970305629     1     92.0  9.421212e+04  9C    9C304
521     970403606  970403606     1    177.0  3.325696e+05  9D    9D410
522     970408589  970408589     1    245.6  2.697187e+06  9D    9D411
523     970421038  970421038     1    276.0  5.785114e+05  9D    9D415
524     980500003  980500003     1    364.0  3.842392e+05  9F    9F611

[525 rows x 7 columns]

On fusionne les deux tables (fi_ej et fi) :

In [736]:
Var_CTRL = pd.concat([lits_fi, lits_fiej_final])
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,FI,LIT_MCO,FI_EJ
0,060000528,3.568920e+05,3,06,06088,060000528,128.0,NaN
1,060780491,3.724104e+05,3,06,06123,060780491,128.0,NaN
2,060780947,1.745525e+05,3,06,06088,060780947,105.0,NaN
3,060791811,1.464326e+05,3,06,06088,060791811,91.0,NaN
4,060794013,2.381733e+05,3,06,06123,060794013,68.0,NaN
...,...,...,...,...,...,...,...,...
520,970305629,9.421212e+04,1,9C,9C304,NaN,92.0,970305629
521,970403606,3.325696e+05,1,9D,9D410,NaN,177.0,970403606
522,970408589,2.697187e+06,1,9D,9D411,NaN,245.6,970408589
523,970421038,5.785114e+05,1,9D,9D415,NaN,276.0,970421038
524,980500003,3.842392e+05,1,9F,9F611,NaN,364.0,980500003

In [737]:
(Var_CTRL.shape,ISA.shape)

((1193, 8), (1193, 3))

In [738]:
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'], axis=1)

In [739]:
Var_CTRL

    Numero_finess    Points_ISA  stjr dep COMINSEE  LIT_MCO
0       060000528  3.568920e+05     3  06    06088    128.0
1       060780491  3.724104e+05     3  06    06123    128.0
2       060780947  1.745525e+05     3  06    06088    105.0
3       060791811  1.464326e+05     3  06    06088     91.0
4       060794013  2.381733e+05     3  06    06123     68.0
..            ...           ...   ...  ..      ...      ...
520     970305629  9.421212e+04     1  9C    9C304     92.0
521     970403606  3.325696e+05     1  9D    9D410    177.0
522     970408589  2.697187e+06     1  9D    9D411    245.6
523     970421038  5.785114e+05     1  9D    9D415    276.0
524     980500003  3.842392e+05     1  9F    9F611    364.0

[1193 rows x 6 columns]

On a bien récupérer l'ensemble de nos hopitaux

### Matériel - Equipement

Dans la SAE les bases relatives aux matériaux et équipements sont : 
- BLOCS Sites opératoires et salles d’intervention 
- IMAGES Imagerie médicale
- BIO Biologie médicale et anatomo-cytopathologie 
- TELEMED Télémédecine

#### BLOC

Dans la base BLOC de la SAE, il est possible d'identifier le nombre de salle d'intervention ou d'exploration total. Cette variable regroupe : 
- Nombre de salles destinées à la chirurgie classique, hors obstétrique (hors salles dédiées à la chirurgie ambulatoire)
- Nombre de salles dédiées aux actes d'obstétrique (césariennes, IVG…) (hors salles de naissance et hors salles dédiées à la chirurgie ambulatoire)
- Nombre de salles d'activités interventionnelles sous imagerie (spécialisées ou non avec ou sans anesthésie) hors salles dédiées à la chirurgie ambulatoire
- Nombre de salles dédiées aux endoscopies avec ou sans anesthésie pour tout type d'activité (ambulatoire, hosp. complète, externe) hors salles dédiées à la chirurgie ambulatoire
- Nombre d'autres salles d'intervention et/ou d'exploration (hors celles dédiées à la chirurgie ambulatoire)

In [741]:
BLOC

,BOR,AN,FI,FI_EJ,SITES,SALCHIR,SAL24CHIR,SALOBS,SAL24OBS,SALINT,...,BLOCS_I14,BLOCS_A15,BLOCS_B15,BLOCS_C15,BLOCS_D15,BLOCS_E15,BLOCS_F15,BLOCS_G15,BLOCS_H15,BLOCS_I15
0,BLOCS,2019,010000024,010780054,2.0,9.0,NaN,2.0,2.0,1.0,...,NaN,11.0,69.0,80.0,24.0,NaN,NaN,NaN,NaN,NaN
1,BLOCS,2019,010000032,010780062,1.0,3.0,1.0,NaN,NaN,NaN,...,0.0,16.0,5.0,21.0,3.0,71.0,0.0,0.0,0.0,0.0
2,BLOCS,2019,010005239,010008407,1.0,3.0,1.0,1.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
3,BLOCS,2019,010007300,010007292,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
4,BLOCS,2019,010780195,010000156,1.0,6.0,NaN,NaN,NaN,1.0,...,NaN,14.0,130.0,144.0,77.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,BLOCS,2019,970462073,970400271,2.0,7.0,NaN,NaN,NaN,NaN,...,NaN,15.0,14.0,29.0,1.0,NaN,NaN,NaN,NaN,NaN
1030,BLOCS,2019,970462081,970400255,1.0,6.0,NaN,NaN,NaN,1.0,...,NaN,18.0,275.0,293.0,275.0,NaN,NaN,NaN,NaN,NaN
1031,BLOCS,2019,970462107,970400305,1.0,6.0,NaN,1.0,NaN,2.0,...,NaN,24.0,308.0,332.0,320.0,NaN,NaN,NaN,NaN,NaN
1032,BLOCS,2019,970466751,970400446,1.0,NaN,0.0,NaN,NaN,NaN,...,NaN,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1033,BLOCS,2019,980500011,980500003,2.0,5.0,1.0,1.0,1.0,NaN,...,NaN,4.0,33.0,37.0,34.0,NaN,NaN,NaN,NaN,NaN

In [742]:
bloc_fi_salto = pd.merge (Var_CTRL, BLOC[['FI','SALTOT']], left_on='Numero_finess', right_on='FI',how='inner')
bloc_fi_salto

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,FI,SALTOT
0,060000528,356892.030000,3,06,06088,128.0,060000528,8.0
1,060780491,372410.435000,3,06,06123,128.0,060780491,14.0
2,060780947,174552.540000,3,06,06088,105.0,060780947,5.0
3,060791811,146432.633333,3,06,06088,91.0,060791811,2.0
4,060794013,238173.260000,3,06,06123,68.0,060794013,5.0
...,...,...,...,...,...,...,...,...
561,970462024,20018.590000,2,9D,9D407,38.0,970462024,2.0
562,970462073,81023.520000,2,9D,9D422,69.0,970462073,9.0
563,970462081,92668.675000,2,9D,9D407,45.0,970462081,8.0
564,970462107,306221.841667,2,9D,9D411,266.0,970462107,11.0
565,970466751,7336.790000,2,9D,9D407,NaN,970466751,NaN

In [743]:
bloc_fi_ej_salto = pd.merge (Var_CTRL, BLOC[['FI_EJ','SALTOT']], left_on='Numero_finess', right_on='FI_EJ',how='inner')
bloc_fi_ej_salto

    Numero_finess    Points_ISA  stjr dep COMINSEE  LIT_MCO      FI_EJ  SALTOT
0       010008407  1.650548e+05     1  01    01283    102.0  010008407     7.0
1       010780054  7.879291e+05     1  01    01451    369.0  010780054    12.0
2       010780062  1.881749e+05     1  01    01034     93.0  010780062     4.0
3       020000063  8.671006e+05     1  02    02691    395.0  020000063    19.0
4       020000253  3.218348e+05     1  02    02408    183.0  020000253     6.0
..            ...           ...   ...  ..      ...      ...        ...     ...
451     970403606  3.325696e+05     1  9D    9D410    177.0  970403606     6.0
452     970408589  2.697187e+06     1  9D    9D411    245.6  970408589    19.0
453     970408589  2.697187e+06     1  9D    9D411    245.6  970408589    26.0
454     970421038  5.785114e+05     1  9D    9D415    276.0  970421038     7.0
455     980500003  3.842392e+05     1  9F    9F611    364.0  980500003     6.0

[456 rows x 8 columns]

In [744]:
bloc_fi_ej_salto.FI_EJ.nunique()

357

In [745]:
# Affichage des duplicatas 
bloc_fi_ej_salto[bloc_fi_ej_salto.duplicated(subset ='Numero_finess')]

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,FI_EJ,SALTOT
15,050002948,6.212138e+05,1,04,04209,140.000000,050002948,7.0
20,060785011,2.515840e+06,1,06,06088,266.500000,060785011,29.0
21,060785011,2.515840e+06,1,06,06088,266.500000,060785011,15.0
30,090781774,4.851891e+05,1,09,09122,121.000000,090781774,0.0
42,130041916,1.065176e+06,1,13,13001,252.000000,130041916,2.0
...,...,...,...,...,...,...,...,...
443,970100228,9.136090e+05,1,9A,9A101,174.333333,970100228,16.0
445,970211207,1.597206e+06,1,9B,9B209,153.600000,970211207,3.0
446,970211207,1.597206e+06,1,9B,9B209,153.600000,970211207,6.0
447,970211207,1.597206e+06,1,9B,9B209,153.600000,970211207,6.0
453,970408589,2.697187e+06,1,9D,9D411,245.600000,970408589,26.0

In [746]:
# On effectue la moyenne :
df_fiunique_bloc_salto = pd.DataFrame({'Numero_finess':bloc_fi_ej_salto.groupby('FI_EJ', as_index=False).mean()['FI_EJ'], 'FI_EJ':bloc_fi_ej_salto.groupby('FI_EJ', as_index=False).mean()['FI_EJ'], 'stjr':bloc_fi_ej_salto.groupby('FI_EJ', as_index=False).mean()['stjr'],'SALTOT': bloc_fi_ej_salto.groupby('FI_EJ', as_index=False).mean()['SALTOT'] })
# On retire les doublons 
bloc_fi_ej_salto.drop_duplicates(subset ='Numero_finess', keep = 'first', inplace=True)
# On fusionne
bloc_fiej_final_salto = pd.merge (df_fiunique_bloc_salto,bloc_fi_ej_salto[['Numero_finess','Points_ISA','dep','COMINSEE','LIT_MCO']], left_on='Numero_finess', right_on='Numero_finess',how='inner')
bloc_fiej_final_salto

    Numero_finess      FI_EJ  stjr  SALTOT    Points_ISA dep COMINSEE  LIT_MCO
0       010008407  010008407     1     7.0  1.650548e+05  01    01283    102.0
1       010780054  010780054     1    12.0  7.879291e+05  01    01451    369.0
2       010780062  010780062     1     4.0  1.881749e+05  01    01034     93.0
3       020000063  020000063     1    19.0  8.671006e+05  02    02691    395.0
4       020000253  020000253     1     6.0  3.218348e+05  02    02408    183.0
..            ...        ...   ...     ...           ...  ..      ...      ...
352     970305629  970305629     1     4.0  9.421212e+04  9C    9C304     92.0
353     970403606  970403606     1     6.0  3.325696e+05  9D    9D410    177.0
354     970408589  970408589     1    22.5  2.697187e+06  9D    9D411    245.6
355     970421038  970421038     1     7.0  5.785114e+05  9D    9D415    276.0
356     980500003  980500003     1     6.0  3.842392e+05  9F    9F611    364.0

[357 rows x 8 columns]

In [747]:
bloc_salto =pd.concat([bloc_fi_salto, bloc_fiej_final_salto])
bloc_salto

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,FI,SALTOT,FI_EJ
0,060000528,3.568920e+05,3,06,06088,128.0,060000528,8.0,NaN
1,060780491,3.724104e+05,3,06,06123,128.0,060780491,14.0,NaN
2,060780947,1.745525e+05,3,06,06088,105.0,060780947,5.0,NaN
3,060791811,1.464326e+05,3,06,06088,91.0,060791811,2.0,NaN
4,060794013,2.381733e+05,3,06,06123,68.0,060794013,5.0,NaN
...,...,...,...,...,...,...,...,...,...
352,970305629,9.421212e+04,1,9C,9C304,92.0,NaN,4.0,970305629
353,970403606,3.325696e+05,1,9D,9D410,177.0,NaN,6.0,970403606
354,970408589,2.697187e+06,1,9D,9D411,245.6,NaN,22.5,970408589
355,970421038,5.785114e+05,1,9D,9D415,276.0,NaN,7.0,970421038
356,980500003,3.842392e+05,1,9F,9F611,364.0,NaN,6.0,980500003

Il y a 272 établissements manquants :

In [748]:
list1 = bloc_salto.Numero_finess.unique()
list2 = Var_CTRL.Numero_finess.unique()
res_bloc = [value for value in list2 if value not in list1]
res_bloc

['130045263',
 '130781255',
 '130783152',
 '130784226',
 '130811102',
 '140000340',
 '220000236',
 '290000975',
 '330000217',
 '330780370',
 '330781139',
 '340000025',
 '340781608',
 '350000063',
 '350000071',
 '350000204',
 '350002200',
 '350005021',
 '400000261',
 '420000192',
 '450000336',
 '490000700',
 '490004256',
 '540000072',
 '540000395',
 '540001104',
 '560002974',
 '570000026',
 '570000166',
 '570000455',
 '570000562',
 '570001099',
 '570003079',
 '570009670',
 '590049565',
 '620003350',
 '660009689',
 '670014042',
 '670017458',
 '670797539',
 '680000882',
 '690000245',
 '740780192',
 '750055287',
 '750150146',
 '750150187',
 '750150286',
 '750150344',
 '750150377',
 '780150033',
 '780150066',
 '780630026',
 '810000448',
 '910150010',
 '910150028',
 '910150069',
 '910500040',
 '920000635',
 '920300845',
 '940000656',
 '950000406',
 '950630012',
 '130002694',
 '130789159',
 '150780120',
 '280000449',
 '2B0005664',
 '310021571',
 '310781695',
 '330780354',
 '360002232',
 '430007450',
 '460006075',
 '520780214',
 '590780094',
 '590782256',
 '590806360',
 '590817839',
 '620105940',
 '630781821',
 '640780623',
 '640780672',
 '640781308',
 '690042080',
 '690791082',
 '720000249',
 '760783159',
 '780022737',
 '830100855',
 '910015965',
 '910300029',
 '910300326',
 '920300266',
 '940300163',
 '940300452',
 '950300152',
 '950300301',
 '970100137',
 '970102596',
 '970103099',
 '970404109',
 '970405411',
 '010009132',
 '010780096',
 '020000022',
 '020000048',
 '020000055',
 '020000071',
 '020004495',
 '030002158',
 '050000124',
 '070005558',
 '070007927',
 '070780366',
 '070780374',
 '110780087',
 '110780707',
 '130001928',
 '150780500',
 '160000121',
 '160000485',
 '160000519',
 '170780266',
 '210012142',
 '210780631',
 '220005045',
 '220021968',
 '230780066',
 '230780074',
 '240000067',
 '240000075',
 '240000083',
 '240000109',
 '250000221',
 '250000239',
 '260000104',
 '280000225',
 '290000108',
 '290000116',
 '2A0000386',
 '2B0004246',
 '2B0005342',
 '300780079',
 '300780087',
 '300781010',
 '310786256',
 '320004310',
 '320780133',
 '320780158',
 '320780174',
 '320780182',
 '320780208',
 '330781212',
 '330781261',
 '340009893',
 '340780451',
 '340780519',
 '340780535',
 '340780543',
 '350000089',
 '350002291',
 '350002317',
 '350048518',
 '360000046',
 '360000061',
 '370002701',
 '370004327',
 '380780023',
 '380780072',
 '380780213',
 '390780153',
 '400780268',
 '410000095',
 '410000111',
 '430000059',
 '430000067',
 '430000091',
 '440041531',
 '450000096',
 '450000153',
 '450000161',
 '460780091',
 '460780430',
 '470000324',
 '470000381',
 '480780121',
 '480780154',
 '480780162',
 '490000395',
 '490000403',
 '490007689',
 '490015765',
 '500000039',
 '500000062',
 '500000096',
 '500000393',
 '510000102',
 '520780024',
 '520780040',
 '520780057',
 '530000058',
 '530000066',
 '530007202',
 '540000056',
 '550000046',
 '560000085',
 '560000259',
 '570000141',
 '570000430',
 '570000497',
 '580780047',
 '580780070',
 '580780088',
 '580781136',
 '590781670',
 '590781795',
 '590782439',
 '590782645',
 '600100572',
 '610780140',
 '610790594',
 '630180032',
 '630781367',
 '640780862',
 '650780166',
 '660780271',
 '670780584',
 '680000411',
 '680001179',
 '690031455',
 '690043237',
 '690780069',
 '690782230',
 '690782248',
 '690782925',
 '710780214',
 '710781089',
 '710781360',
 '710781568',
 '710781592',
 '710976705',
 '720000066',
 '720000140',
 '740781190',
 '750810798',
 '760780056',
 '760780064',
 '760780254',
 '780021788',
 '780130027',
 '790019491',
 '800000036',
 '800000077',
 '810000349',
 '810000398',
 '840000079',
 '840000111',
 '840000129',
 '850025867',
 '870014248',
 '870014503',
 '880780069',
 '880780325',
 '890000417',
 '890000433',
 '920110053',
 '950015289',
 '970100160',
 '970100202',
 '970202156']

Les établissements absents de la base Bloc n'ont pas de bloc opératoire, c'est pourquoi ils ne sont pas présents dans la base BLOC de la SAE. Nous les rajoutons en établissant à 0 le nombre de salle de bloc opératoire.

In [749]:
fi_ss_bloc = Var_CTRL.loc[Var_CTRL.Numero_finess.isin(res_bloc)]
# On établie à 0 le nombre de salle : 
fi_ss_bloc['SALTOT'] = 0
fi_ss_bloc

<ipython-input-749-8d195be36f22>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fi_ss_bloc['SALTOT'] = 0

    Numero_finess    Points_ISA  stjr dep COMINSEE  LIT_MCO  SALTOT
12      130045263   5098.133333     3  13    13041     14.0       0
13      130781255  19287.983333     3  13    13001     40.0       0
14      130783152   5850.013333     3  13    13055     12.0       0
16      130784226   3828.400000     3  13    13055      0.0       0
20      130811102   5098.133333     3  13    13041     24.0       0
..            ...           ...   ...  ..      ...      ...     ...
497     920110053  62641.130000     1  92    92063     48.0       0
507     950015289  18313.888333     1  95    95355     26.0       0
511     970100160   3433.260000     1  9A    9A123     10.0       0
514     970100202   5081.250000     1  9A    9A112     17.0       0
516     970202156  15541.460000     1  9B    9B217     40.0       0

[270 rows x 7 columns]

In [750]:
Var_CTRL = pd.concat([bloc_salto,fi_ss_bloc]) 
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,FI,SALTOT,FI_EJ
0,060000528,356892.030000,3,06,06088,128.0,060000528,8.0,NaN
1,060780491,372410.435000,3,06,06123,128.0,060780491,14.0,NaN
2,060780947,174552.540000,3,06,06088,105.0,060780947,5.0,NaN
3,060791811,146432.633333,3,06,06088,91.0,060791811,2.0,NaN
4,060794013,238173.260000,3,06,06123,68.0,060794013,5.0,NaN
...,...,...,...,...,...,...,...,...,...
497,920110053,62641.130000,1,92,92063,48.0,NaN,0.0,NaN
507,950015289,18313.888333,1,95,95355,26.0,NaN,0.0,NaN
511,970100160,3433.260000,1,9A,9A123,10.0,NaN,0.0,NaN
514,970100202,5081.250000,1,9A,9A112,17.0,NaN,0.0,NaN
516,970202156,15541.460000,1,9B,9B217,40.0,NaN,0.0,NaN

In [751]:
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'], axis=1)

In [752]:
Var_CTRL

    Numero_finess     Points_ISA  stjr dep COMINSEE  LIT_MCO  SALTOT
0       060000528  356892.030000     3  06    06088    128.0     8.0
1       060780491  372410.435000     3  06    06123    128.0    14.0
2       060780947  174552.540000     3  06    06088    105.0     5.0
3       060791811  146432.633333     3  06    06088     91.0     2.0
4       060794013  238173.260000     3  06    06123     68.0     5.0
..            ...            ...   ...  ..      ...      ...     ...
497     920110053   62641.130000     1  92    92063     48.0     0.0
507     950015289   18313.888333     1  95    95355     26.0     0.0
511     970100160    3433.260000     1  9A    9A123     10.0     0.0
514     970100202    5081.250000     1  9A    9A112     17.0     0.0
516     970202156   15541.460000     1  9B    9B217     40.0     0.0

[1193 rows x 7 columns]

In [753]:
Var_CTRL= Var_CTRL.rename(columns={'SALTOT' : 'Capital_Bloc'})

#### IMAGES

On cherche un indicateur du capital corporel : les équipements de l'imagerie (lourds et conventionnels). La variable NB représente le nombre d'appareils présents sur le site en fonction de l'équipement ( IRM, Scanner...)

In [754]:
IMAGES

,BOR,AN,FI,FI_EJ,EQUIPIMA,NB,NBEXP,ACTET,ACTEXET,ACTEXEJ,ACTEX,ACTNUI,ACTINT
0,IMAGES,2019,010000024,010780054,IRM,2.0,2.0,2087.0,29.0,NaN,6838.0,12.0,NaN
1,IMAGES,2019,010000024,010780054,MAMM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IMAGES,2019,010000024,010780054,RADIO,4.0,4.0,17162.0,390.0,NaN,25015.0,461.0,1.0
3,IMAGES,2019,010000024,010780054,SCAN,2.0,2.0,7539.0,160.0,NaN,8285.0,236.0,1.0
4,IMAGES,2019,010000024,010780054,VASC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,IMAGES,2019,970463139,970408589,RADIO,1.0,1.0,214.0,NaN,NaN,NaN,NaN,0.0
3540,IMAGES,2019,980500011,980500003,IRM,1.0,1.0,646.0,NaN,NaN,1192.0,3.0,0.0
3541,IMAGES,2019,980500011,980500003,MAMM,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3542,IMAGES,2019,980500011,980500003,RADIO,4.0,4.0,6429.0,NaN,NaN,29404.0,1102.0,0.0
3543,IMAGES,2019,980500011,980500003,SCAN,1.0,1.0,1999.0,NaN,NaN,8824.0,174.0,0.0

In [755]:
IMAGES[['FI','FI_EJ','NBEXP', 'EQUIPIMA']]

             FI      FI_EJ  NBEXP EQUIPIMA
0     010000024  010780054    2.0      IRM
1     010000024  010780054    NaN     MAMM
2     010000024  010780054    4.0    RADIO
3     010000024  010780054    2.0     SCAN
4     010000024  010780054    NaN     VASC
...         ...        ...    ...      ...
3539  970463139  970408589    1.0    RADIO
3540  980500011  980500003    1.0      IRM
3541  980500011  980500003    1.0     MAMM
3542  980500011  980500003    4.0    RADIO
3543  980500011  980500003    1.0     SCAN

[3544 rows x 4 columns]

In [756]:
Images_fi = pd.merge (Var_CTRL, IMAGES[['FI','NB','EQUIPIMA']], left_on='Numero_finess', right_on='FI',how='inner')
Images_fi

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,FI,NB,EQUIPIMA
0,060000528,356892.030000,3,06,06088,128.0,8.0,060000528,3.0,CAM
1,060000528,356892.030000,3,06,06088,128.0,8.0,060000528,1.0,IRM
2,060000528,356892.030000,3,06,06088,128.0,8.0,060000528,2.0,MAMM
3,060000528,356892.030000,3,06,06088,128.0,8.0,060000528,1.0,RADIO
4,060000528,356892.030000,3,06,06088,128.0,8.0,060000528,1.0,SCAN
...,...,...,...,...,...,...,...,...,...,...
1239,920300266,19690.966667,2,92,92023,24.0,0.0,920300266,3.0,RADIO
1240,940300163,4440.630000,2,94,94038,20.0,0.0,940300163,1.0,RADIO
1241,940300452,11731.190000,2,94,94075,40.0,0.0,940300452,1.0,RADIO
1242,970102596,17963.580000,2,9A,9A113,27.0,0.0,970102596,1.0,RADIO
1243,970103099,13409.840000,2,9A,9A117,24.0,0.0,970103099,1.0,RADIO

In [757]:
nb_imagerie_fi = Images_fi[['Numero_finess','NB']].groupby('Numero_finess').sum()
nb_imagerie_fi

                NB
Numero_finess
010780195      7.0
020000360      3.0
030780548      4.0
030781116      1.0
060000528      9.0
...            ...
970302055      3.0
970404844      5.0
970462024      2.0
970462081      1.0
970462107      7.0

[360 rows x 1 columns]

In [758]:
Images_fi.FI.nunique()

360

In [759]:
Images_fi_ej = pd.merge (Var_CTRL, IMAGES[['FI_EJ','NB','EQUIPIMA']], left_on='Numero_finess', right_on='FI_EJ',how='inner')
Images_fi_ej

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,FI_EJ,NB,EQUIPIMA
0,010008407,165054.798333,1,01,01283,102.0,7.0,010008407,1.0,IRM
1,010008407,165054.798333,1,01,01283,102.0,7.0,010008407,3.0,RADIO
2,010008407,165054.798333,1,01,01283,102.0,7.0,010008407,1.0,SCAN
3,010780054,787929.068333,1,01,01451,369.0,12.0,010780054,2.0,IRM
4,010780054,787929.068333,1,01,01451,369.0,12.0,010780054,1.0,MAMM
...,...,...,...,...,...,...,...,...,...,...
2104,950015289,18313.888333,1,95,95355,26.0,0.0,950015289,1.0,RADIO
2105,970100202,5081.250000,1,9A,9A112,17.0,0.0,970100202,1.0,MAMM
2106,970100202,5081.250000,1,9A,9A112,17.0,0.0,970100202,1.0,RADIO
2107,970100202,5081.250000,1,9A,9A112,17.0,0.0,970100202,1.0,SCAN
2108,970202156,15541.460000,1,9B,9B217,40.0,0.0,970202156,1.0,RADIO

In [760]:
nb_par_groupe_fi_ej = Images_fi_ej[['Numero_finess','NB', 'EQUIPIMA']].groupby(['Numero_finess', 'EQUIPIMA']).mean()
nb_imagerie_fi_ej = nb_par_groupe_fi_ej.groupby('Numero_finess').sum()

In [761]:
nb_imagerie= pd.concat([nb_imagerie_fi, nb_imagerie_fi_ej])
nb_imagerie

                 NB
Numero_finess
010780195       7.0
020000360       3.0
030780548       4.0
030781116       1.0
060000528       9.0
...             ...
970302121       5.0
970305629       6.0
970408589      13.8
970421038       8.0
980500003       7.0

[783 rows x 1 columns]

In [762]:
Var_CTRL_Im = pd.merge(Var_CTRL,nb_imagerie, left_on='Numero_finess', right_on=nb_imagerie.index ,how='inner' )
Var_CTRL_Im

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,NB
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0
1,060780491,372410.435000,3,06,06123,128.0,14.0,10.0
2,060780947,174552.540000,3,06,06088,105.0,5.0,4.0
3,060791811,146432.633333,3,06,06088,91.0,2.0,2.0
4,060794013,238173.260000,3,06,06123,68.0,5.0,7.0
...,...,...,...,...,...,...,...,...
778,890000417,92778.473333,1,89,89206,72.0,0.0,4.0
779,920110053,62641.130000,1,92,92063,48.0,0.0,3.0
780,950015289,18313.888333,1,95,95355,26.0,0.0,2.5
781,970100202,5081.250000,1,9A,9A112,17.0,0.0,3.0
782,970202156,15541.460000,1,9B,9B217,40.0,0.0,1.0

In [763]:
Var_CTRL

    Numero_finess     Points_ISA  stjr dep COMINSEE  LIT_MCO  Capital_Bloc
0       060000528  356892.030000     3  06    06088    128.0           8.0
1       060780491  372410.435000     3  06    06123    128.0          14.0
2       060780947  174552.540000     3  06    06088    105.0           5.0
3       060791811  146432.633333     3  06    06088     91.0           2.0
4       060794013  238173.260000     3  06    06123     68.0           5.0
..            ...            ...   ...  ..      ...      ...           ...
497     920110053   62641.130000     1  92    92063     48.0           0.0
507     950015289   18313.888333     1  95    95355     26.0           0.0
511     970100160    3433.260000     1  9A    9A123     10.0           0.0
514     970100202    5081.250000     1  9A    9A112     17.0           0.0
516     970202156   15541.460000     1  9B    9B217     40.0           0.0

[1193 rows x 7 columns]

In [764]:
list2= Var_CTRL.Numero_finess.unique()
list1 = Var_CTRL_Im.Numero_finess.unique()
res = [value for value in list2 if value not in list1]
res

['080010465',
 '080010473',
 '250011848',
 '330060658',
 '350000139',
 '370013286',
 '380012658',
 '390780575',
 '420010050',
 '470016049',
 '520004680',
 '520004714',
 '590052056',
 '590785374',
 '600100168',
 '640016580',
 '660006305',
 '670020098',
 '670780212',
 '680000320',
 '680020088',
 '690000427',
 '690041132',
 '690780416',
 '730012499',
 '750150013',
 '750150260',
 '750300667',
 '770020477',
 '920000643',
 '930150032',
 '010007300',
 '010780203',
 '020010047',
 '030785430',
 '040780470',
 '050000090',
 '060021417',
 '060780517',
 '060785219',
 '060800166',
 '070780168',
 '100000082',
 '100000157',
 '110780483',
 '130008253',
 '130044753',
 '130781289',
 '130781370',
 '130781867',
 '140000290',
 '140016759',
 '140018730',
 '140026709',
 '160000279',
 '160013207',
 '170780613',
 '170780647',
 '170780662',
 '180004145',
 '190000257',
 '210011847',
 '220005599',
 '220022800',
 '230780157',
 '240000190',
 '240000208',
 '240000216',
 '260000260',
 '280505777',
 '290004142',
 '2B0000079',
 '300002508',
 '300017498',
 '300788502',
 '310782016',
 '330780040',
 '330780081',
 '330780115',
 '330780206',
 '330780255',
 '330780271',
 '330780487',
 '330780511',
 '340015965',
 '340780139',
 '340780717',
 '340780725',
 '350000121',
 '350000196',
 '350005146',
 '360000129',
 '370000051',
 '380013037',
 '380785956',
 '390780559',
 '400780342',
 '400780359',
 '410004998',
 '420782310',
 '420782591',
 '430000109',
 '440000404',
 '440000412',
 '440000487',
 '440000651',
 '440002020',
 '440024982',
 '440033819',
 '450000237',
 '450010079',
 '450012968',
 '490000262',
 '490002037',
 '490007929',
 '490014909',
 '490015906',
 '500000203',
 '500000401',
 '510000227',
 '510000243',
 '510024979',
 '520780180',
 '540000445',
 '540000452',
 '540000486',
 '540013224',
 '550000178',
 '560008799',
 '580780138',
 '590008041',
 '590780060',
 '590780342',
 '590780383',
 '590781951',
 '590782298',
 '590813176',
 '590813382',
 '590815056',
 '600008643',
 '600010862',
 '600100184',
 '610006421',
 '620100099',
 '620100750',
 '620106088',
 '620116046',
 '640018206',
 '640019220',
 '640780268',
 '640780748',
 '640780987',
 '640781225',
 '660780669',
 '660780776',
 '660780784',
 '660790387',
 '670013325',
 '670013341',
 '670780386',
 '690022959',
 '690023411',
 '690029186',
 '690041124',
 '690043476',
 '690780226',
 '690780259',
 '690780358',
 '690780366',
 '690780390',
 '690780648',
 '690780655',
 '690780663',
 '700780174',
 '710006859',
 '710780917',
 '710781410',
 '710781824',
 '720000199',
 '720000231',
 '720017748',
 '740014345',
 '750300014',
 '750300550',
 '750300840',
 '750300931',
 '750301145',
 '750301160',
 '750790164',
 '760025312',
 '760780619',
 '760780668',
 '760780783',
 '760780791',
 '760780825',
 '760921809',
 '770300143',
 '770300192',
 '770300275',
 '770813400',
 '780018727',
 '780300125',
 '780300364',
 '780300414',
 '800002503',
 '800009466',
 '800013179',
 '800018491',
 '810101170',
 '810101444',
 '820000040',
 '820000065',
 '830100327',
 '830100368',
 '830100418',
 '830100434',
 '830100475',
 '840000400',
 '840000467',
 '840013445',
 '840017172',
 '850000118',
 '850000126',
 '850000134',
 '860780311',
 '860780568',
 '890000169',
 '890002389',
 '900000035',
 '910300011',
 '920300183',
 '920300415',
 '920300712',
 '930300116',
 '930300298',
 '930300587',
 '930300645',
 '940006679',
 '940300379',
 '940300445',
 '940300494',
 '940300551',
 '940300569',
 '950300095',
 '950300202',
 '950300244',
 '950300277',
 '970462073',
 '970466751',
 '140026279',
 '590781621',
 '770110054',
 '840000046',
 '840019053',
 '850000035',
 '920009909',
 '970403606',
 '130045263',
 '130781255',
 '130783152',
 '130784226',
 '130811102',
 '140000340',
 '220000236',
 '330000217',
 '330780370',
 '350000071',
 '350000204',
 '350005021',
 '400000261',
 '420000192',
 '450000336',
 '490000700',
 '490004256',
 '540000072',
 '540000395',
 '560002974',
 '570000026',
 '570000166',
 '570000455',
 '590049565',
 '670014042',
 '670797539',
 '750055287',
 '750150146',
 '750150187',
 '750150286',
 '750150377',
 '780150033',
 '910150010',
 '910500040',
 '920300845',
 '940000656',
 '950630012',
 '130002694',
 '130789159',
 '2B0005664',
 '310021571',
 '330780354',
 '360002232',
 '430007450',
 '460006075',
 '520780214',
 '590780094',
 '590782256',
 '640781308',
 '690042080',
 '690791082',
 '720000249',
 '780022737',
 '910300326',
 '950300152',
 '950300301',
 '970100137',
 '970404109',
 '970405411',
 '010009132',
 '020000048',
 '020000055',
 '020000071',
 '030002158',
 '070005558',
 '070007927',
 '110780707',
 '160000121',
 '160000519',
 '210780631',
 '220021968',
 '230780074',
 '240000067',
 '240000075',
 '240000083',
 '240000109',
 '250000221',
 '250000239',
 '280000225',
 '290000108',
 '290000116',
 '2A0000386',
 '300780079',
 '300780087',
 '310786256',
 '320004310',
 '320780158',
 '320780174',
 '320780182',
 '320780208',
 '340009893',
 '340780451',
 '340780535',
 '340780543',
 '350000089',
 '350002291',
 '350002317',
 '350048518',
 '360000061',
 '370002701',
 '370004327',
 '400780268',
 '430000059',
 '430000067',
 '430000091',
 '440041531',
 '450000096',
 '450000153',
 '450000161',
 '460780430',
 '470000381',
 '480780121',
 '480780154',
 '490000395',
 '490000403',
 '490007689',
 '490015765',
 '500000039',
 '500000062',
 '520780040',
 '520780057',
 '530000058',
 '530000066',
 '530007202',
 '540000056',
 '560000085',
 '560000259',
 '570000141',
 '570000497',
 '580780088',
 '630781367',
 '640780862',
 '660780271',
 '680001179',
 '690031455',
 '690043237',
 '690780069',
 '690782230',
 '690782248',
 '710780214',
 '710781089',
 '710781360',
 '710781568',
 '710781592',
 '740781190',
 '760780254',
 '790019491',
 '810000398',
 '840000079',
 '870014503',
 '880780325',
 '890000433',
 '970100160']

In [765]:
res == res24

False

Ce ne sont pas exactement les memes établissements qui n'ont pas de bloc opératoire et pas d'équipement d'imagerie.

In [766]:
fi_ss_imagerie = Var_CTRL.loc[Var_CTRL.Numero_finess.isin(res)]
# On établie à 0 le nombre de salle : 
fi_ss_imagerie['NB'] = 0
fi_ss_imagerie

<ipython-input-766-d58d98cf81ce>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fi_ss_imagerie['NB'] = 0

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,NB
6,080010465,4938.370000,3,08,08409,0.000000,2.0,0
7,080010473,118109.733333,3,08,08105,76.000000,7.0,0
20,250011848,233597.895000,3,25,25056,103.000000,13.0,0
29,330060658,65560.425000,3,33,33243,35.000000,7.0,0
36,350000139,291201.275000,3,35,35238,143.000000,15.0,0
...,...,...,...,...,...,...,...,...
459,840000079,5098.133333,1,84,84054,8.000000,0.0,0
477,870014503,22991.543333,1,87,87089,15.666667,0.0,0
483,880780325,2339.030000,1,88,88181,8.000000,0.0,0
487,890000433,39747.000000,1,89,89418,50.000000,0.0,0
511,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0

In [767]:
Var_CTRL = pd.concat([Var_CTRL_Im,fi_ss_imagerie])
Var_CTRL= Var_CTRL.rename(columns={'NB' : 'Capital_imagerie'})

In [768]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie
0,060000528,356892.030000,3,06,06088,128.000000,8.0,9.0
1,060780491,372410.435000,3,06,06123,128.000000,14.0,10.0
2,060780947,174552.540000,3,06,06088,105.000000,5.0,4.0
3,060791811,146432.633333,3,06,06088,91.000000,2.0,2.0
4,060794013,238173.260000,3,06,06123,68.000000,5.0,7.0
...,...,...,...,...,...,...,...,...
459,840000079,5098.133333,1,84,84054,8.000000,0.0,0.0
477,870014503,22991.543333,1,87,87089,15.666667,0.0,0.0
483,880780325,2339.030000,1,88,88181,8.000000,0.0,0.0
487,890000433,39747.000000,1,89,89418,50.000000,0.0,0.0
511,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0.0

#### BIO

La variable BIO_B2 est l'activité produite pour des patients pris en charge par l'entité juridique (y compris les consultations externes et passages aux urgences sans hospitalisation), en nombre d'examens. Cela permet d'avoir une idée des ressources engagés dans les examens biologiques

In [769]:
BIO[['FI','FI_EJ','BIO_B2']]

            FI      FI_EJ     BIO_B2
0    010000024  010780054   954696.0
1    010005239  010008407   265742.0
2    020000162  020000063  1492636.0
3    020000394  020000253   984982.0
4    020000519  020000261   771938.0
..         ...        ...        ...
396  970300083  970302121   102225.0
397  970400024  970408589  1434783.0
398  970400057  970408589  1765696.0
399  970400065  970421038   895633.0
400  980500011  980500003  1574514.0

[401 rows x 3 columns]

In [770]:
bio_fi = pd.merge(Var_CTRL,BIO[['FI','BIO_B2']], left_on='Numero_finess', right_on='FI',how='inner'  )
bio_fi_ej = pd.merge(Var_CTRL,BIO[['FI_EJ','BIO_B2']], left_on='Numero_finess', right_on='FI_EJ',how='inner'  )

In [771]:
bio_fi_ej

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,FI_EJ,BIO_B2
0,010008407,165054.798333,1,01,01283,102.0,7.0,5.0,010008407,265742.0
1,010780054,787929.068333,1,01,01451,369.0,12.0,10.0,010780054,954696.0
2,020000063,867100.583333,1,02,02691,395.0,19.0,12.0,020000063,1492636.0
3,020000253,321834.750000,1,02,02408,183.0,6.0,6.0,020000253,984982.0
4,020000261,533474.643333,1,02,02722,271.0,8.0,9.0,020000261,771938.0
...,...,...,...,...,...,...,...,...,...,...
328,850000035,158046.038333,1,85,85092,124.0,2.0,0.0,850000035,240534.0
329,920009909,358944.708333,1,92,92064,100.5,5.0,0.0,920009909,602099.0
330,450000096,139867.888333,1,45,45155,114.0,0.0,0.0,450000096,197398.0
331,520780057,88997.565000,1,52,52269,71.0,0.0,0.0,520780057,204872.0
332,890000433,39747.000000,1,89,89418,50.0,0.0,0.0,890000433,143138.0

In [772]:
# On fait la moyenne pour les doublons de FI_EJ : 
moy_fi_ej = bio_fi_ej[['Numero_finess','BIO_B2']].groupby('Numero_finess').mean()
# On supprimer dans la base
bio_fi_ej.drop_duplicates(subset ='Numero_finess', keep = 'first', inplace=True)
bio_fi_ej= bio_fi_ej.drop(['BIO_B2'], axis=1)
# On ajoute les bonne valeur 
bio_fi_ej_final = pd.merge(bio_fi_ej,moy_fi_ej, left_on='Numero_finess', right_on=moy_fi_ej.index)

In [773]:
# On concat les fi et fi_ej 
Var_CTRL_bio = pd.concat([bio_fi,bio_fi_ej_final])

In [774]:
Var_CTRL_bio

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,FI,BIO_B2,FI_EJ
0,060000528,3.568920e+05,3,06,06088,128.0,8.0,9.0,060000528,909.0,NaN
1,130001647,8.547880e+05,3,13,13055,271.0,12.0,13.0,130001647,16870.0,NaN
2,130783665,6.971615e+04,3,13,13055,49.0,5.0,6.0,130783665,71043.0,NaN
3,130785652,1.618811e+06,3,13,13055,678.0,29.0,14.0,130785652,341422.0,NaN
4,130786742,2.939701e+05,1,13,13055,132.0,8.0,8.0,130786742,596640.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
262,850000035,1.580460e+05,1,85,85092,124.0,2.0,0.0,NaN,240534.0,850000035
263,920009909,3.589447e+05,1,92,92064,100.5,5.0,0.0,NaN,602099.0,920009909
264,450000096,1.398679e+05,1,45,45155,114.0,0.0,0.0,NaN,197398.0,450000096
265,520780057,8.899756e+04,1,52,52269,71.0,0.0,0.0,NaN,204872.0,520780057
266,890000433,3.974700e+04,1,89,89418,50.0,0.0,0.0,NaN,143138.0,890000433

In [775]:
liste1 = Var_CTRL_bio.Numero_finess.unique()
liste2 = Var_CTRL.Numero_finess.unique()
res_bio = [value for value in liste2 if value not in liste1]
res_bio

['060780491',
 '060780947',
 '060791811',
 '060794013',
 '070000096',
 '100010818',
 '130042096',
 '130043664',
 '130786445',
 '140002452',
 '230780082',
 '260000195',
 '310781067',
 '330000332',
 '330000340',
 '330780495',
 '330780529',
 '330780537',
 '340780642',
 '350002192',
 '380780197',
 '440029338',
 '440050433',
 '540001096',
 '560000184',
 '560002933',
 '560029068',
 '570000216',
 '570000596',
 '570000950',
 '570001057',
 '590001749',
 '620000026',
 '620003376',
 '620025346',
 '640780557',
 '670000033',
 '670000215',
 '670018068',
 '670780188',
 '670780378',
 '670798636',
 '680001195',
 '690780093',
 '690793468',
 '710978347',
 '720000389',
 '750150237',
 '750150252',
 '750300097',
 '750300121',
 '830200523',
 '840000350',
 '010780195',
 '020000360',
 '030780548',
 '030781116',
 '060780442',
 '060780590',
 '060780715',
 '060780723',
 '060780756',
 '060781200',
 '070780424',
 '100000124',
 '110780228',
 '130037922',
 '130041767',
 '130782071',
 '130782162',
 '130782675',
 '130783327',
 '130783723',
 '130784051',
 '130784713',
 '130784903',
 '130785389',
 '130785678',
 '130786361',
 '130810740',
 '140017237',
 '150780732',
 '160000170',
 '170780563',
 '170780621',
 '180000358',
 '190000224',
 '210012670',
 '210780789',
 '220000111',
 '250000270',
 '260003017',
 '260006267',
 '270000326',
 '270000862',
 '290000140',
 '290000207',
 '290000215',
 '290019777',
 '290023431',
 '2A0000139',
 '2A0000154',
 '2B0000392',
 '300780137',
 '300780152',
 '300781465',
 '310026083',
 '310026927',
 '310780150',
 '310780259',
 '310780283',
 '310780366',
 '310780382',
 '310781000',
 '310781505',
 '320780067',
 '330780263',
 '330780479',
 '330780503',
 '330781402',
 '330782582',
 '340009885',
 '340780147',
 '340780154',
 '340780568',
 '340780634',
 '340780667',
 '340780741',
 '370000085',
 '370000093',
 '370007569',
 '380020123',
 '400782769',
 '410000202',
 '420780504',
 '440029379',
 '440041580',
 '450000245',
 '450000294',
 '470000027',
 '490540440',
 '500000146',
 '510000185',
 '510012040',
 '530031962',
 '540000361',
 '540000478',
 '560007510',
 '570000083',
 '570000356',
 '570000364',
 '570000646',
 '580780195',
 '590006896',
 '590780250',
 '590780268',
 '590781571',
 '590782546',
 '590782553',
 '590788964',
 '590790655',
 '590816310',
 '590817458',
 '600100754',
 '600110175',
 '620006049',
 '620100487',
 '620100735',
 '620101311',
 '620101501',
 '620118513',
 '630780211',
 '630781839',
 '640780490',
 '640780938',
 '640780946',
 '650002579',
 '650780679',
 '660780628',
 '670780170',
 '690023239',
 '730004298',
 '740780416',
 '740780424',
 '750300071',
 '750300089',
 '750300139',
 '750300154',
 '750300360',
 '750300410',
 '750300493',
 '750300592',
 '750300741',
 '750300766',
 '750300774',
 '750300857',
 '750300881',
 '750300915',
 '750301137',
 '760021329',
 '760027292',
 '760780205',
 '760780510',
 '770300010',
 '770300135',
 '770790707',
 '780300075',
 '780300208',
 '780300323',
 '780300406',
 '780300422',
 '780300455',
 '790009948',
 '800009920',
 '800015729',
 '810000224',
 '820000057',
 '830100103',
 '830100251',
 '830100319',
 '830100392',
 '830100459',
 '840000285',
 '840000327',
 '840013312',
 '870000288',
 '870000411',
 '880788591',
 '910300177',
 '910300300',
 '910300359',
 '910803543',
 '910805357',
 '920300043',
 '920300191',
 '920300365',
 '920300597',
 '920300753',
 '920300761',
 '920300837',
 '920300936',
 '930300025',
 '930300066',
 '930300082',
 '930300264',
 '930300553',
 '930300595',
 '940300031',
 '940300270',
 '940813033',
 '950032714',
 '950300350',
 '970100012',
 '970100020',
 '970107249',
 '970202313',
 '970202321',
 '970302055',
 '970404844',
 '970462024',
 '970462081',
 '970462107',
 '010780062',
 '020000287',
 '040780215',
 '040788879',
 '060791761',
 '080000037',
 '080001969',
 '090781816',
 '150780088',
 '150780468',
 '160000493',
 '160014411',
 '170780050',
 '170780167',
 '170780175',
 '170780191',
 '180000069',
 '190000075',
 '220000046',
 '230780058',
 '240000448',
 '260000054',
 '270000060',
 '270000102',
 '280000589',
 '330781220',
 '350000048',
 '350000055',
 '360000053',
 '370000564',
 '370000606',
 '370000614',
 '380780031',
 '380780056',
 '380780171',
 '380784751',
 '410000103',
 '420002495',
 '420013492',
 '430000034',
 '440000313',
 '440053643',
 '460780083',
 '510000078',
 '520780073',
 '530000025',
 '530000074',
 '530000371',
 '540000049',
 '540000080',
 '540000106',
 '550003354',
 '560000044',
 '590781662',
 '590782165',
 '590782652',
 '600100648',
 '610780074',
 '610780090',
 '630780997',
 '630781003',
 '630781029',
 '640017638',
 '640780813',
 '650780174',
 '680001005',
 '690780036',
 '690780044',
 '690782271',
 '710780644',
 '710781451',
 '720006022',
 '730002839',
 '730780103',
 '730780525',
 '740781208',
 '740790258',
 '760780262',
 '760780734',
 '760780742',
 '780024113',
 '810000455',
 '820004950',
 '830100533',
 '830100590',
 '840000012',
 '840004659',
 '850000084',
 '870000023',
 '870000031',
 '890000409',
 '940016819',
 '970100186',
 '970305629',
 '290000975',
 '330781139',
 '340000025',
 '340781608',
 '350000063',
 '350002200',
 '540001104',
 '570000562',
 '570001099',
 '570003079',
 '570009670',
 '620003350',
 '660009689',
 '670017458',
 '680000882',
 '690000245',
 '740780192',
 '750150344',
 '780150066',
 '780630026',
 '810000448',
 '910150028',
 '910150069',
 '950000406',
 '150780120',
 '280000449',
 '310781695',
 '590806360',
 '590817839',
 '620105940',
 '630781821',
 '640780623',
 '640780672',
 '760783159',
 '830100855',
 '910015965',
 '910300029',
 '920300266',
 '940300163',
 '940300452',
 '970102596',
 '970103099',
 '010780096',
 '020000022',
 '020004495',
 '050000124',
 '070780366',
 '070780374',
 '110780087',
 '130001928',
 '150780500',
 '160000485',
 '170780266',
 '220005045',
 '230780066',
 '260000104',
 '2B0004246',
 '2B0005342',
 '300781010',
 '320780133',
 '330781212',
 '330781261',
 '340780519',
 '360000046',
 '380780023',
 '380780072',
 '380780213',
 '390780153',
 '410000095',
 '410000111',
 '460780091',
 '480780162',
 '500000096',
 '500000393',
 '510000102',
 '520780024',
 '550000046',
 '570000430',
 '580780047',
 '580780070',
 '580781136',
 '590781670',
 '590781795',
 '590782439',
 '590782645',
 '600100572',
 '610780140',
 '610790594',
 '650780166',
 '670780584',
 '680000411',
 '690782925',
 '720000066',
 '720000140',
 '750810798',
 '760780056',
 '760780064',
 '780021788',
 '780130027',
 '800000036',
 '800000077',
 '810000349',
 '840000111',
 '840000129',
 '850025867',
 '870014248',
 '880780069',
 '920110053',
 '950015289',
 '970202156',
 '080010465',
 '080010473',
 '250011848',
 '330060658',
 '350000139',
 '370013286',
 '390780575',
 '420010050',
 '470016049',
 '520004680',
 '520004714',
 '590052056',
 '590785374',
 '600100168',
 '640016580',
 '660006305',
 '670020098',
 '670780212',
 '680000320',
 '680020088',
 '690000427',
 '690041132',
 '690780416',
 '730012499',
 '750150013',
 '750150260',
 '750300667',
 '770020477',
 '920000643',
 '930150032',
 '010007300',
 '010780203',
 '020010047',
 '030785430',
 '040780470',
 '050000090',
 '060021417',
 '060780517',
 '060785219',
 '060800166',
 '070780168',
 '100000082',
 '100000157',
 '110780483',
 '130008253',
 '130044753',
 '130781289',
 '130781370',
 '130781867',
 '140000290',
 '140016759',
 '140018730',
 '140026709',
 '160000279',
 '160013207',
 '170780613',
 '170780647',
 '170780662',
 '180004145',
 '190000257',
 '210011847',
 '220005599',
 '220022800',
 '230780157',
 '240000190',
 '240000208',
 '240000216',
 '260000260',
 '280505777',
 '290004142',
 '2B0000079',
 '300002508',
 '300017498',
 '300788502',
 '310782016',
 '330780040',
 '330780081',
 '330780115',
 '330780206',
 '330780255',
 '330780271',
 '330780487',
 '330780511',
 '340015965',
 '340780139',
 '340780717',
 '340780725',
 '350000121',
 '350000196',
 '350005146',
 '360000129',
 '370000051',
 '380013037',
 '380785956',
 '390780559',
 '400780342',
 '410004998',
 '420782310',
 '420782591',
 '430000109',
 '440000404',
 '440000412',
 '440000487',
 '440000651',
 '440002020',
 '440024982',
 '440033819',
 '450000237',
 '450010079',
 '450012968',
 '490000262',
 '490002037',
 '490007929',
 '490014909',
 '490015906',
 '500000203',
 '500000401',
 '510000227',
 '510000243',
 '510024979',
 '520780180',
 '540000445',
 '540000452',
 '540000486',
 '540013224',
 '550000178',
 '560008799',
 '580780138',
 '590008041',
 '590780060',
 '590780342',
 '590780383',
 '590781951',
 '590782298',
 '590813176',
 '590813382',
 '590815056',
 '600008643',
 '600010862',
 '600100184',
 '610006421',
 '620100099',
 '620100750',
 '620106088',
 '620116046',
 '640018206',
 '640019220',
 '640780268',
 '640780748',
 '640780987',
 '640781225',
 '660780669',
 '660780776',
 '660780784',
 '660790387',
 '670013325',
 '670013341',
 '670780386',
 '690022959',
 '690023411',
 '690029186',
 '690041124',
 '690043476',
 '690780226',
 '690780259',
 '690780358',
 '690780366',
 '690780390',
 '690780648',
 '690780655',
 '690780663',
 '700780174',
 '710006859',
 '710780917',
 '710781410',
 '710781824',
 '720000199',
 '720000231',
 '720017748',
 '740014345',
 '750300014',
 '750300550',
 '750300840',
 '750300931',
 '750301145',
 '750301160',
 '750790164',
 '760025312',
 '760780619',
 '760780668',
 '760780783',
 '760780791',
 '760780825',
 '760921809',
 '770300143',
 '770300192',
 '770300275',
 '770813400',
 '780018727',
 '780300125',
 '780300364',
 '780300414',
 '800002503',
 '800009466',
 '800013179',
 '800018491',
 '810101170',
 '810101444',
 '820000040',
 '820000065',
 '830100327',
 '830100368',
 '830100418',
 '830100434',
 '830100475',
 '840000400',
 '840000467',
 '840013445',
 '840017172',
 '850000118',
 '850000126',
 '850000134',
 '860780311',
 '860780568',
 '890000169',
 '890002389',
 '900000035',
 '910300011',
 '920300183',
 '920300415',
 '920300712',
 '930300116',
 '930300298',
 '930300587',
 '930300645',
 '940006679',
 '940300379',
 '940300445',
 '940300494',
 '940300551',
 '940300569',
 '950300095',
 '950300202',
 '950300244',
 '950300277',
 '970462073',
 '970466751',
 '140026279',
 '590781621',
 '840000046',
 '840019053',
 '970403606',
 '130045263',
 '130781255',
 '130783152',
 '130784226',
 '130811102',
 '140000340',
 '220000236',
 '330000217',
 '330780370',
 '350000071',
 '350000204',
 '350005021',
 '400000261',
 '420000192',
 '450000336',
 '490000700',
 '490004256',
 '540000072',
 '540000395',
 '560002974',
 '570000026',
 '570000166',
 '570000455',
 '590049565',
 '670014042',
 '670797539',
 '750055287',
 '750150146',
 '750150187',
 '750150286',
 '750150377',
 '780150033',
 '910150010',
 '910500040',
 '920300845',
 '940000656',
 '950630012',
 '130002694',
 '130789159',
 '2B0005664',
 '310021571',
 '330780354',
 '360002232',
 '430007450',
 '460006075',
 '520780214',
 '590780094',
 '590782256',
 '640781308',
 '690042080',
 '690791082',
 '720000249',
 '780022737',
 '910300326',
 '950300152',
 '950300301',
 '970100137',
 '970404109',
 '970405411',
 '010009132',
 '020000048',
 '020000055',
 '020000071',
 '030002158',
 '070005558',
 '070007927',
 '110780707',
 '160000121',
 '160000519',
 '210780631',
 '220021968',
 '230780074',
 '240000067',
 '240000075',
 '240000083',
 '240000109',
 '250000221',
 '250000239',
 '280000225',
 '290000108',
 '290000116',
 '2A0000386',
 '300780079',
 '300780087',
 '310786256',
 '320004310',
 '320780158',
 '320780174',
 '320780182',
 '320780208',
 '340009893',
 '340780451',
 '340780535',
 '340780543',
 '350000089',
 '350002291',
 '350002317',
 '350048518',
 '360000061',
 '370002701',
 '370004327',
 '400780268',
 '430000059',
 '430000067',
 '430000091',
 '440041531',
 '450000153',
 '450000161',
 '460780430',
 '470000381',
 '480780121',
 '480780154',
 '490000395',
 '490000403',
 '490007689',
 '490015765',
 '500000039',
 '500000062',
 '520780040',
 '530000058',
 '530000066',
 '530007202',
 '540000056',
 '560000085',
 '560000259',
 '570000141',
 '570000497',
 '580780088',
 '630781367',
 '640780862',
 '660780271',
 '680001179',
 '690031455',
 '690043237',
 '690780069',
 '690782230',
 '690782248',
 '710780214',
 '710781089',
 '710781360',
 '710781568',
 '710781592',
 '740781190',
 '760780254',
 '790019491',
 '810000398',
 '840000079',
 '870014503',
 '880780325',
 '970100160']

In [776]:
fi_ss_bio = Var_CTRL.loc[Var_CTRL.Numero_finess.isin(res_bio)]
# On établie à 0 le nombre de salle : 
fi_ss_bio['BIO_B2'] = 0
fi_ss_bio

<ipython-input-776-a399fbe181b8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fi_ss_bio['BIO_B2'] = 0

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,BIO_B2
1,060780491,372410.435000,3,06,06123,128.000000,14.0,10.0,0
2,060780947,174552.540000,3,06,06088,105.000000,5.0,4.0,0
3,060791811,146432.633333,3,06,06088,91.000000,2.0,2.0,0
4,060794013,238173.260000,3,06,06123,68.000000,5.0,7.0,0
5,070000096,1562.320000,3,07,07204,8.000000,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...
447,810000398,5098.133333,1,81,81105,18.000000,0.0,0.0,0
459,840000079,5098.133333,1,84,84054,8.000000,0.0,0.0,0
477,870014503,22991.543333,1,87,87089,15.666667,0.0,0.0,0
483,880780325,2339.030000,1,88,88181,8.000000,0.0,0.0,0
511,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0.0,0

In [777]:
Var_CTRL = pd.concat([Var_CTRL_bio,fi_ss_bio])
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,FI,BIO_B2,FI_EJ
0,060000528,3.568920e+05,3,06,06088,128.000000,8.0,9.0,060000528,909.0,NaN
1,130001647,8.547880e+05,3,13,13055,271.000000,12.0,13.0,130001647,16870.0,NaN
2,130783665,6.971615e+04,3,13,13055,49.000000,5.0,6.0,130783665,71043.0,NaN
3,130785652,1.618811e+06,3,13,13055,678.000000,29.0,14.0,130785652,341422.0,NaN
4,130786742,2.939701e+05,1,13,13055,132.000000,8.0,8.0,130786742,596640.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
447,810000398,5.098133e+03,1,81,81105,18.000000,0.0,0.0,NaN,0.0,NaN
459,840000079,5.098133e+03,1,84,84054,8.000000,0.0,0.0,NaN,0.0,NaN
477,870014503,2.299154e+04,1,87,87089,15.666667,0.0,0.0,NaN,0.0,NaN
483,880780325,2.339030e+03,1,88,88181,8.000000,0.0,0.0,NaN,0.0,NaN
511,970100160,3.433260e+03,1,9A,9A123,10.000000,0.0,0.0,NaN,0.0,NaN

In [778]:
Var_CTRL = pd.concat([Var_CTRL_bio,fi_ss_bio])
Var_CTRL= Var_CTRL.rename(columns={'BIO_B2' : 'Capital_Examens_biologiques'})
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'], axis=1)

#### TELEMED

In [779]:
TELEMED

,BOR,AN,FI,FI_EJ,TELEMED_A1,TELEMED_A20,TELEMED_A21,TELEMED_A22,TELEMED_B1,TELEMED_B20,...,TELEMED_A29,TELEMED_A30,TELEMED_A31,TELEMED_A32,TELEMED_A33,TELEMED_A34,TELEMED_A35,TELEMED_A36,TELEMED_A37,TELEMED_A38
0,TELEMED,2019,010000024,010780054,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,TELEMED,2019,010000081,010780112,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,TELEMED,2019,010000214,010007987,0.0,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TELEMED,2019,010000495,010783009,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TELEMED,2019,010006526,690796552,1.0,1.0,0.0,0.0,0.0,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,TELEMED,2019,970405676,970463592,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,TELEMED,2019,970407151,970463592,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,TELEMED,2019,970409991,970463592,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
828,TELEMED,2019,970410163,970463592,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,TELEMED,2019,980500011,980500003,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

On se concentre tout d'abord sur les équipements dédiés à la télémedecine. Ils sont représentés par les variable TELEMED_A26 jusque TELEMED_A38

In [780]:
TELEMED[['FI','FI_EJ','TELEMED_A26','TELEMED_A27','TELEMED_A28','TELEMED_A29','TELEMED_A30','TELEMED_A31','TELEMED_A32','TELEMED_A33','TELEMED_A34','TELEMED_A35','TELEMED_A36','TELEMED_A37','TELEMED_A38']]

,FI,FI_EJ,TELEMED_A26,TELEMED_A27,TELEMED_A28,TELEMED_A29,TELEMED_A30,TELEMED_A31,TELEMED_A32,TELEMED_A33,TELEMED_A34,TELEMED_A35,TELEMED_A36,TELEMED_A37,TELEMED_A38
0,010000024,010780054,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,010000081,010780112,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,010000214,010007987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,010000495,010783009,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,010006526,690796552,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,970405676,970463592,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,970407151,970463592,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,970409991,970463592,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
828,970410163,970463592,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,980500011,980500003,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [781]:
TELEMED['Capital_telemed']=TELEMED[['TELEMED_A26','TELEMED_A27','TELEMED_A28','TELEMED_A29','TELEMED_A30','TELEMED_A31','TELEMED_A32','TELEMED_A33','TELEMED_A34','TELEMED_A35','TELEMED_A36','TELEMED_A37','TELEMED_A38']].sum(axis=1)

In [782]:
TELEMED_1 = TELEMED[['FI','FI_EJ','Capital_telemed']]
TELEMED_1

            FI      FI_EJ  Capital_telemed
0    010000024  010780054              2.0
1    010000081  010780112              2.0
2    010000214  010007987              0.0
3    010000495  010783009              2.0
4    010006526  690796552              1.0
..         ...        ...              ...
825  970405676  970463592              2.0
826  970407151  970463592              2.0
827  970409991  970463592              2.0
828  970410163  970463592              2.0
829  980500011  980500003              5.0

[830 rows x 3 columns]

In [783]:
TELEMED_1_fi = pd.merge(Var_CTRL,TELEMED_1,left_on='Numero_finess', right_on='FI',how='inner' )
TELEMED_1_fi

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,FI,FI_EJ,Capital_telemed
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,060000528,060780962,1.0
1,130001647,854787.985000,3,13,13055,271.0,12.0,13.0,16870.0,130001647,130784127,0.0
2,210987731,205661.893333,3,21,21231,131.0,8.0,11.0,280257.0,210987731,210780417,0.0
3,310782347,170147.100000,3,31,31555,94.0,10.0,8.0,435987.0,310782347,310789136,1.0
4,350002812,61024.268333,3,35,35238,54.0,4.0,9.0,140425.0,350002812,350023503,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
100,350000204,8416.853333,3,35,35085,15.0,0.0,0.0,0.0,350000204,350023248,2.0
101,750150146,82230.863333,3,75,75056,50.0,0.0,0.0,0.0,750150146,750720609,3.0
102,310021571,3751.130000,2,31,31555,14.0,0.0,0.0,0.0,310021571,310021563,1.0
103,360002232,11685.336667,2,36,36163,25.0,0.0,0.0,0.0,360002232,360000541,11.0
104,970100137,6071.620000,2,9A,9A112,15.0,0.0,0.0,0.0,970100137,970100368,3.0

In [784]:
TELEMED_1_fi_ej = pd.merge(Var_CTRL,TELEMED_1,left_on='Numero_finess', right_on='FI_EJ',how='inner' )
TELEMED_1_fi_ej

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,FI,FI_EJ,Capital_telemed
0,010780054,787929.068333,1,01,01451,369.000000,12.0,10.0,954696.0,010000024,010780054,2.0
1,020000063,867100.583333,1,02,02691,395.000000,19.0,12.0,1492636.0,020000162,020000063,4.0
2,020000261,533474.643333,1,02,02722,271.000000,8.0,9.0,771938.0,020000519,020000261,0.0
3,020004404,373304.290000,1,02,02168,168.000000,6.0,6.0,594902.0,020001061,020004404,1.0
4,030780092,554335.088333,1,03,03190,311.000000,7.0,9.0,714739.0,030000061,030780092,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
427,710781592,5098.133333,1,71,71073,20.000000,0.0,0.0,0.0,710978107,710781592,1.0
428,810000398,5098.133333,1,81,81105,18.000000,0.0,0.0,0.0,810000539,810000398,1.0
429,870014503,22991.543333,1,87,87089,15.666667,0.0,0.0,0.0,870001567,870014503,2.0
430,880780325,2339.030000,1,88,88181,8.000000,0.0,0.0,0.0,880000179,880780325,7.0
431,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0.0,0.0,970100384,970100160,2.0

In [785]:
# On fait la moyenne pour les doublons de FI_EJ : 
moy_fi_ej = TELEMED_1_fi_ej[['Numero_finess','Capital_telemed']].groupby('Numero_finess').mean()
# On supprimer dans la base
TELEMED_1_fi_ej.drop_duplicates(subset ='Numero_finess', keep = 'first', inplace=True)
TELEMED_1_fi_ej= TELEMED_1_fi_ej.drop(['Capital_telemed'], axis=1)
# On ajoute les bonne valeur 
TELEMED_1_fi_ej_final = pd.merge(TELEMED_1_fi_ej,moy_fi_ej, left_on='Numero_finess', right_on=moy_fi_ej.index)

In [786]:
TELEMED_1_fi_ej_final

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,FI,FI_EJ,Capital_telemed
0,010780054,787929.068333,1,01,01451,369.000000,12.0,10.0,954696.0,010000024,010780054,2.0
1,020000063,867100.583333,1,02,02691,395.000000,19.0,12.0,1492636.0,020000162,020000063,4.0
2,020000261,533474.643333,1,02,02722,271.000000,8.0,9.0,771938.0,020000519,020000261,0.0
3,020004404,373304.290000,1,02,02168,168.000000,6.0,6.0,594902.0,020001061,020004404,1.0
4,030780092,554335.088333,1,03,03190,311.000000,7.0,9.0,714739.0,030000061,030780092,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
317,710781592,5098.133333,1,71,71073,20.000000,0.0,0.0,0.0,710978107,710781592,1.0
318,810000398,5098.133333,1,81,81105,18.000000,0.0,0.0,0.0,810000539,810000398,1.0
319,870014503,22991.543333,1,87,87089,15.666667,0.0,0.0,0.0,870001567,870014503,2.0
320,880780325,2339.030000,1,88,88181,8.000000,0.0,0.0,0.0,880000179,880780325,7.0
321,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0.0,0.0,970100384,970100160,2.0

In [787]:
# On concat les fi et fi_ej 
Var_CTRL_TELEMED_1= pd.concat([TELEMED_1_fi,TELEMED_1_fi_ej_final])
Var_CTRL_TELEMED_1

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,FI,FI_EJ,Capital_telemed
0,060000528,356892.030000,3,06,06088,128.000000,8.0,9.0,909.0,060000528,060780962,1.0
1,130001647,854787.985000,3,13,13055,271.000000,12.0,13.0,16870.0,130001647,130784127,0.0
2,210987731,205661.893333,3,21,21231,131.000000,8.0,11.0,280257.0,210987731,210780417,0.0
3,310782347,170147.100000,3,31,31555,94.000000,10.0,8.0,435987.0,310782347,310789136,1.0
4,350002812,61024.268333,3,35,35238,54.000000,4.0,9.0,140425.0,350002812,350023503,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
317,710781592,5098.133333,1,71,71073,20.000000,0.0,0.0,0.0,710978107,710781592,1.0
318,810000398,5098.133333,1,81,81105,18.000000,0.0,0.0,0.0,810000539,810000398,1.0
319,870014503,22991.543333,1,87,87089,15.666667,0.0,0.0,0.0,870001567,870014503,2.0
320,880780325,2339.030000,1,88,88181,8.000000,0.0,0.0,0.0,880000179,880780325,7.0
321,970100160,3433.260000,1,9A,9A123,10.000000,0.0,0.0,0.0,970100384,970100160,2.0

In [788]:
# Identification des Finess manquants
list2 = Var_CTRL.Numero_finess.unique()
list1 = Var_CTRL_TELEMED_1.Numero_finess.unique()
res_telemed_1 = [value for value in list2 if value not in list1]

In [789]:
fi_ss_telemed_1 = Var_CTRL.loc[Var_CTRL.Numero_finess.isin(res_telemed_1)]
# On établie à 0 le nombre de salle : 
fi_ss_telemed_1['Capital_telemed'] = 0
fi_ss_telemed_1

<ipython-input-789-b654f2cda5f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fi_ss_telemed_1['Capital_telemed'] = 0

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed
2,130783665,6.971615e+04,3,13,13055,49.0,5.0,6.0,71043.0,0
3,130785652,1.618811e+06,3,13,13055,678.0,29.0,14.0,341422.0,0
4,130786742,2.939701e+05,1,13,13055,132.0,8.0,8.0,596640.0,0
5,140000555,2.549969e+05,3,14,14118,149.0,6.0,9.0,326554.0,0
7,290000728,1.410810e+05,1,29,29019,76.0,4.0,5.0,317951.0,0
...,...,...,...,...,...,...,...,...,...,...
391,710781568,1.555003e+04,1,71,71047,22.0,0.0,0.0,0.0,0
405,740781190,5.098133e+03,1,74,74284,20.0,0.0,0.0,0.0,0
417,760780254,3.318720e+03,1,76,76758,15.0,0.0,0.0,0.0,0
436,790019491,2.939968e+04,1,79,79270,16.0,0.0,0.0,0.0,0
459,840000079,5.098133e+03,1,84,84054,8.0,0.0,0.0,0.0,0

In [790]:
Var_CTRL = pd.concat([Var_CTRL_TELEMED_1,fi_ss_telemed_1])
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'], axis=1)

In [791]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0
1,130001647,854787.985000,3,13,13055,271.0,12.0,13.0,16870.0,0.0
2,210987731,205661.893333,3,21,21231,131.0,8.0,11.0,280257.0,0.0
3,310782347,170147.100000,3,31,31555,94.0,10.0,8.0,435987.0,1.0
4,350002812,61024.268333,3,35,35238,54.0,4.0,9.0,140425.0,2.0
...,...,...,...,...,...,...,...,...,...,...
391,710781568,15550.033333,1,71,71047,22.0,0.0,0.0,0.0,0.0
405,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0
417,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0
436,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0
459,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0

### Les médicaments ?

## Les séjours

### Nombre de séjours

In [792]:
MCO[['FI','FI_EJ','SEJHC_MED', 'SEJHC_CHI', 'SEJHC_OBS','SEJHC_MCO']]

             FI      FI_EJ  SEJHC_MED  SEJHC_CHI  SEJHC_OBS  SEJHC_MCO
0     010000024  010780054      13820       3937     3903.0      21660
1     010000032  010780062       3964        956      606.0       5526
2     010000065  010780096       2341          0        0.0       2341
3     010000099  010780120        135          0        0.0        135
4     010000107  010780138        164          0        0.0        164
...         ...        ...        ...        ...        ...        ...
1635  970462081  970400255        129       4013        0.0       4142
1636  970462107  970400305       8883       7205     2714.0      18802
1637  970466751  970400446          0          0        0.0          0
1638  980500011  980500003       7639       3712    12180.0      23531
1639  980500763  970407250          0          0        0.0          0

[1640 rows x 6 columns]

In [793]:
sejours_fi = pd.merge( Var_CTRL, MCO[['FI','SEJHC_MED', 'SEJHC_CHI', 'SEJHC_OBS','SEJHC_MCO']], left_on = 'Numero_finess', right_on = 'FI', how= 'inner' )
sejours_fi_ej = pd.merge( Var_CTRL, MCO[['FI_EJ','SEJHC_MED', 'SEJHC_CHI', 'SEJHC_OBS','SEJHC_MCO']], left_on = 'Numero_finess', right_on = 'FI_EJ', how= 'inner' )

In [794]:
sejours_fi_ej

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,FI_EJ,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO
0,010780054,787929.068333,1,01,01451,369.0,12.0,10.0,954696.0,2.0,010780054,13820,3937,3903.0,21660
1,020000063,867100.583333,1,02,02691,395.0,19.0,12.0,1492636.0,4.0,020000063,18527,4998,1862.0,25387
2,020000261,533474.643333,1,02,02722,271.0,8.0,9.0,771938.0,0.0,020000261,11452,1263,2247.0,14962
3,020004404,373304.290000,1,02,02168,168.0,6.0,6.0,594902.0,1.0,020004404,7894,1106,864.0,9864
4,030780092,554335.088333,1,03,03190,311.0,7.0,9.0,714739.0,4.0,030780092,9901,3409,1429.0,14739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0,740781190,322,0,0.0,322
744,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0,760780254,341,0,0.0,341
745,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,790019491,580,0,0.0,580
746,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,790019491,319,0,0.0,319
747,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0,840000079,122,0,0.0,122

In [795]:
sejours_fi_ej_unique= sejours_fi_ej.groupby('Numero_finess').mean()
sejours_fi_ej = sejours_fi_ej.drop(['SEJHC_MED','SEJHC_CHI', 'SEJHC_OBS','SEJHC_MCO'], axis=1)
sejours_fi_ej.drop_duplicates(subset= 'Numero_finess', keep = 'first', inplace=True)
sejours_fi_ej_final = pd.merge(sejours_fi_ej, sejours_fi_ej_unique[['SEJHC_MED','SEJHC_CHI','SEJHC_OBS','SEJHC_MCO']], left_on='Numero_finess', right_on=sejours_fi_ej_unique.index  )

In [796]:
sejours_fi_ej_final

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,FI_EJ,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO
0,010780054,787929.068333,1,01,01451,369.0,12.0,10.0,954696.0,2.0,010780054,13820.0,3937.0,3903.0,21660.0
1,020000063,867100.583333,1,02,02691,395.0,19.0,12.0,1492636.0,4.0,020000063,18527.0,4998.0,1862.0,25387.0
2,020000261,533474.643333,1,02,02722,271.0,8.0,9.0,771938.0,0.0,020000261,11452.0,1263.0,2247.0,14962.0
3,020004404,373304.290000,1,02,02168,168.0,6.0,6.0,594902.0,1.0,020004404,7894.0,1106.0,864.0,9864.0
4,030780092,554335.088333,1,03,03190,311.0,7.0,9.0,714739.0,4.0,030780092,9901.0,3409.0,1429.0,14739.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,710781568,15550.033333,1,71,71047,22.0,0.0,0.0,0.0,0.0,710781568,523.0,0.0,0.0,523.0
521,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0,740781190,322.0,0.0,0.0,322.0
522,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0,760780254,341.0,0.0,0.0,341.0
523,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,790019491,449.5,0.0,0.0,449.5
524,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0,840000079,122.0,0.0,0.0,122.0

In [797]:
Var_CTRL= pd.concat([sejours_fi, sejours_fi_ej_final])

In [798]:
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'],axis=1)

### Durée des séjours

In [799]:
MCO[['FI','FI_EJ','JOU_MED', 'JOU_CHI', 'JOU_OBS','JOU_MCO']]

             FI      FI_EJ  JOU_MED  JOU_CHI  JOU_OBS  JOU_MCO
0     010000024  010780054    86895    17803  12774.0   117472
1     010000032  010780062    19197     4679   1780.0    25656
2     010000065  010780096    19159        0      0.0    19159
3     010000099  010780120     1828        0      0.0     1828
4     010000107  010780138     1911        0      0.0     1911
...         ...        ...      ...      ...      ...      ...
1635  970462081  970400255      789     8797      0.0     9586
1636  970462107  970400305    32768    24049   9948.0    66765
1637  970466751  970400446        0        0      0.0        0
1638  980500011  980500003    64066    21254  43387.0   128707
1639  980500763  970407250        0        0      0.0        0

[1640 rows x 6 columns]

In [800]:
journ_fi = pd.merge( Var_CTRL, MCO[['FI','JOU_MED', 'JOU_CHI', 'JOU_OBS','JOU_MCO']], left_on = 'Numero_finess', right_on = 'FI', how= 'inner' )
journ_fi_ej = pd.merge( Var_CTRL, MCO[['FI_EJ','JOU_MED', 'JOU_CHI', 'JOU_OBS','JOU_MCO']], left_on = 'Numero_finess', right_on = 'FI_EJ', how= 'inner' )

In [801]:
journ_fi_ej_unique= journ_fi_ej.groupby('Numero_finess').mean()
journ_fi_ej = journ_fi_ej.drop(['SEJHC_MED','SEJHC_CHI', 'SEJHC_OBS','SEJHC_MCO'], axis=1)
journ_fi_ej.drop_duplicates(subset= 'Numero_finess', keep = 'first', inplace=True)
journ_fi_ej_final = pd.merge(journ_fi_ej, journ_fi_ej_unique[['SEJHC_MED','SEJHC_CHI','SEJHC_OBS','SEJHC_MCO']], left_on='Numero_finess', right_on=sejours_fi_ej_unique.index  )

In [802]:
journ_fi_ej_final

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,FI_EJ,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO
0,010780054,787929.068333,1,01,01451,369.0,12.0,10.0,954696.0,2.0,010780054,86895,17803,12774.0,117472,13820.0,3937.0,3903.0,21660.0
1,020000063,867100.583333,1,02,02691,395.0,19.0,12.0,1492636.0,4.0,020000063,96262,19544,6669.0,122475,18527.0,4998.0,1862.0,25387.0
2,020000261,533474.643333,1,02,02722,271.0,8.0,9.0,771938.0,0.0,020000261,61468,7088,6757.0,75313,11452.0,1263.0,2247.0,14962.0
3,020004404,373304.290000,1,02,02168,168.0,6.0,6.0,594902.0,1.0,020004404,41758,4348,3379.0,49485,7894.0,1106.0,864.0,9864.0
4,030780092,554335.088333,1,03,03190,311.0,7.0,9.0,714739.0,4.0,030780092,70435,17547,5496.0,93478,9901.0,3409.0,1429.0,14739.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,710781568,15550.033333,1,71,71047,22.0,0.0,0.0,0.0,0.0,710781568,6551,0,0.0,6551,523.0,0.0,0.0,523.0
521,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0,740781190,6228,0,0.0,6228,322.0,0.0,0.0,322.0
522,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0,760780254,5024,0,0.0,5024,341.0,0.0,0.0,341.0
523,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,790019491,6844,0,0.0,6844,449.5,0.0,0.0,449.5
524,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0,840000079,2426,0,0.0,2426,122.0,0.0,0.0,122.0

In [803]:
Var_CTRL= pd.concat([journ_fi, journ_fi_ej_final])
Var_CTRL= Var_CTRL.drop(['FI','FI_EJ'], axis=1)

In [804]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,4740.0,2280.0,0.0,7020.0,29622,5798,0.0,35420
1,130001647,854787.985000,3,13,13055,271.0,12.0,13.0,16870.0,0.0,11409.0,3819.0,0.0,15228.0,70521,16093,0.0,86614
2,210987731,205661.893333,3,21,21231,131.0,8.0,11.0,280257.0,0.0,8123.0,1704.0,0.0,9827.0,26405,6809,0.0,33214
3,310782347,170147.100000,3,31,31555,94.0,10.0,8.0,435987.0,1.0,3375.0,1876.0,0.0,5251.0,18902,9201,0.0,28103
4,350002812,61024.268333,3,35,35238,54.0,4.0,9.0,140425.0,2.0,1983.0,626.0,0.0,2609.0,10453,1402,0.0,11855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,710781568,15550.033333,1,71,71047,22.0,0.0,0.0,0.0,0.0,523.0,0.0,0.0,523.0,6551,0,0.0,6551
521,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0,322.0,0.0,0.0,322.0,6228,0,0.0,6228
522,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0,341.0,0.0,0.0,341.0,5024,0,0.0,5024
523,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,449.5,0.0,0.0,449.5,6844,0,0.0,6844
524,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0,122.0,0.0,0.0,122.0,2426,0,0.0,2426

### Taux de mortalité, réadmission

## Données géographiques :

## Taux de chomage par département

In [805]:
# Prétraitement de la base tx_chomage
tx_chomage = tx_chomage.rename(columns={"Taux de chômage localisés par sexe et âge en moyenne annuelle en 2019 : comparaisons départementales":"Code_Departement","Unnamed: 1":"Departement","Unnamed: 2":"Taux_chomage_par_dep"})
tx_chomage = tx_chomage[['Code_Departement','Departement', 'Taux_chomage_par_dep']]
tx_chomage.drop([0,1,2,99,100, 105,106, 107],0,inplace=True)
# On ajoute Mayotte qui n'est pas dans la base tx_chomage
tx_chomage.loc[105]=[ '976', 'Mayotte', '30' ]

In [806]:
tx_chomage

    Code_Departement              Departement Taux_chomage_par_dep
3                 01                      Ain                  6.1
4                 02                    Aisne                 11.8
5                 03                   Allier                  9.1
6                 04  Alpes-de-Haute-Provence                 10.3
7                 05             Hautes-Alpes                  7.9
..               ...                      ...                  ...
101              971               Guadeloupe                 20.5
102              972               Martinique                 14.9
103              973                   Guyane                 19.9
104              974               La Réunion                 21.3
105              976                  Mayotte                   30

[101 rows x 3 columns]

In [807]:
# On recode pour avoir des codes similaires ( notamment pour les DOM )
tx_chomage['Code_Departement']= tx_chomage['Code_Departement'].replace(['971', '972', '973','974','976'],['9A', '9B', '9C', '9D','9F'])

In [808]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,4740.0,2280.0,0.0,7020.0,29622,5798,0.0,35420
1,130001647,854787.985000,3,13,13055,271.0,12.0,13.0,16870.0,0.0,11409.0,3819.0,0.0,15228.0,70521,16093,0.0,86614
2,210987731,205661.893333,3,21,21231,131.0,8.0,11.0,280257.0,0.0,8123.0,1704.0,0.0,9827.0,26405,6809,0.0,33214
3,310782347,170147.100000,3,31,31555,94.0,10.0,8.0,435987.0,1.0,3375.0,1876.0,0.0,5251.0,18902,9201,0.0,28103
4,350002812,61024.268333,3,35,35238,54.0,4.0,9.0,140425.0,2.0,1983.0,626.0,0.0,2609.0,10453,1402,0.0,11855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,710781568,15550.033333,1,71,71047,22.0,0.0,0.0,0.0,0.0,523.0,0.0,0.0,523.0,6551,0,0.0,6551
521,740781190,5098.133333,1,74,74284,20.0,0.0,0.0,0.0,0.0,322.0,0.0,0.0,322.0,6228,0,0.0,6228
522,760780254,3318.720000,1,76,76758,15.0,0.0,0.0,0.0,0.0,341.0,0.0,0.0,341.0,5024,0,0.0,5024
523,790019491,29399.683333,1,79,79270,16.0,0.0,0.0,0.0,0.0,449.5,0.0,0.0,449.5,6844,0,0.0,6844
524,840000079,5098.133333,1,84,84054,8.0,0.0,0.0,0.0,0.0,122.0,0.0,0.0,122.0,2426,0,0.0,2426

In [809]:
Var_CTRL = pd.merge (Var_CTRL, tx_chomage, left_on='dep', right_on='Code_Departement',how='inner')
Var_CTRL= Var_CTRL.drop(['Code_Departement'], axis=1)

In [810]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,4740.0,2280.0,0.0,7020.0,29622,5798,0.0,35420,Alpes-Maritimes,8.9
1,060780491,372410.435000,3,06,06123,128.0,14.0,10.0,0.0,1.0,3480.0,4090.0,0.0,7570.0,19776,15788,0.0,35564,Alpes-Maritimes,8.9
2,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,7258.0,2496.0,0.0,9754.0,20964,5550,0.0,26514,Alpes-Maritimes,8.9
3,060794013,238173.260000,3,06,06123,68.0,5.0,7.0,0.0,0.0,2032.0,3049.0,0.0,5081.0,12836,6000,0.0,18836,Alpes-Maritimes,8.9
4,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,2558.0,0.0,0.0,2558.0,30208,0,0.0,30208,Alpes-Maritimes,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,480780097,240863.268333,1,48,48095,67.0,4.5,6.0,423436.0,1.0,2052.5,1155.0,392.0,3599.5,17798,8995,2869.0,29662,Lozère,5.3
1189,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,421.0,0.0,0.0,421.0,6448,0,0.0,6448,Lozère,5.3
1190,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,205.0,0.0,0.0,205.0,5961,0,0.0,5961,Lozère,5.3
1191,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,384.0,0.0,0.0,384.0,4692,0,0.0,4692,Lozère,5.3
1192,980500003,384239.250000,1,9F,9F611,364.0,6.0,7.0,1574514.0,5.0,7639.0,3712.0,12180.0,23531.0,64066,21254,43387.0,128707,Mayotte,30

### Parti politique par commune

In [811]:
# Prétraitement : 
presidentielles= presidentielles[['Code du département', 'Libellé du département', 'Code de la commune','Libellé de la commune', 'N°Panneau', 'Nom', 'Prénom']]
presidentielles

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom
0,1,Ain,1,L'Abergement-Clémenciat,2,LE PEN,Marine
1,1,Ain,2,L'Abergement-de-Varey,2,LE PEN,Marine
2,1,Ain,4,Ambérieu-en-Bugey,2,LE PEN,Marine
3,1,Ain,5,Ambérieux-en-Dombes,2,LE PEN,Marine
4,1,Ain,6,Ambléon,9,MÉLENCHON,Jean-Luc
...,...,...,...,...,...,...,...
35714,ZZ,Français établis hors de France,226,Wuhan,3,MACRON,Emmanuel
35715,ZZ,Français établis hors de France,227,Yaounde,3,MACRON,Emmanuel
35716,ZZ,Français établis hors de France,228,Zagreb,3,MACRON,Emmanuel
35717,ZZ,Français établis hors de France,229,Zurich,3,MACRON,Emmanuel
35718,ZZ,Français établis hors de France,231,Taipeh,3,MACRON,Emmanuel

In [812]:
presidentielles= presidentielles[['Code du département', 'Libellé du département', 'Code de la commune','Libellé de la commune', 'N°Panneau', 'Nom', 'Prénom']]
presidentielles = presidentielles.drop(presidentielles.loc[presidentielles['Code du département'].isin(['ZS','ZW','ZP','ZN','ZP', 'ZX','ZZ'])].index)

In [813]:
presidentielles

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom
0,1,Ain,1,L'Abergement-Clémenciat,2,LE PEN,Marine
1,1,Ain,2,L'Abergement-de-Varey,2,LE PEN,Marine
2,1,Ain,4,Ambérieu-en-Bugey,2,LE PEN,Marine
3,1,Ain,5,Ambérieux-en-Dombes,2,LE PEN,Marine
4,1,Ain,6,Ambléon,9,MÉLENCHON,Jean-Luc
...,...,...,...,...,...,...,...
35405,ZM,Mayotte,513,M'Tsangamouji,11,FILLON,François
35406,ZM,Mayotte,514,Ouangani,11,FILLON,François
35407,ZM,Mayotte,515,Pamandzi,2,LE PEN,Marine
35408,ZM,Mayotte,516,Sada,11,FILLON,François
35409,ZM,Mayotte,517,Tsingoni,11,FILLON,François

In [814]:
presidentielles['Code du département']= presidentielles['Code du département'].replace(['2A','2B', 'ZA', 'ZB', 'ZC', 'ZD', 'ZM'],['2A','2B', '9A', '9B', '9C', '9D', '9F'])

In [815]:
nom_parti = pd.DataFrame({"Nom": presidentielles['Nom'].unique(), 'Bloc_politique': ['Droite à extrême droite','Extrême gauche à gauche','Centre gauche à centre droit','Centre droit à droite' , 'Droite à extrême droite', 'Centre gauche à centre droit', 'Gauche à centre gauche', 'Droite à extrême droite', 'Extrême gauche à gauche'] })
nom_parti

             Nom                Bloc_politique
0         LE PEN       Droite à extrême droite
1      MÉLENCHON       Extrême gauche à gauche
2         MACRON  Centre gauche à centre droit
3         FILLON         Centre droit à droite
4  DUPONT-AIGNAN       Droite à extrême droite
5       LASSALLE  Centre gauche à centre droit
6          HAMON        Gauche à centre gauche
7     ASSELINEAU       Droite à extrême droite
8         POUTOU       Extrême gauche à gauche

In [816]:
parti_commune = pd.merge (presidentielles, nom_parti , left_on='Nom', right_on='Nom',how='inner')
parti_commune

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom,Bloc_politique
0,1,Ain,1,L'Abergement-Clémenciat,2,LE PEN,Marine,Droite à extrême droite
1,1,Ain,2,L'Abergement-de-Varey,2,LE PEN,Marine,Droite à extrême droite
2,1,Ain,4,Ambérieu-en-Bugey,2,LE PEN,Marine,Droite à extrême droite
3,1,Ain,5,Ambérieux-en-Dombes,2,LE PEN,Marine,Droite à extrême droite
4,1,Ain,7,Ambronay,2,LE PEN,Marine,Droite à extrême droite
...,...,...,...,...,...,...,...,...
35405,64,Pyrénées-Atlantiques,383,Mialos,4,HAMON,Benoît,Gauche à centre gauche
35406,65,Hautes-Pyrénées,277,Lombrès,4,HAMON,Benoît,Gauche à centre gauche
35407,9D,La Réunion,412,Saint-Joseph,4,HAMON,Benoît,Gauche à centre gauche
35408,11,Aude,377,Serres,10,ASSELINEAU,François,Droite à extrême droite
35409,64,Pyrénées-Atlantiques,340,Lichans-Sunhar,6,POUTOU,Philippe,Extrême gauche à gauche

In [817]:
parti_commune['Code de la commune'] =parti_commune['Code de la commune'].apply(str)
parti_commune['Code de la commune'] =parti_commune['Code de la commune'].str.zfill(3)
parti_commune['Code du département'] =parti_commune['Code du département'].apply(str)
parti_commune['Code du département'] =parti_commune['Code du département'].str.zfill(2)

In [818]:
parti_commune

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom,Bloc_politique
0,01,Ain,001,L'Abergement-Clémenciat,2,LE PEN,Marine,Droite à extrême droite
1,01,Ain,002,L'Abergement-de-Varey,2,LE PEN,Marine,Droite à extrême droite
2,01,Ain,004,Ambérieu-en-Bugey,2,LE PEN,Marine,Droite à extrême droite
3,01,Ain,005,Ambérieux-en-Dombes,2,LE PEN,Marine,Droite à extrême droite
4,01,Ain,007,Ambronay,2,LE PEN,Marine,Droite à extrême droite
...,...,...,...,...,...,...,...,...
35405,64,Pyrénées-Atlantiques,383,Mialos,4,HAMON,Benoît,Gauche à centre gauche
35406,65,Hautes-Pyrénées,277,Lombrès,4,HAMON,Benoît,Gauche à centre gauche
35407,9D,La Réunion,412,Saint-Joseph,4,HAMON,Benoît,Gauche à centre gauche
35408,11,Aude,377,Serres,10,ASSELINEAU,François,Droite à extrême droite
35409,64,Pyrénées-Atlantiques,340,Lichans-Sunhar,6,POUTOU,Philippe,Extrême gauche à gauche

In [819]:
parti_commune['Code_INSEE'] = parti_commune['Code du département']+parti_commune['Code de la commune']
parti_commune

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom,Bloc_politique,Code_INSEE
0,01,Ain,001,L'Abergement-Clémenciat,2,LE PEN,Marine,Droite à extrême droite,01001
1,01,Ain,002,L'Abergement-de-Varey,2,LE PEN,Marine,Droite à extrême droite,01002
2,01,Ain,004,Ambérieu-en-Bugey,2,LE PEN,Marine,Droite à extrême droite,01004
3,01,Ain,005,Ambérieux-en-Dombes,2,LE PEN,Marine,Droite à extrême droite,01005
4,01,Ain,007,Ambronay,2,LE PEN,Marine,Droite à extrême droite,01007
...,...,...,...,...,...,...,...,...,...
35405,64,Pyrénées-Atlantiques,383,Mialos,4,HAMON,Benoît,Gauche à centre gauche,64383
35406,65,Hautes-Pyrénées,277,Lombrès,4,HAMON,Benoît,Gauche à centre gauche,65277
35407,9D,La Réunion,412,Saint-Joseph,4,HAMON,Benoît,Gauche à centre gauche,9D412
35408,11,Aude,377,Serres,10,ASSELINEAU,François,Droite à extrême droite,11377
35409,64,Pyrénées-Atlantiques,340,Lichans-Sunhar,6,POUTOU,Philippe,Extrême gauche à gauche,64340

In [820]:
Test = Var_CTRL.copy()

In [821]:
Test = pd.merge (Var_CTRL, parti_commune[['Bloc_politique','Code_INSEE']], left_on='COMINSEE', right_on='Code_INSEE', how='inner')
Test

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique,Code_INSEE
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,0.0,7020.0,29622,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite,06088
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,0.0,9754.0,20964,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite,06088
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0.0,2558.0,30208,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite,06088
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,0.0,1605.0,0,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite,06088
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,1467.0,15866.0,36059,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite,06088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,120780085,45665.700000,1,12,12089,34.0,5.0,3.0,235068.0,0.0,...,0.0,2056.0,12973,301,0.0,13274,Aveyron,6.4,Extrême gauche à gauche,12089
1186,480780097,240863.268333,1,48,48095,67.0,4.5,6.0,423436.0,1.0,...,392.0,3599.5,17798,8995,2869.0,29662,Lozère,5.3,Centre gauche à centre droit,48095
1187,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,0.0,421.0,6448,0,0.0,6448,Lozère,5.3,Centre gauche à centre droit,48080
1188,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0.0,205.0,5961,0,0.0,5961,Lozère,5.3,Centre droit à droite,48140
1189,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0.0,384.0,4692,0,0.0,4692,Lozère,5.3,Centre droit à droite,48092

Il manque 3 lignes: Les établissement ci-dessous

In [822]:
list2 = Var_CTRL.Numero_finess.unique()
list1 = Test.Numero_finess.unique()
res = [value for value in list2 if value not in list1]
res

['970100186', '970100160', '980500003']

In [823]:
Var_CTRL[Var_CTRL.Numero_finess=='970100160']

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep
812,970100160,3433.26,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,980.0,0.0,0.0,980.0,1900,0,0.0,1900,Guadeloupe,20.5

In [824]:
Var_CTRL[Var_CTRL.Numero_finess=='970100186']

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,SEJHC_MED,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep
811,970100186,54908.665,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,2382.0,955.0,969.0,4306.0,11148,3996,3279.0,18423,Guadeloupe,20.5

In [825]:
parti_commune[parti_commune['Code du département']=='9A']

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom,Bloc_politique,Code_INSEE
22445,9A,Guadeloupe,106,Bouillante,9,MÉLENCHON,Jean-Luc,Extrême gauche à gauche,9A106
22446,9A,Guadeloupe,110,La Désirade,9,MÉLENCHON,Jean-Luc,Extrême gauche à gauche,9A110
22447,9A,Guadeloupe,115,Lamentin,9,MÉLENCHON,Jean-Luc,Extrême gauche à gauche,9A115
22448,9A,Guadeloupe,134,Vieux-Habitants,9,MÉLENCHON,Jean-Luc,Extrême gauche à gauche,9A134
29697,9A,Guadeloupe,101,Les Abymes,3,MACRON,Emmanuel,Centre gauche à centre droit,9A101
29698,9A,Guadeloupe,102,Anse-Bertrand,3,MACRON,Emmanuel,Centre gauche à centre droit,9A102
29699,9A,Guadeloupe,103,Baie-Mahault,3,MACRON,Emmanuel,Centre gauche à centre droit,9A103
29700,9A,Guadeloupe,104,Baillif,3,MACRON,Emmanuel,Centre gauche à centre droit,9A104
29701,9A,Guadeloupe,105,Basse-Terre,3,MACRON,Emmanuel,Centre gauche à centre droit,9A105
29702,9A,Guadeloupe,107,Capesterre-Belle-Eau,3,MACRON,Emmanuel,Centre gauche à centre droit,9A107
29703,9A,Guadeloupe,108,Capesterre-de-Marie-Galante,3,MACRON,Emmanuel,Centre gauche à centre droit,9A108
29704,9A,Guadeloupe,109,Gourbeyre,3,MACRON,Emmanuel,Centre gauche à centre droit,9A109
29705,9A,Guadeloupe,111,Deshaies,3,MACRON,Emmanuel,Centre gauche à centre droit,9A111
29706,9A,Guadeloupe,112,Grand-Bourg,3,MACRON,Emmanuel,Centre gauche à centre droit,9A112
29707,9A,Guadeloupe,113,Le Gosier,3,MACRON,Emmanuel,Centre gauche à centre droit,9A113
29708,9A,Guadeloupe,114,Goyave,3,MACRON,Emmanuel,Centre gauche à centre droit,9A114
29709,9A,Guadeloupe,116,Morne-à-l'Eau,3,MACRON,Emmanuel,Centre gauche à centre droit,9A116
29710,9A,Guadeloupe,117,Le Moule,3,MACRON,Emmanuel,Centre gauche à centre droit,9A117
29711,9A,Guadeloupe,118,Petit-Bourg,3,MACRON,Emmanuel,Centre gauche à centre droit,9A118
29712,9A,Guadeloupe,119,Petit-Canal,3,MACRON,Emmanuel,Centre gauche à centre droit,9A119
29713,9A,Guadeloupe,120,Pointe-à-Pitre,3,MACRON,Emmanuel,Centre gauche à centre droit,9A120
29714,9A,Guadeloupe,121,Pointe-Noire,3,MACRON,Emmanuel,Centre gauche à centre droit,9A121
29715,9A,Guadeloupe,122,Port-Louis,3,MACRON,Emmanuel,Centre gauche à centre droit,9A122
29716,9A,Guadeloupe,124,Saint-Claude,3,MACRON,Emmanuel,Centre gauche à centre droit,9A124
29717,9A,Guadeloupe,125,Saint-François,3,MACRON,Emmanuel,Centre gauche à centre droit,9A125
29718,9A,Guadeloupe,126,Saint-Louis,3,MACRON,Emmanuel,Centre gauche à centre droit,9A126
29719,9A,Guadeloupe,128,Sainte-Anne,3,MACRON,Emmanuel,Centre gauche à centre droit,9A128
29720,9A,Guadeloupe,129,Sainte-Rose,3,MACRON,Emmanuel,Centre gauche à centre droit,9A129
29721,9A,Guadeloupe,130,Terre-de-Bas,3,MACRON,Emmanuel,Centre gauche à centre droit,9A130
29722,9A,Guadeloupe,132,Trois-Rivières,3,MACRON,Emmanuel,Centre gauche à centre droit,9A132
29723,9A,Guadeloupe,133,Vieux-Fort,3,MACRON,Emmanuel,Centre gauche à centre droit,9A133
35272,9A,Guadeloupe,131,Terre-de-Haut,11,FILLON,François,Centre droit à droite,9A131

Effectivement, les codes INSEE des communes 9A127 et 9A123 sont absents. Cependant, en Guadeloupe, les votes sont majoritairement en faveur du parti Centre gauche à Centre droit. Nous supposons que c'est le cas pour ces deux communes également.

In [826]:
Test= Test.append(Var_CTRL[Var_CTRL.Numero_finess=='970100160'])
Test= Test.append(Var_CTRL[Var_CTRL.Numero_finess=='970100186'])

In [827]:
Test

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique,Code_INSEE
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,0.0,7020.0,29622,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite,06088
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,0.0,9754.0,20964,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite,06088
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0.0,2558.0,30208,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite,06088
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,0.0,1605.0,0,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite,06088
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,1467.0,15866.0,36059,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite,06088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,0.0,421.0,6448,0,0.0,6448,Lozère,5.3,Centre gauche à centre droit,48080
1188,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0.0,205.0,5961,0,0.0,5961,Lozère,5.3,Centre droit à droite,48140
1189,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0.0,384.0,4692,0,0.0,4692,Lozère,5.3,Centre droit à droite,48092
812,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,0.0,980.0,1900,0,0.0,1900,Guadeloupe,20.5,NaN,NaN
811,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,969.0,4306.0,11148,3996,3279.0,18423,Guadeloupe,20.5,NaN,NaN

In [828]:
Test['Bloc_politique'] = Test['Bloc_politique'].fillna(value='Centre gauche à centre droit')

In [829]:
Test

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique,Code_INSEE
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,0.0,7020.0,29622,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite,06088
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,0.0,9754.0,20964,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite,06088
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0.0,2558.0,30208,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite,06088
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,0.0,1605.0,0,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite,06088
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,1467.0,15866.0,36059,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite,06088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,0.0,421.0,6448,0,0.0,6448,Lozère,5.3,Centre gauche à centre droit,48080
1188,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0.0,205.0,5961,0,0.0,5961,Lozère,5.3,Centre droit à droite,48140
1189,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0.0,384.0,4692,0,0.0,4692,Lozère,5.3,Centre droit à droite,48092
812,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,0.0,980.0,1900,0,0.0,1900,Guadeloupe,20.5,Centre gauche à centre droit,NaN
811,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,969.0,4306.0,11148,3996,3279.0,18423,Guadeloupe,20.5,Centre gauche à centre droit,NaN

In [830]:
parti_commune[parti_commune['Code du département']=='9F']

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,N°Panneau,Nom,Prénom,Bloc_politique,Code_INSEE
18995,9F,Mayotte,501,Acoua,2,LE PEN,Marine,Droite à extrême droite,9F501
18996,9F,Mayotte,502,Bandraboua,2,LE PEN,Marine,Droite à extrême droite,9F502
18997,9F,Mayotte,504,Bouéni,2,LE PEN,Marine,Droite à extrême droite,9F504
18998,9F,Mayotte,515,Pamandzi,2,LE PEN,Marine,Droite à extrême droite,9F515
29740,9F,Mayotte,508,Dzaoudzi,3,MACRON,Emmanuel,Centre gauche à centre droit,9F508
29741,9F,Mayotte,511,Mamoudzou,3,MACRON,Emmanuel,Centre gauche à centre droit,9F511
35279,9F,Mayotte,503,Bandrele,11,FILLON,François,Centre droit à droite,9F503
35280,9F,Mayotte,505,Chiconi,11,FILLON,François,Centre droit à droite,9F505
35281,9F,Mayotte,506,Chirongui,11,FILLON,François,Centre droit à droite,9F506
35282,9F,Mayotte,507,Dembeni,11,FILLON,François,Centre droit à droite,9F507
35283,9F,Mayotte,509,Kani-Kéli,11,FILLON,François,Centre droit à droite,9F509
35284,9F,Mayotte,510,Koungou,11,FILLON,François,Centre droit à droite,9F510
35285,9F,Mayotte,512,Mtsamboro,11,FILLON,François,Centre droit à droite,9F512
35286,9F,Mayotte,513,M'Tsangamouji,11,FILLON,François,Centre droit à droite,9F513
35287,9F,Mayotte,514,Ouangani,11,FILLON,François,Centre droit à droite,9F514
35288,9F,Mayotte,516,Sada,11,FILLON,François,Centre droit à droite,9F516
35289,9F,Mayotte,517,Tsingoni,11,FILLON,François,Centre droit à droite,9F517

Les établissements sont plutot de "centre droit à droite" à Mayotte

In [831]:
Test= Test.append(Var_CTRL[Var_CTRL.Numero_finess=='980500003'])

In [832]:
Test['Bloc_politique'] = Test['Bloc_politique'].fillna(value='Centre droit à droite')

In [833]:
Var_CTRL = Test

In [834]:
Var_CTRL= Var_CTRL.drop(['Code_INSEE'],axis=1)

In [835]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,SEJHC_CHI,SEJHC_OBS,SEJHC_MCO,JOU_MED,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,2280.0,0.0,7020.0,29622,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,2496.0,0.0,9754.0,20964,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0.0,0.0,2558.0,30208,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,1605.0,0.0,1605.0,0,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,6807.0,1467.0,15866.0,36059,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0.0,0.0,205.0,5961,0,0.0,5961,Lozère,5.3,Centre droit à droite
1189,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0.0,0.0,384.0,4692,0,0.0,4692,Lozère,5.3,Centre droit à droite
812,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,0.0,0.0,980.0,1900,0,0.0,1900,Guadeloupe,20.5,Centre gauche à centre droit
811,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,955.0,969.0,4306.0,11148,3996,3279.0,18423,Guadeloupe,20.5,Centre gauche à centre droit
1192,980500003,384239.250000,1,9F,9F611,364.0,6.0,7.0,1574514.0,5.0,...,3712.0,12180.0,23531.0,64066,21254,43387.0,128707,Mayotte,30,Centre droit à droite

## La qualité

Les données de qualité sont disponible sur le site : https://hospidiag.atih.sante.fr/cgi-bin/broker?_service=hospidiag&_debug=0&_program=hd.accueil_hd.sas
Il faut télécharger " Données brutes " puis utiliser le fichier de 2018 ( aucune valeur de qualité pour 2019 )

In [836]:
Hospi_diag2018 = pd.ExcelFile("C:/Users/louis/OneDrive/Documents/ENSAE/2A/Stat_app/Bases_complementaires/hospidiag_opendata_2018.xlsx")

In [837]:
print(Hospi_diag2018.sheet_names)

['Indicateurs', 'LISEZMOI', 'hd2018', 'qualite_2018', 'pdmreg_2018', 'pdmza_2018']

In [838]:
Qualite = pd.read_excel(Hospi_diag2018, 'qualite_2018')

In [839]:
Qualite

,finess,rs,reg,cat,taille_MCO,ind,indic_lib,fmt_indic,res,IC,...,typ_C,typ_D,typ_E,nat_A,nat_B,nat_C,nat_D,nat_E,finess_geo,rs_geo
0,010007300,CLINIQUE AMBULATOIRE CENDANEG,84,CLI,T1,Q1,esatismco,NaN,Non concerné,Non concerné,...,30.120482,9.638554,NaN,12.870013,28.957529,37.194337,20.978121,NaN,010007300,CLINIQUE AMBULATOIRE CENDANEG
1,010007300,CLINIQUE AMBULATOIRE CENDANEG,84,CLI,T1,Q2,esatisca,NaN,Données insuffisantes,Non concerné,...,30.136986,5.479452,NaN,15.042735,36.068376,38.632479,10.256410,NaN,010007300,CLINIQUE AMBULATOIRE CENDANEG
2,010007300,CLINIQUE AMBULATOIRE CENDANEG,84,CLI,T1,Q3,dpa_qls_mco,NaN,Non concerné,Non concerné,...,69.268293,NaN,NaN,8.460366,14.939024,76.600610,NaN,NaN,010007300,CLINIQUE AMBULATOIRE CENDANEG
3,010007300,CLINIQUE AMBULATOIRE CENDANEG,84,CLI,T1,Q4,dpa_dtn_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,010007300,CLINIQUE AMBULATOIRE CENDANEG
4,010007300,CLINIQUE AMBULATOIRE CENDANEG,84,CLI,T1,Q5,dan_trd_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,010007300,CLINIQUE AMBULATOIRE CENDANEG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13923,980500763,UNITÉ D'AUTODIALYSE MAMOUDZOU,6,CLI,T0,Q4,dpa_dtn_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,980500763,UNITE AUTODIALYSE MAMOUDZOU
13924,980500763,UNITÉ D'AUTODIALYSE MAMOUDZOU,6,CLI,T0,Q5,dan_trd_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,980500763,UNITE AUTODIALYSE MAMOUDZOU
13925,980500763,UNITÉ D'AUTODIALYSE MAMOUDZOU,6,CLI,T0,Q6,dan_tda_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,980500763,UNITE AUTODIALYSE MAMOUDZOU
13926,980500763,UNITÉ D'AUTODIALYSE MAMOUDZOU,6,CLI,T0,Q7,rcp_mco,Année sans recueil,Année sans recueil,Année sans recueil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,980500763,UNITE AUTODIALYSE MAMOUDZOU
13927,980500763,UNITÉ D'AUTODIALYSE MAMOUDZOU,6,CLI,T0,Q8,icsha3,NaN,161%,Non concerné,...,35.114504,NaN,NaN,23.133415,18.176255,58.690330,NaN,NaN,980500763,UNITE AUTODIALYSE MAMOUDZOU

In [840]:
Qualite.columns

Index(['finess', 'rs', 'reg', 'cat', 'taille_MCO', 'ind', 'indic_lib',
       'fmt_indic', 'res', 'IC', 'classe', 'annee', 'evo', 'cat_A', 'cat_B',
       'cat_C', 'cat_D', 'cat_E', 'reg_A', 'reg_B', 'reg_C', 'reg_D', 'reg_E',
       'typ_A', 'typ_B', 'typ_C', 'typ_D', 'typ_E', 'nat_A', 'nat_B', 'nat_C',
       'nat_D', 'nat_E', 'finess_geo', 'rs_geo'],
      dtype='object')

In [841]:
# On selectionne seulement les variables qui nous interessent
Qualite= Qualite[['finess','ind','cat_A','cat_B','cat_C','cat_D']]

On choisit de selectionner deux indicateurs : 
- La satisfaction des patients : Q1 
- L'indicateur de consommation de produits hydro-alcooliques : Q8

Q1 : Score ajusté de satisfaction globale des patients (e-Satis 48h MCO)

Q8 : Consommation des produits hydro-alcooliques version 3 (ICSHA.3)

In [842]:
# On commence par analyser le premier indicateur : Q1 
Qualite_Q1 = Qualite[Qualite['ind']=='Q1']

In [843]:
Qualite_Q1

          finess ind      cat_A      cat_B      cat_C      cat_D
0      010007300  Q1  18.478261  41.304348  30.434783   9.782609
8      010007987  Q1   2.898551  14.975845  48.309179  33.816425
16     010007987  Q1   2.898551  14.975845  48.309179  33.816425
24     010008407  Q1   2.898551  14.975845  48.309179  33.816425
32     010009132  Q1   2.898551  14.975845  48.309179  33.816425
...          ...  ..        ...        ...        ...        ...
13888  970462073  Q1  18.478261  41.304348  30.434783   9.782609
13896  970462081  Q1  18.478261  41.304348  30.434783   9.782609
13904  970462107  Q1  18.478261  41.304348  30.434783   9.782609
13912  970466751  Q1  18.478261  41.304348  30.434783   9.782609
13920  980500763  Q1  18.478261  41.304348  30.434783   9.782609

[1741 rows x 6 columns]

In [844]:
Qualite_Q1.finess.nunique()

1515

In [845]:
finess_double = Qualite_Q1[Qualite_Q1.duplicated(subset ='finess')]['finess']

In [846]:
Qualite_Q1[Qualite_Q1['finess'].isin(finess_double)]

          finess ind     cat_A      cat_B      cat_C      cat_D
8      010007987  Q1  2.898551  14.975845  48.309179  33.816425
16     010007987  Q1  2.898551  14.975845  48.309179  33.816425
32     010009132  Q1  2.898551  14.975845  48.309179  33.816425
40     010009132  Q1  2.898551  14.975845  48.309179  33.816425
368    050002948  Q1  2.898551  14.975845  48.309179  33.816425
...          ...  ..       ...        ...        ...        ...
13824  970408589  Q1  1.666667  10.000000  47.500000  40.833333
13832  970408589  Q1  1.666667  10.000000  47.500000  40.833333
13840  970408589  Q1  1.666667  10.000000  47.500000  40.833333
13848  970408589  Q1  1.666667  10.000000  47.500000  40.833333
13856  970408589  Q1  1.666667  10.000000  47.500000  40.833333

[334 rows x 6 columns]

Les doublons ont les memes valeurs, on peut supprimer.

In [847]:
Qualite_Q1.drop_duplicates(subset ='finess', keep = 'first', inplace=True)

<ipython-input-847-2f5225847d77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Qualite_Q1.drop_duplicates(subset ='finess', keep = 'first', inplace=True)

In [848]:
Qualite_Q1

          finess ind      cat_A      cat_B      cat_C      cat_D
0      010007300  Q1  18.478261  41.304348  30.434783   9.782609
8      010007987  Q1   2.898551  14.975845  48.309179  33.816425
24     010008407  Q1   2.898551  14.975845  48.309179  33.816425
32     010009132  Q1   2.898551  14.975845  48.309179  33.816425
48     010780054  Q1   2.898551  14.975845  48.309179  33.816425
...          ...  ..        ...        ...        ...        ...
13888  970462073  Q1  18.478261  41.304348  30.434783   9.782609
13896  970462081  Q1  18.478261  41.304348  30.434783   9.782609
13904  970462107  Q1  18.478261  41.304348  30.434783   9.782609
13912  970466751  Q1  18.478261  41.304348  30.434783   9.782609
13920  980500763  Q1  18.478261  41.304348  30.434783   9.782609

[1515 rows x 6 columns]

In [849]:
df =pd.merge (Var_CTRL,Qualite_Q1, left_on='Numero_finess', right_on='finess', how='inner' )

In [850]:
df= df.rename(columns={'cat_A' : 'Q1_A', 'cat_B' : 'Q1_B', 'cat_C' : 'Q1_C', 'cat_D' : 'Q1_D'})
df=df.drop(['ind','finess'], axis=1)

In [851]:
df

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique,Q1_A,Q1_B,Q1_C,Q1_D
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite,70.000000,30.000000,NaN,NaN
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,0,0.0,6448,Lozère,5.3,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425
1173,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0,0.0,5961,Lozère,5.3,Centre droit à droite,2.898551,14.975845,48.309179,33.816425
1174,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0,0.0,4692,Lozère,5.3,Centre droit à droite,2.898551,14.975845,48.309179,33.816425
1175,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,0,0.0,1900,Guadeloupe,20.5,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425
1176,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,3996,3279.0,18423,Guadeloupe,20.5,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425

In [852]:
# On fait la meme chose pour Q8 : 
Qualite_Q8 = Qualite[Qualite['ind']=='Q8']

In [853]:
Qualite_Q8.drop_duplicates(subset ='finess', keep = 'first', inplace=True)

<ipython-input-853-459cf48fd0cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Qualite_Q8.drop_duplicates(subset ='finess', keep = 'first', inplace=True)

In [854]:
df8 =pd.merge (Var_CTRL,Qualite_Q8, left_on='Numero_finess', right_on='finess', how='inner' )

In [855]:
df8= df8.rename(columns={'cat_A' : 'Q8_A', 'cat_B' : 'Q8_B', 'cat_C' : 'Q8_C', 'cat_D' : 'Q8_D'})
df8=df8.drop(['ind','finess'], axis=1)

In [856]:
df8

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,JOU_CHI,JOU_OBS,JOU_MCO,Departement,Taux_chomage_par_dep,Bloc_politique,Q8_A,Q8_B,Q8_C,Q8_D
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,5798,0.0,35420,Alpes-Maritimes,8.9,Centre droit à droite,33.333333,28.571429,38.095238,NaN
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,5550,0.0,26514,Alpes-Maritimes,8.9,Centre droit à droite,19.852941,21.323529,58.823529,NaN
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,0,0.0,30208,Alpes-Maritimes,8.9,Centre droit à droite,19.852941,21.323529,58.823529,NaN
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,1896,0.0,1896,Alpes-Maritimes,8.9,Centre droit à droite,42.766296,19.236884,37.996820,NaN
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,21749,6005.0,63813,Alpes-Maritimes,8.9,Centre droit à droite,42.766296,19.236884,37.996820,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,0,0.0,6448,Lozère,5.3,Centre gauche à centre droit,6.018519,10.339506,83.641975,NaN
1173,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,0,0.0,5961,Lozère,5.3,Centre droit à droite,6.018519,10.339506,83.641975,NaN
1174,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,0,0.0,4692,Lozère,5.3,Centre droit à droite,6.018519,10.339506,83.641975,NaN
1175,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,0,0.0,1900,Guadeloupe,20.5,Centre gauche à centre droit,6.018519,10.339506,83.641975,NaN
1176,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,3996,3279.0,18423,Guadeloupe,20.5,Centre gauche à centre droit,6.018519,10.339506,83.641975,NaN

In [857]:
df2 = pd.merge(df,df8)

In [858]:
df2

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,Taux_chomage_par_dep,Bloc_politique,Q1_A,Q1_B,Q1_C,Q1_D,Q8_A,Q8_B,Q8_C,Q8_D
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,8.9,Centre droit à droite,70.000000,30.000000,NaN,NaN,33.333333,28.571429,38.095238,NaN
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455,19.852941,21.323529,58.823529,NaN
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455,19.852941,21.323529,58.823529,NaN
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609,42.766296,19.236884,37.996820,NaN
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609,42.766296,19.236884,37.996820,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,480780162,5699.150000,1,48,48080,23.0,0.0,1.0,0.0,7.0,...,5.3,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425,6.018519,10.339506,83.641975,NaN
1173,480780121,2396.450000,1,48,48140,22.0,0.0,0.0,0.0,0.0,...,5.3,Centre droit à droite,2.898551,14.975845,48.309179,33.816425,6.018519,10.339506,83.641975,NaN
1174,480780154,517.680000,1,48,48092,20.0,0.0,0.0,0.0,0.0,...,5.3,Centre droit à droite,2.898551,14.975845,48.309179,33.816425,6.018519,10.339506,83.641975,NaN
1175,970100160,3433.260000,1,9A,9A123,10.0,0.0,0.0,0.0,2.0,...,20.5,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425,6.018519,10.339506,83.641975,NaN
1176,970100186,54908.665000,1,9A,9A127,71.0,3.0,2.0,0.0,2.5,...,20.5,Centre gauche à centre droit,2.898551,14.975845,48.309179,33.816425,6.018519,10.339506,83.641975,NaN

In [859]:
df2.columns

Index(['Numero_finess', 'Points_ISA', 'stjr', 'dep', 'COMINSEE', 'LIT_MCO',
       'Capital_Bloc', 'Capital_imagerie', 'Capital_Examens_biologiques',
       'Capital_telemed', 'SEJHC_MED', 'SEJHC_CHI', 'SEJHC_OBS', 'SEJHC_MCO',
       'JOU_MED', 'JOU_CHI', 'JOU_OBS', 'JOU_MCO', 'Departement',
       'Taux_chomage_par_dep', 'Bloc_politique', 'Q1_A', 'Q1_B', 'Q1_C',
       'Q1_D', 'Q8_A', 'Q8_B', 'Q8_C', 'Q8_D'],
      dtype='object')

In [860]:
liste1 = df2.Numero_finess.unique()
liste2 = Var_CTRL.Numero_finess.unique() 
res = [value for value in liste2 if value not in liste1]
res

['130045263',
 '310021571',
 '540000056',
 '690041132',
 '690041124',
 '750810798',
 '070007927',
 '230780074',
 '330060658',
 '560029068',
 '560002974',
 '570000141',
 '640019220',
 '640780862',
 '670020098',
 '980500003']

In [861]:
df_res = Var_CTRL[Var_CTRL.Numero_finess.isin(res)]
df_res[[ 'Q1_A', 'Q1_B', 'Q1_C', 'Q1_D', 'Q8_A', 'Q8_B', 'Q8_C','Q8_D']]=np.nan

C:\Users\louis\anaconda3\lib\site-packages\pandas\core\indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
<ipython-input-861-c0d3f17da80e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_res[[ 'Q1_A', 'Q1_B', 'Q1_C', 'Q1_D', 'Q8_A', 'Q8_B', 'Q8_C','Q8_D']]=np.nan
C:\Users\louis\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [862]:
Var_CTRL= pd.concat([df2, df_res])

In [863]:
Var_CTRL

,Numero_finess,Points_ISA,stjr,dep,COMINSEE,LIT_MCO,Capital_Bloc,Capital_imagerie,Capital_Examens_biologiques,Capital_telemed,...,Taux_chomage_par_dep,Bloc_politique,Q1_A,Q1_B,Q1_C,Q1_D,Q8_A,Q8_B,Q8_C,Q8_D
0,060000528,356892.030000,3,06,06088,128.0,8.0,9.0,909.0,1.0,...,8.9,Centre droit à droite,70.000000,30.000000,NaN,NaN,33.333333,28.571429,38.095238,NaN
1,060780947,174552.540000,3,06,06088,105.0,5.0,4.0,0.0,2.0,...,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455,19.852941,21.323529,58.823529,NaN
2,060791811,146432.633333,3,06,06088,91.0,2.0,2.0,0.0,0.0,...,8.9,Centre droit à droite,14.545455,38.181818,32.727273,14.545455,19.852941,21.323529,58.823529,NaN
3,060780442,22842.380000,2,06,06088,30.0,6.0,1.0,0.0,0.0,...,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609,42.766296,19.236884,37.996820,NaN
4,060780715,342051.171667,2,06,06088,256.0,26.0,10.0,0.0,0.0,...,8.9,Centre droit à droite,18.478261,41.304348,30.434783,9.782609,42.766296,19.236884,37.996820,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,570000141,7607.485000,1,57,57631,24.0,0.0,0.0,0.0,0.0,...,8.2,Droite à extrême droite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,640019220,75597.775000,2,64,64445,137.0,19.0,0.0,0.0,0.0,...,7,Centre gauche à centre droit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,640780862,413.120000,1,64,64445,0.0,0.0,0.0,0.0,0.0,...,7,Centre gauche à centre droit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,670020098,9344.040000,3,67,67482,120.0,3.0,0.0,0.0,0.0,...,7.1,Centre gauche à centre droit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,980500003,384239.250000,1,9F,9F611,364.0,6.0,7.0,1574514.0,5.0,...,30,Centre droit à droite,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [864]:
Var_CTRL.columns

Index(['Numero_finess', 'Points_ISA', 'stjr', 'dep', 'COMINSEE', 'LIT_MCO',
       'Capital_Bloc', 'Capital_imagerie', 'Capital_Examens_biologiques',
       'Capital_telemed', 'SEJHC_MED', 'SEJHC_CHI', 'SEJHC_OBS', 'SEJHC_MCO',
       'JOU_MED', 'JOU_CHI', 'JOU_OBS', 'JOU_MCO', 'Departement',
       'Taux_chomage_par_dep', 'Bloc_politique', 'Q1_A', 'Q1_B', 'Q1_C',
       'Q1_D', 'Q8_A', 'Q8_B', 'Q8_C', 'Q8_D'],
      dtype='object')